Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

Implement LIV-1494: Let ExecPlan smart recovery complete broad verifier findings
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
Due: gleam-format

Implement LIV-1494: Let ExecPlan smart recovery complete broad verifier findings (#656)
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
Due: gleam-format

test: synchronize recollect operation completion
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/control_operation_runtime.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

test: synchronize recollect operation completion (#657)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/control_operation_runtime.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1413-prune-terminal-run-history.md
  docs/plans/LIV-1413-prune-terminal-run-history.md
Due: none

Handle completion validator crashes
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Stabilize daemon contract waits
  test/orchestrator_daemon_test.gleam
Due: gleam-format

Handle completion validator crashes (#659)
  test/execplan_implementation_helper_test.gleam
  test/orchestrator_daemon_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1413-prune-terminal-run-history.md (#658)
  docs/plans/LIV-1413-prune-terminal-run-history.md
Due: none

ExecPlan review doc: docs/plans/LIV-1446-split-ledger-state-by-domain.md
  docs/plans/LIV-1446-split-ledger-state-by-domain.md
Due: none

ExecPlan review doc: docs/plans/LIV-1446-split-ledger-state-by-domain.md (#660)
  docs/plans/LIV-1446-split-ledger-state-by-domain.md
Due: none

docs(agents): added pre-release compatibility guidance
  AGENTS.md
Due: none

Use full plan recovery budget
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/workflow_run/recovery_execution.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/execplan_implementation_helper_test.gleam
  test/workflow_run_test.gleam
  test/workflow_step_recovery_test.gleam
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
Due: gleam-format

Use full plan recovery budget (#661)
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/workflow_run/recovery_execution.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/execplan_implementation_helper_test.gleam
  test/workflow_run_test.gleam
  test/workflow_step_recovery_test.gleam
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
Due: gleam-format

Extend plan recovery budget
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
Due: gleam-format

Extend plan recovery budget (#662)
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
Due: gleam-format

Accept qualified completion evidence
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Accept qualified completion evidence (#663)
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Allow compatible diff integrity checks
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
Due: gleam-format

Allow compatible diff integrity checks (#664)
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
Due: gleam-format

Validate rollout completion criteria
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Validate rollout completion criteria (#665)
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Fix verifier recovery attempt assertion
  test/review_native_workflow_test.gleam
Due: gleam-format

Stabilize control operation contract tests
  test/orchestrator_daemon_retry_step_test.gleam
Due: gleam-format

Fix verifier recovery attempt assertion (#667)
  test/orchestrator_daemon_retry_step_test.gleam
  test/review_native_workflow_test.gleam
Due: gleam-format

Cache ledger projection on append
  docs/plans/LIV-1411-ledger-append-hot-path-cache.md
  docs/runbooks/state-ledger-maintenance.md
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/state_handlers.gleam
  src/scherzo/state/ledger.gleam
  src/scherzo/state/ledger/cache.gleam
  src/scherzo/state/ledger/fingerprint.gleam
  src/scherzo/state/ledger/record_index.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo_ledger_cache_ffi.erl
  src/scherzo_state_ffi.erl
  test/ctl_state_compact_test.gleam
  test/ctl_test.gleam
  test/source_guardrail_test.gleam
  test/state_ledger_cache_test.gleam
  test/workstream_ledger_test.gleam
Due: gleam-format

Cache ledger projection on append (#668)
  docs/plans/LIV-1411-ledger-append-hot-path-cache.md
  docs/runbooks/state-ledger-maintenance.md
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/state_handlers.gleam
  src/scherzo/state/ledger.gleam
  src/scherzo/state/ledger/cache.gleam
  src/scherzo/state/ledger/fingerprint.gleam
  src/scherzo/state/ledger/record_index.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo_ledger_cache_ffi.erl
  src/scherzo_state_ffi.erl
  test/ctl_state_compact_test.gleam
  test/ctl_test.gleam
  test/source_guardrail_test.gleam
  test/state_ledger_cache_test.gleam
  test/workstream_ledger_test.gleam
Due: gleam-format

perf: index result artifact tool evidence
  src/scherzo/result_artifact.gleam
  test/result_artifact_test.gleam
Due: gleam-format

build(linear-cli): fixed linear-cli packaging for NixOS and Deno payloads
  devenv.nix
  nix/linear-cli.nix
Due: nix-format

chore(buildkite): set default organization
  .bk.yaml
Due: none

Add bounded Pi RPC progress
  docs/GETTING_STARTED.md
  docs/runbooks/simplified-yaml-migration.md
  nix/patches/pi-rpc-message-progress.patch
  nix/pi.nix
  src/scherzo/agent/auto_retry.gleam
  src/scherzo/agent/pi_event.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/agent/types.gleam
  src/scherzo/config.gleam
  test/agent_runner_test.gleam
  test/config_test.gleam
  test/config_types_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/schema_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format, nix-format

perf: index result artifact tool evidence (#669)
  src/scherzo/result_artifact.gleam
  test/result_artifact_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1529-one-ledger-projection-authority.md
  docs/plans/LIV-1529-one-ledger-projection-authority.md
Due: none

Add bounded Pi RPC progress (#670)
  docs/GETTING_STARTED.md
  docs/runbooks/simplified-yaml-migration.md
  nix/patches/pi-rpc-message-progress.patch
  nix/pi.nix
  src/scherzo/agent/auto_retry.gleam
  src/scherzo/agent/pi_event.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/agent/types.gleam
  src/scherzo/config.gleam
  test/agent_runner_test.gleam
  test/config_test.gleam
  test/config_types_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/schema_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format, nix-format

ExecPlan review doc: docs/plans/LIV-1529-one-ledger-projection-authority.md (#671)
  docs/plans/LIV-1529-one-ledger-projection-authority.md
Due: none

Implement LIV-1525: Retain retry workspaces and verify recoverability
  docs/architecture/daemon-boundary.md
  src/scherzo/cleanup/release_marker.gleam
  src/scherzo/cleanup/retry_retention.gleam
  src/scherzo/cleanup/retry_retention_marker.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/retry_step_operation.gleam
  src/scherzo/orchestrator/retry_step_resumption.gleam
  src/scherzo/retry_step_validation.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  src/scherzo/workspace_manifest.gleam
  test/cleanup_workspaces_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-1525: Retain retry workspaces and verify recoverability (#672)
  docs/architecture/daemon-boundary.md
  src/scherzo/cleanup/release_marker.gleam
  src/scherzo/cleanup/retry_retention.gleam
  src/scherzo/cleanup/retry_retention_marker.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/retry_step_operation.gleam
  src/scherzo/orchestrator/retry_step_resumption.gleam
  src/scherzo/retry_step_validation.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  src/scherzo/workspace_manifest.gleam
  test/cleanup_workspaces_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1528-unify-forced-fresh-retry-policy.md
  docs/plans/LIV-1528-unify-forced-fresh-retry-policy.md
Due: none

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
