Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

Implement LIV-846: Implement: Build daemon read-model projection for query/UI consumers
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/metrics.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/read_model.gleam
  test/control_query_metrics_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_read_model_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-846: Implement: Build daemon read-model projection for query/UI consumers (#427)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/metrics.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/read_model.gleam
  test/control_query_metrics_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_read_model_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

fix(dogfood): fixed execplan prompt body template path
  workflows/dogfood/execplan.yaml
Due: none

scherzo publication execplan/execplan_review_doc 6ff11ddc10b74fa124fcb847bb48bca911b131923dd15606242b7616a218b987
  docs/plans/commit-stack-artifact-publication.md
Due: none

scherzo publication implementation/review_doc c3f94d2f2a7ba58a6652a741d237d0a472b2678986283f9992eda7443a42388f
  docs/plans/ABC-123.md
Due: none

Fix ExecPlan PR body template path
  workflows/dogfood/execplan.yaml
Due: none

feat(artifact-publication): added retained artifact set parsing for exec plan bundles
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/workflow_artifact_descriptor.gleam
  test/artifact_publication_planner_test.gleam
Due: gleam-format

feat(artifact-publication): added PR-aware publication retries and recovery
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_repository/command_runner.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/github_paths.gleam
  src/scherzo/ctl/artifact_publication.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

fix(dogfood): fixed execplan PR body template path
  workflows/dogfood/execplan.yaml
Due: none

Implement LIV-863: Fix misleading orphan-cleanup recovery metadata on active YAML steps
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  test/orchestrator_daemon_retry_step_test.gleam
Due: gleam-format

Implement LIV-863: Fix misleading orphan-cleanup recovery metadata on active YAML steps (#431)
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  test/orchestrator_daemon_retry_step_test.gleam
Due: gleam-format

Implement LIV-866: Clarify daemon metrics and session read-model semantics
  docs/architecture/daemon-boundary.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/orchestrator/read_model.gleam
  src/scherzo/orchestrator/scheduled_runtime.gleam
  src/scherzo/orchestrator/session_metrics.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/tokens.gleam
  test/control_query_codec_test.gleam
  test/control_query_service_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_read_model_test.gleam
  test/session_hub_test.gleam
  test/session_metrics_test.gleam
  test/session_tokens_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-864: Fix scherzoctl task query display IDs and unfiltered list timeouts
  src/scherzo/ctl/usage.gleam
  src/scherzo/linear/task_query.gleam
  src/scherzo/tracker/linear_adapter.gleam
  test/control_query_backend_test.gleam
  test/fixtures/linear/display_id_issue_lookup_response.json
  test/tracker_linear_adapter_test.gleam
Due: gleam-format

Implement LIV-885: Implementation: resolve publication body templates from workflow bundles
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workflow_run.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_recording_test.gleam
  test/ctl_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-883: Implementation: harden artifact publication retry recovery
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_repository/command_runner.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/port.gleam
  src/scherzo_port_ffi.erl
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_command_runner_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-866: Clarify daemon metrics and session read-model semantics (#432)
  docs/architecture/daemon-boundary.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/orchestrator/read_model.gleam
  src/scherzo/orchestrator/scheduled_runtime.gleam
  src/scherzo/orchestrator/session_metrics.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/tokens.gleam
  test/control_query_codec_test.gleam
  test/control_query_service_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_read_model_test.gleam
  test/session_hub_test.gleam
  test/session_metrics_test.gleam
  test/session_tokens_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-864: Fix scherzoctl task query display IDs and unfiltered list timeouts (#433)
  src/scherzo/ctl/usage.gleam
  src/scherzo/linear/task_query.gleam
  src/scherzo/tracker/linear_adapter.gleam
  test/control_query_backend_test.gleam
  test/fixtures/linear/display_id_issue_lookup_response.json
  test/tracker_linear_adapter_test.gleam
Due: gleam-format

Implement LIV-885: Implementation: resolve publication body templates from workflow bundles (#434)
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workflow_run.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_recording_test.gleam
  test/ctl_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

LIV-871 ExecPlan review doc (#428)
  docs/plans/commit-stack-artifact-publication.md
Due: none

docs(dogfood): updated ExecPlan review PR messaging
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/prompts/execplan-pr-body.md
Due: none

Implement LIV-883: Implementation: harden artifact publication retry recovery (#435)
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_repository/command_runner.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/port.gleam
  src/scherzo_port_ffi.erl
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_command_runner_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

fix(envrc): fixed dotenv loading for FIFO-backed secrets
  .envrc
Due: none

Implement LIV-869: Retain research workflow findings as local artifacts
  docs/runbooks/portable-research-workflow.md
  examples/workflows/research.yaml
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/contract_io.gleam
  src/scherzo/workflow_run/output_contract_descriptor.gleam
  test/portable_research_workflow_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_contract_test.gleam
  workflows/dogfood/research.yaml
Due: gleam-format

Implement LIV-870: Support artifact publication retry for pre-plan failures
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/workflow_contract_manifest.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
Due: gleam-format

Implement LIV-869: Retain research workflow findings as local artifacts (#437)
  docs/runbooks/portable-research-workflow.md
  examples/workflows/research.yaml
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/contract_io.gleam
  src/scherzo/workflow_run/output_contract_descriptor.gleam
  test/portable_research_workflow_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_contract_test.gleam
  workflows/dogfood/research.yaml
Due: gleam-format

chore(scherzo): raised dogfood agent concurrency
  .scherzo/scherzo.yaml
Due: none

Implement LIV-870: Support artifact publication retry for pre-plan failures (#438)
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/workflow_contract_manifest.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
Due: gleam-format

LIV-872: add cleanup ownership ExecPlan
  docs/plans/LIV-872-robust-cleanup-ownership-delegation-review.md
Due: none

LIV-891: add typed lifecycle ExecPlan
  docs/plans/LIV-891-typed-lifecycle-refactor-review.md
Due: none

LIV-857: add generic artifact descriptor ExecPlan
  docs/plans/LIV-857-generic-custom-artifact-descriptors-binary-workflow-outputs.md
Due: none

Implement LIV-880: Support existing-branch targets for commit-stack publication
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/types.gleam
  src/scherzo/commit_stack_artifact.gleam
  src/scherzo/workflow_artifact_descriptor.gleam
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_descriptor_compat.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/contract_io.gleam
  src/scherzo/workflow_run/output_contract_descriptor.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_artifact_descriptor_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-873: Migrate implementation workflows to commit-stack publication
  .scherzo/scherzo.yaml
  nix/scherzo.nix
  schemas/scherzo.workflow.v1.schema.json
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_planner_support.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/types.gleam
  src/scherzo/commit_stack.gleam
  src/scherzo/config/types.gleam
  src/scherzo/config/workspace_driver_config.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_descriptor_compat.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/contract_io.gleam
  src/scherzo/workflow_run/output_contract_descriptor.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/orchestrator_config_test.gleam
  test/review_native_workflow_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/implementation-pr-body.md
Due: gleam-format, nix-format

Implement LIV-880: Support existing-branch targets for commit-stack publication (#444)
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/types.gleam
  src/scherzo/commit_stack_artifact.gleam
  src/scherzo/workflow_artifact_descriptor.gleam
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_descriptor_compat.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/contract_io.gleam
  src/scherzo/workflow_run/output_contract_descriptor.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_artifact_descriptor_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

LIV-857: add generic artifact descriptor ExecPlan (#441)
  docs/plans/LIV-857-generic-custom-artifact-descriptors-binary-workflow-outputs.md
Due: none

LIV-891: add typed lifecycle ExecPlan (#440)
  docs/plans/LIV-891-typed-lifecycle-refactor-review.md
Due: none

Implement LIV-890: Add generated tests for daemon transition edge ordering
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

LIV-872: add cleanup ownership ExecPlan (#439)
  docs/plans/LIV-872-robust-cleanup-ownership-delegation-review.md
Due: none

scherzo publication execplan/execplan_review_doc 7900d5d6b487c215659d66c43557626584e2a20a0624033d8664b8ca7c148fcc
  docs/plans/LIV-913-same-repo-commit-stack-publication-specs.md
Due: none

Implement LIV-890: Add generated tests for daemon transition edge ordering (#443)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format
