Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

feat(scherzo): add implementation dogfood workflow
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/prompts/apply-feedback.md
  .scherzo/workflows/prompts/code-review.md
  .scherzo/workflows/prompts/final-report.md
  .scherzo/workflows/prompts/implement.md
  scripts/scherzo-jj-workspace
Due: none

feat(scherzo): added research workflow result artifact handling
  .gitignore
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/prompts/research.md
  .scherzo/workflows/research.yaml
  scripts/scherzo-jj-workspace
  scripts/scherzo-pi
Due: none

feat(scherzo): add execplan dogfood workflow
  .pi/skills/exec-plan-review/SKILL.md
  .pi/skills/exec-plan/SKILL.md
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-review.md
  scripts/scherzo-execplan
  scripts/scherzo-pi
Due: none

docs(plan): add execplan for liv-33-json-output-for-scherzoctl-ps
  docs/plans/LIV-33-json-output-for-scherzoctl-ps.md
Due: none

feat(execplan): added execplan workflow and pi integration
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-review.md
  scripts/scherzo-execplan
  scripts/scherzo-pi
Due: none

feat(skills): added exec plan authoring and review skills
  .pi/skills/exec-plan-review/SKILL.md
  .pi/skills/exec-plan/SKILL.md
Due: none

feat(scherzo): add execplan revision workflow
  .gitignore
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-revision.yaml
  .scherzo/workflows/prompts/execplan-revision.md
  scripts/scherzo-execplan-revision
  scripts/scherzo-pi
Due: none

docs(plan): add execplan revision smoke plan
  docs/plans/LIV-000-execplan-revision-smoke.md
Due: none

docs(plan): revise execplan from PR #2 feedback
  docs/plans/LIV-000-execplan-revision-smoke.md
Due: none

test(state): added recovery and ledger projection coverage
  test/state_compaction_test.gleam
  test/state_ledger_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

docs(hardening-03): updated crash-recovery documentation and plan details
  README.md
  docs/plans/hardening-03-single-instance-crash-recovery.md
Due: none

feat(orchestrator): added startup ledger recovery to the daemon
  src/scherzo/orchestrator/daemon.gleam
Due: gleam-format

feat: add execplan implementation workflow
  .pi/skills/gleam-code-review/SKILL.md
  .pi/skills/gleam-performance-review/SKILL.md
  .pi/skills/gleam-review/SKILL.md
  .pi/skills/gleam-security-review/SKILL.md
  .pi/skills/gleam-test-review/SKILL.md
  .pi/skills/security-review-base/guidelines.md
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-implementation-review.md
  scripts/scherzo-execplan-implementation
  scripts/scherzo-pi
  src/scherzo/workspace_run.gleam
  test/execplan_implementation_helper_test.gleam
  test/runtime_bundle_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

test: e2e base for execplan implementation validation
  docs/plans/LIV-36-e2e-execplan-implementation-validation.md
Due: none

feat: implement liv-36-e2e-execplan-implementation-validation
  docs/plans/LIV-36-e2e-execplan-implementation-validation.md
  test/workflow_dag_test.gleam
Due: gleam-format

docs(scherzo-agent): added a scherzo agent devenv profile plan
  docs/plans/scherzo-agent-devenv-profile.md
Due: none

docs(plans): refined the Scherzo agent devenv profile plan
  docs/plans/scherzo-agent-devenv-profile.md
Due: none

docs(hardening-03): updated crash recovery plan with smoke validation results
  docs/plans/hardening-03-single-instance-crash-recovery.md
Due: none

feat(workspace_run): added workspace run support for execplan implementation
  src/scherzo/workspace_run.gleam
  test/execplan_implementation_helper_test.gleam
  test/runtime_bundle_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

docs(pi): added Gleam review guidance skills
  .pi/skills/gleam-code-review/SKILL.md
  .pi/skills/gleam-performance-review/SKILL.md
  .pi/skills/gleam-review/SKILL.md
  .pi/skills/gleam-security-review/SKILL.md
  .pi/skills/gleam-test-review/SKILL.md
  .pi/skills/security-review-base/guidelines.md
Due: none

feat(scherzo): added execplan implementation workflow support
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-implementation-review.md
  scripts/scherzo-execplan-implementation
  scripts/scherzo-pi
Due: none

feat(devenv): add Scherzo agent profile
  .scherzo/README.md
  devenv.nix
  docs/plans/scherzo-agent-devenv-profile.md
Due: nix-format

Fix devenv Gleam install on Linux ARM
  devenv.nix
  test/state_recovery_test.gleam
Due: gleam-format, nix-format

build(devenv): updated nixpkgs to nixos-25.11
  devenv.lock
  devenv.yaml
Due: none

docs(agent-pi-rpc-decomposition): refined the agent pi rpc decomposition plan
  docs/plans/agent-pi-rpc-decomposition.md
Due: none

fix(scherzo-jj-workspace): fixed workspace creation and direnv trust handling
  .scherzo/README.md
  scripts/scherzo-jj-workspace
Due: none

docs(plan): add execplan for liv-30-daemon-visible-turn-telemetry
  docs/plans/LIV-30-daemon-visible-turn-telemetry.md
Due: none

feat(pi_rpc): added nested pi event and agent end content decoding
  .scherzo/README.md
  scripts/scherzo-jj-workspace
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/pi_rpc_test.gleam
Due: gleam-format

fix(execplan): fixed execplan validation and review workflow prompts
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-repair-validation.md
  .scherzo/workflows/prompts/execplan-review.md
Due: none

feat(implementation): added direct ticket-based implementation workflow support
  .scherzo/README.md
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/prompts/apply-feedback.md
  .scherzo/workflows/prompts/code-review.md
  .scherzo/workflows/prompts/implement.md
  scripts/scherzo-implementation
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-42-better-failure-diagnostics-reporting
  docs/plans/LIV-42-better-failure-diagnostics-reporting.md
Due: none

feat: implement liv-45
  .scherzo/README.md
  .scherzo/scherzo.yaml
Due: none

feat: implement pi-operator-skill
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
  README.md
  docs/plans/pi-operator-skill.md
  test/skill_docs_test.gleam
Due: gleam-format

fix(implementation): normalize publish branches before push
  scripts/scherzo-implementation
  scripts/scherzo-jj-workspace
  test/execplan_implementation_helper_test.gleam
Due: gleam-format
