Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

Implement LIV-1227: Model UI server config as enabled/disabled variants (#559)
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/config/ui_server.gleam
  src/scherzo/connect.gleam
  src/scherzo/control/query/backend.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/config_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_remote_client_test.gleam
  test/remote_daemon_registration_integration_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

Implement LIV-1222: Model artifact publication routes as mode-specific variants (#560)
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_pr_text.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_publication_runtime.gleam
  src/scherzo/commit_stack_publication_preflight.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/cleanup_workspaces_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_dag_validator_parser_test.gleam
Due: gleam-format

Implement LIV-1223: Encode workflow contract source requirements in the type (#561)
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_output_recollection.gleam
  src/scherzo/workflow_run/contract_io.gleam
  src/scherzo/workstream/start.gleam
  src/scherzo/workstream/start_manual.gleam
  test/output_contract_descriptor_test.gleam
  test/portable_research_workflow_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_run_test.gleam
  test/workstream_phase_metadata_test.gleam
  test/workstream_start_test.gleam
Due: gleam-format

Implement LIV-1224: Consolidate runtime task lifecycle into one state model (#562)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/abandoned_claim.gleam
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/parked_issue.gleam
  src/scherzo/orchestrator/runtime_recovery.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_invariants.gleam
  src/scherzo/orchestrator/transitions/claim_retries.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/runtime/state.gleam
  src/scherzo/state/recovery.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/orchestrator_state_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
  test/workflow_output_recollection_test.gleam
Due: gleam-format

Implement LIV-1225: Replace workspace source option pairs with a WorkspaceSource type (#563)
  docs/architecture/daemon-boundary.md
  src/scherzo/artifact_publication_runtime.gleam
  src/scherzo/local_workflow_run.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_output_recollection.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace.gleam
  src/scherzo/workspace_driver_lifecycle.gleam
  src/scherzo/workspace_manifest.gleam
  src/scherzo/workspace_run.gleam
  test/artifact_publication_runtime_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/orchestrator_service_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/source_guardrail_test.gleam
  test/step_worker_pool_test.gleam
  test/workflow_run_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

Implement LIV-1226: Drop unsupported structured-output source policy booleans (#564)
  .pi/extensions/scherzo-structured-output/index.ts
  docs/specs/STRUCTURED_OUTPUT_VALIDATOR_SPEC.md
  schemas/scherzo.workflow.v1.schema.json
  scripts/scherzo-structured-output-raw-schema-smoke
  src/scherzo/structured_output.gleam
  src/scherzo/structured_output_contract_policy.gleam
  src/scherzo/structured_output_source.gleam
  src/scherzo/structured_output_tool_spec.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run/structured_output_step.gleam
  src/scherzo/workflow_step_recovery.gleam
  src/scherzo/workflow_structured_retry.gleam
  src/scherzo_structured_output_contract.gleam
  test/fixtures/structured_output/pi_raw_schema/spec.correctness.json
  test/public_yaml_schema_test.gleam
  test/review_native_workflow_test.gleam
  test/structured_artifact_store_test.gleam
  test/structured_output_contract_command_test.gleam
  test/structured_output_test.gleam
  test/structured_output_tool_spec_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/implementation.yaml
Due: gleam-format

Implement LIV-1221: Refactor session event payloads into typed variants
  src/scherzo/control/client.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/json.gleam
  src/scherzo/terminal/render.gleam
  test/agent_runner_test.gleam
  test/control_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_event_publisher_test.gleam
  test/schema_guardrail_test.gleam
  test/session_event_test.gleam
  test/session_hub_test.gleam
  test/session_redaction_test.gleam
  test/source_guardrail_test.gleam
  test/terminal_render_test.gleam
Due: gleam-format

Implement LIV-1221: Refactor session event payloads into typed variants (#565)
  src/scherzo/control/client.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/json.gleam
  src/scherzo/terminal/render.gleam
  test/agent_runner_test.gleam
  test/control_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_event_publisher_test.gleam
  test/schema_guardrail_test.gleam
  test/session_event_test.gleam
  test/session_hub_test.gleam
  test/session_redaction_test.gleam
  test/source_guardrail_test.gleam
  test/terminal_render_test.gleam
Due: gleam-format

feat(workflow): added workflow-level model defaults for agent steps
  docs/GETTING_STARTED.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/workflow_dag.gleam
  test/public_yaml_schema_test.gleam
  test/workflow_dag_test.gleam
Due: gleam-format

Implement LIV-1241: Expose daemon workflow detail commands
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/query/workflow.gleam
  src/scherzo/control/query/workflow_dto.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  test/command_step_test.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1241: Expose daemon workflow detail commands (#566)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/query/workflow.gleam
  src/scherzo/control/query/workflow_dto.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  test/command_step_test.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

test(public_yaml_schema): expanded rejection coverage for removed config shapes
  test/agent_worker_control_test.gleam
  test/public_yaml_schema_test.gleam
Due: gleam-format

test(control): fixed timeout tests to use blocking barriers
  test/control_query_service_test.gleam
  test/control_server_test.gleam
  test/support/remote_ui_test_server.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1247-async-control-command-acknowledgements.md
  docs/plans/LIV-1247-async-control-command-acknowledgements.md
Due: none

ExecPlan review doc: docs/plans/LIV-1247-async-control-command-acknowledgements.md (#567)
  docs/plans/LIV-1247-async-control-command-acknowledgements.md
Due: none

test(test_async): refactored test async message drains and no-extra assertions
  test/agent_runner_test.gleam
  test/control_query_backend_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/orchestrator_effect_runner_test.gleam
  test/workflow_run_test.gleam
  test/workstream_start_test.gleam
Due: gleam-format

test(scherzo_lint): added determinism guard lint checks for tests
  test/control_remote_client_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/scherzo_lint.gleam
  test/scherzo_lint/test_determinism_guard.gleam
  test/scherzo_lint/test_determinism_guard_test.gleam
Due: gleam-format

refactor(ctl): refactored CLI and helpers to accept injected environment readers
  src/scherzo/artifact_repository/command_runner.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/schedules.gleam
  src/scherzo/structured_output_json_schema.gleam
  src/scherzo/workspace_driver_command.gleam
  src/scherzo_port_ffi.erl
  test/artifact_repository_command_runner_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/port_test.gleam
  test/scherzo_test_ffi.erl
  test/structured_output_json_schema_test.gleam
  test/tracker_conformance_cli_driver_test.gleam
  test/workflow_run_test.gleam
  test/workspace_driver_discovery_test.gleam
Due: gleam-format

docs(linting): updated linting docs for test determinism guard
  docs/LINTING.md
Due: none

docs(tests): updated contract shard docs for guarded tmp cleanup
  README.md
  docs/ARCHITECTURE.md
  test/README.md
Due: none

test(contract): added shared tmp locking for contract suites
  test/scherzo_test.gleam
Due: gleam-format

ci(selfci): updated selfci to use contract shard wrapper
  .config/selfci/ci.sh
Due: none

ExecPlan review doc: docs/plans/LIV-1257-bounded-resumable-cleanup-retained-run-lifecycle.md
  docs/plans/LIV-1257-bounded-resumable-cleanup-retained-run-lifecycle.md
Due: none

Implement LIV-1246: Constrain native review evidence requests to allowlisted keys
  docs/review-artifacts.md
  src/scherzo/workflow_structured_retry.gleam
  src/scherzo_port_ffi.erl
  test/fixtures/review-lane-contract/correctness/malformed-evidence-target.arguments.json
  test/fixtures/review-lane-contract/idioms-maintainability/malformed-evidence-target.arguments.json
  test/fixtures/review-lane-contract/security-performance/malformed-evidence-target.arguments.json
  test/fixtures/review-lane-contract/test-quality/malformed-evidence-target.arguments.json
  test/review_lane_contract_test.gleam
  test/scherzo_test.gleam
  workflows/dogfood/prompts/review-native-correctness.md
  workflows/dogfood/prompts/review-native-idioms-maintainability.md
  workflows/dogfood/prompts/review-native-security-performance.md
  workflows/dogfood/prompts/review-native-test-quality.md
  workflows/dogfood/schemas/provider/review-lane-draft.correctness.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.idioms-maintainability.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.security-performance.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.test-quality.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.v1.schema.json
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo_review/review_lane_contract.py
Due: gleam-format

fix: make CI shell path overrides deterministic
  src/scherzo_port_ffi.erl
  test/cleanup_workspaces_test.gleam
  test/scherzo_test.gleam
Due: gleam-format

LIV-1257: ExecPlan — Design bounded resumable cleanup and retained-run lifecycle policy (#568)
  docs/plans/LIV-1257-bounded-resumable-cleanup-retained-run-lifecycle.md
  src/scherzo_port_ffi.erl
  test/cleanup_workspaces_test.gleam
  test/scherzo_test.gleam
Due: gleam-format

ci: replace SelfCI with scripts/scherzo-ci as the canonical gate
  .buildkite/pipeline.yml
  .config/selfci/ci.sh
  .config/selfci/ci.yaml
  README.md
  devenv.nix
  docs/ARCHITECTURE.md
  docs/review-artifacts.md
  docs/runbooks/execplan-completion-preflight.md
  docs/runbooks/glinter.md
  scripts/scherzo-ci
  test/execplan_implementation_helper_test.gleam
  test/pi_client_test.gleam
  test/review_artifacts_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/final-report.md
  workflows/dogfood/prompts/repair-base-drift.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format, nix-format

refactor(execplan): rename code-change bundle validation slot to scherzo-ci
  test/fixtures/execplan_v2/artifacts/runs/run-2/execplan/code-change/validation/scherzo-ci.json
  test/fixtures/execplan_v2/code-change-bundle.valid.json
  workflows/dogfood/scripts/scherzo-execplan
Due: none

perf(validate): reuse a passing run when the tree is unchanged
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

test(perf): move remaining slow contract tests out of unit
  test/README.md
  test/scherzo_test.gleam
Due: gleam-format

test(perf): slim default unit suite
  .gitignore
  test/README.md
  test/scherzo_test.gleam
  test/scherzo_test_ffi.erl
  test/support/test_helpers.gleam
Due: gleam-format

test(perf): move worker control tests to contract runtime
  test/README.md
  test/scherzo_test.gleam
Due: gleam-format

test(perf): move command validator tests to contract workflow
  test/README.md
  test/scherzo_test.gleam
Due: gleam-format

test(cleanup): avoid ambient Linear API key in workspace fixture
  test/cleanup_workspaces_test.gleam
Due: gleam-format

fix(port): fixed port termination to drain exit status after stdout
  src/scherzo_port_ffi.erl
  test/port_test.gleam
  test/scherzo_test_ffi.erl
Due: gleam-format

fix(control-query): fixed query timeouts to use 1000ms settings consistently
  src/scherzo/control/client.gleam
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/metrics.gleam
  src/scherzo/control/query/outbox.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  test/control_query_backend_test.gleam
  test/control_query_metrics_test.gleam
  test/control_query_outbox_test.gleam
Due: gleam-format

Implement LIV-1246: Constrain native review evidence requests to allowlisted keys (#569)
  docs/review-artifacts.md
  src/scherzo/workflow_structured_retry.gleam
  src/scherzo_port_ffi.erl
  test/fixtures/review-lane-contract/correctness/malformed-evidence-target.arguments.json
  test/fixtures/review-lane-contract/idioms-maintainability/malformed-evidence-target.arguments.json
  test/fixtures/review-lane-contract/security-performance/malformed-evidence-target.arguments.json
  test/fixtures/review-lane-contract/test-quality/malformed-evidence-target.arguments.json
  test/review_lane_contract_test.gleam
  test/scherzo_test.gleam
  workflows/dogfood/prompts/review-native-correctness.md
  workflows/dogfood/prompts/review-native-idioms-maintainability.md
  workflows/dogfood/prompts/review-native-security-performance.md
  workflows/dogfood/prompts/review-native-test-quality.md
  workflows/dogfood/schemas/provider/review-lane-draft.correctness.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.idioms-maintainability.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.security-performance.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.test-quality.v1.schema.json
  workflows/dogfood/schemas/provider/review-lane-draft.v1.schema.json
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo_review/review_lane_contract.py
Due: gleam-format

fix(orchestrator): fixed late replies from daemon queries leaking into caller mailboxes
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  test/orchestrator_daemon_control_test.gleam
  test/scherzo_test_ffi.erl
Due: gleam-format

ci(scripts): fixed CI flake refs for jj workspaces
  scripts/scherzo-ci
Due: none

fix(execplan-workflow): updated execplan paths to the tracked .scherzo workflow bundle
  .scherzo/README.md
  docs/review-artifacts.md
  test/execplan_workflow_guidance_test.gleam
  workflows/dogfood/guidance/exec-plan-review.md
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-implementation-apply-final-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/prompts/execplan-review.md
  workflows/dogfood/prompts/execplan-revision.md
  workflows/dogfood/scripts/scherzo_workflow/commit_stack.py
Due: gleam-format
