Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

Implement LIV-927: Plan crash-safe retry scheduling and dispatch boundaries
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/state/ledger_batch.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/recovery.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

scherzo publication execplan/execplan_review_doc d553f158e500d031c856eda092f83d8a224105bddccc622321e951238b7eb926 (#465)
  docs/plans/LIV-910-execplan-publication-workspace-driver-commit-stack.md
Due: none

Implement LIV-861: Upgrade Gleam to 1.17.0 (#464)
  devenv.nix
  devenv.yaml
  flake.nix
  nix/gleam-bin.nix
Due: nix-format

Implement LIV-894: Add operator command for ledger compaction (#466)
  src/scherzo/ctl.gleam
  src/scherzo/ctl/state_handlers.gleam
  src/scherzo/ctl/usage.gleam
  src/scherzo/state/ledger.gleam
  test/ctl_state_compact_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-918: Migrate implementation workflows to declarative commit_stack publication (#467)
  .scherzo/scherzo.yaml
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/workflow_run.gleam
  test/artifact_publication_planner_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/review_native_workflow_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/implementation-publication-pr-body.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Fix retry-step contract log wait
  test/orchestrator_daemon_retry_step_test.gleam
Due: gleam-format

Implement LIV-932: Fix retry-step orphaning command steps when resumed parent exits non-active
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo_port_ffi.erl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/port_test.gleam
  test/scherzo_test_ffi.erl
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-932: Fix retry-step orphaning command steps when resumed parent exits non-active (#469)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo_port_ffi.erl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/port_test.gleam
  test/scherzo_test_ffi.erl
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-881: Migrate merge-conflict-resolution to commit-stack publication
  nix/scherzo.nix
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/commit_stack_artifact.gleam
  src/scherzo/config/workspace_driver_config.gleam
  test/artifact_publication_planner_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/merge-conflict-resolution.yaml
  workflows/dogfood/scripts/scherzo-merge-conflict
Due: gleam-format, nix-format

Implement LIV-881: Migrate merge-conflict-resolution to commit-stack publication (#470)
  nix/scherzo.nix
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/commit_stack_artifact.gleam
  src/scherzo/config/workspace_driver_config.gleam
  test/artifact_publication_planner_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/merge-conflict-resolution.yaml
  workflows/dogfood/scripts/scherzo-merge-conflict
Due: gleam-format, nix-format

Implement LIV-927: Plan crash-safe retry scheduling and dispatch boundaries (#468)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/state/ledger_batch.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/recovery.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

scherzo publication execplan/execplan_review_doc ba91aae47b46c30f81d93007a7200f0ccbf5d884eccc83833b350b767c50180d
  docs/plans/LIV-720-retire-legacy-workflow-artifact-aliases.md
Due: none

scherzo publication execplan/execplan_review_doc f9a4673894693688a4c87aebefb97d6f54b0c7dc931906fef600d825c0690b66
  docs/plans/LIV-895-linear-tasks-from-task-predicate-review.md
Due: none

scherzo publication execplan/execplan_review_doc 1c35d068ff90e0196f5840b6bafdc10d48ff4a1946101a9426db87483be85093
  docs/plans/LIV-928-durable-outbox-replay-external-tracker-side-effects.md
Due: none

scherzo publication execplan/execplan_review_doc fc0e1345cbbd728f40eac67e1e4e9506b2375eb4194f86b234e4a46405e15cad
  docs/plans/LIV-933-composable-cli-command-help.md
Due: none

LIV-936: publish implementation change
  .scherzo/README.md
  .scherzo/scherzo.yaml
  docs/GETTING_STARTED.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/scherzo.yaml
  examples/workflows/commit-stack-publication.yaml
  examples/workflows/merge-conflict-resolution.yaml
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

LIV-934: publish implementation change
  .scherzo/scherzo.yaml
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_repository/checkout_lock.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/github_paths.gleam
  src/scherzo/artifact_repository/types.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
Due: gleam-format

LIV-930: publish implementation change
  .scherzo/scherzo.yaml
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_planner_support.gleam
  src/scherzo/artifact_publication_pr.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/commit_stack_artifact.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_runtime_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/jj_workspace_driver_test.gleam
  test/source_guardrail_test.gleam
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/prompts/execplan-pr-body.md
  workflows/dogfood/prompts/implementation-publication-pr-body.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

LIV-934: publish implementation change
  .scherzo/scherzo.yaml
  docs/plans/github-artifact-repository-adapter.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/artifact_publication_attempts.gleam
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/checkout_lock.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/github_paths.gleam
  src/scherzo/artifact_repository/types.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/orchestrator_config_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
Due: gleam-format

LIV-936: publish implementation change
  docs/GETTING_STARTED.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/scherzo.yaml
  examples/workflows/commit-stack-publication.yaml
  examples/workflows/merge-conflict-resolution.yaml
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/types.gleam
  src/scherzo/commit_stack_publication_preflight.gleam
  src/scherzo/workspace_profile.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_runtime_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/execplan-pr-body.md
  workflows/dogfood/prompts/execplan-recover-failed-step.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

LIV-936: publish implementation change (#475)
  .scherzo/README.md
  .scherzo/scherzo.yaml
  docs/GETTING_STARTED.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/scherzo.yaml
  examples/workflows/commit-stack-publication.yaml
  examples/workflows/merge-conflict-resolution.yaml
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

scherzo publication execplan/execplan_review_doc fc0e1345cbbd728f40eac67e1e4e9506b2375eb4194f86b234e4a46405e15cad (#474)
  docs/plans/LIV-933-composable-cli-command-help.md
Due: none

scherzo publication execplan/execplan_review_doc 1c35d068ff90e0196f5840b6bafdc10d48ff4a1946101a9426db87483be85093 (#473)
  docs/plans/LIV-928-durable-outbox-replay-external-tracker-side-effects.md
Due: none

scherzo publication execplan/execplan_review_doc f9a4673894693688a4c87aebefb97d6f54b0c7dc931906fef600d825c0690b66 (#472)
  docs/plans/LIV-895-linear-tasks-from-task-predicate-review.md
Due: none

Address single-operator plan feedback
  docs/plans/LIV-720-retire-legacy-workflow-artifact-aliases.md
Due: none

LIV-720: add ExecPlan review document (#471)
  docs/plans/LIV-720-retire-legacy-workflow-artifact-aliases.md
Due: none

LIV-930: publish implementation change
  .scherzo/scherzo.yaml
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_pr_text.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_runtime_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/jj_workspace_driver_test.gleam
  test/source_guardrail_test.gleam
  workflows/dogfood/prompts/execplan-pr-body.md
  workflows/dogfood/prompts/implementation-publication-pr-body.md
Due: gleam-format

LIV-930: publish implementation change (#479)
  .scherzo/scherzo.yaml
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_decode.gleam
  src/scherzo/artifact_publication_pr_text.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_runtime_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/jj_workspace_driver_test.gleam
  test/source_guardrail_test.gleam
  workflows/dogfood/prompts/execplan-pr-body.md
  workflows/dogfood/prompts/implementation-publication-pr-body.md
Due: gleam-format

test(artifact_publication_planner): added retained-value target planning coverage
  test/artifact_publication_planner_test.gleam
Due: gleam-format

refactor(artifact_publication_planner): refactored existing PR target selection into shared support
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_support.gleam
Due: gleam-format

LIV-934: publish implementation change (#476)
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_repository/checkout_lock.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/artifact_repository/github_paths.gleam
  src/scherzo/artifact_repository/types.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_planner_test.gleam
  test/artifact_publication_recording_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
Due: gleam-format

LIV-1010: implement Make commit-stack publication idempotent across partial failures
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  test/artifact_publication_executor_test.gleam
  test/jj_workspace_driver_test.gleam
Due: gleam-format

LIV-1011: implement Reframe workflow recovery as repair-and-recheck
  docs/plans/LIV-481-self-healing-workflow-step-recovery.md
  docs/plans/LIV-497-runtime-workflow-step-recovery-execution.md
  docs/plans/LIV-499-operator-history-for-workflow-step-recovery.md
  docs/plans/LIV-500-workflow-step-recovery-negative-path-hardening.md
  docs/runbooks/workflow-step-recovery.md
  examples/workflows/prompts/research-recover-failed-step.md
  examples/workflows/schemas/provider/workflow-step-recovery-result.v1.schema.json
  examples/workflows/schemas/workflow-step-recovery-result.v1.schema.json
  src/scherzo/ctl/workflow_recovery_history.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_outcome.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/recovery_execution.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/artifact_store_test.gleam
  test/ctl_test.gleam
  test/ctl_workflow_recovery_history_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/portable_research_workflow_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/schema_guardrail_test.gleam
  test/state_projection_test.gleam
  test/workflow_outcome_test.gleam
  test/workflow_recovery_planner_test.gleam
  test/workflow_repair_test.gleam
  test/workflow_run_test.gleam
  test/workflow_step_recovery_test.gleam
  workflows/dogfood/prompts/execplan-implementation-recover-failed-step.md
  workflows/dogfood/prompts/execplan-recover-failed-step.md
  workflows/dogfood/prompts/implementation-recover-failed-step.md
  workflows/dogfood/prompts/recover_failed_step.md
  workflows/dogfood/prompts/research-recover-failed-step.md
  workflows/dogfood/schemas/provider/workflow-step-recovery-result.v1.schema.json
  workflows/dogfood/schemas/workflow-step-recovery-result.v1.schema.json
Due: gleam-format

LIV-1011: implement Reframe workflow recovery as repair-and-recheck (#481)
  docs/plans/LIV-481-self-healing-workflow-step-recovery.md
  docs/plans/LIV-497-runtime-workflow-step-recovery-execution.md
  docs/plans/LIV-499-operator-history-for-workflow-step-recovery.md
  docs/plans/LIV-500-workflow-step-recovery-negative-path-hardening.md
  docs/runbooks/workflow-step-recovery.md
  examples/workflows/prompts/research-recover-failed-step.md
  examples/workflows/schemas/provider/workflow-step-recovery-result.v1.schema.json
  examples/workflows/schemas/workflow-step-recovery-result.v1.schema.json
  src/scherzo/ctl/workflow_recovery_history.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_outcome.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/recovery_execution.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/artifact_store_test.gleam
  test/ctl_test.gleam
  test/ctl_workflow_recovery_history_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/portable_research_workflow_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/schema_guardrail_test.gleam
  test/state_projection_test.gleam
  test/workflow_outcome_test.gleam
  test/workflow_recovery_planner_test.gleam
  test/workflow_repair_test.gleam
  test/workflow_run_test.gleam
  test/workflow_step_recovery_test.gleam
  workflows/dogfood/prompts/execplan-implementation-recover-failed-step.md
  workflows/dogfood/prompts/execplan-recover-failed-step.md
  workflows/dogfood/prompts/implementation-recover-failed-step.md
  workflows/dogfood/prompts/recover_failed_step.md
  workflows/dogfood/prompts/research-recover-failed-step.md
  workflows/dogfood/schemas/provider/workflow-step-recovery-result.v1.schema.json
  workflows/dogfood/schemas/workflow-step-recovery-result.v1.schema.json
Due: gleam-format

LIV-1009: implement Prevent publish-commit-stack from mutating the selected head
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

LIV-1010: implement Make commit-stack publication idempotent across partial failures (#483)
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  test/artifact_publication_executor_test.gleam
  test/jj_workspace_driver_test.gleam
Due: gleam-format

LIV-1009: implement Prevent publish-commit-stack from mutating the selected head (#482)
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

feat: implement liv-931 (#484)
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/artifact_publication_planner_support.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/commit_stack_artifact.gleam
  test/artifact_publication_planner_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/public_yaml_schema_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

fix(dogfood): fixed empty publication descriptions before materializing stacks
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-940: Refactor CLI command parsing and help around composable command specs
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/command_spec.gleam
  src/scherzo/ctl/parser.gleam
  src/scherzo/ctl/usage.gleam
  test/ctl_command_spec_test.gleam
  test/ctl_test.gleam
Due: gleam-format
