Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

Implement LIV-941: Remove publish-change alias with migration diagnostics
  .scherzo/README.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  nix/scherzo.nix
  schemas/scherzo.workflow.v1.schema.json
  scripts/scherzo-workflow-portability
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/commit_stack_publication_preflight.gleam
  src/scherzo/config/types.gleam
  src/scherzo/config/workspace_driver_config.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workspace_driver_discovery.gleam
  src/scherzo/workspace_profile.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_runtime_test.gleam
  test/config_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  test/orchestrator_config_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_dag_test.gleam
Due: gleam-format, nix-format

Implement LIV-1079: Implement Linear tasks_from validation and canonical scope model
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config/linear_task_scope.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/doctor.gleam
  src/scherzo_config_ffi.erl
  test/config_test.gleam
  test/public_yaml_schema_test.gleam
Due: gleam-format

test: make websocket inflight rejection assertion deterministic
  test/control_remote_ui_websocket_client_test.gleam
Due: gleam-format

Implement LIV-1079: Implement Linear tasks_from validation and canonical scope model (#526)
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config/linear_task_scope.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/doctor.gleam
  src/scherzo_config_ffi.erl
  test/config_test.gleam
  test/public_yaml_schema_test.gleam
Due: gleam-format

Implement LIV-1045: Plan startup tracker refresh scoping and degraded boot behavior (#513)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/dispatch_recovery.gleam
  src/scherzo/orchestrator/startup_recovery.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_repair.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_recovery_test.gleam
  test/workflow_repair_test.gleam
Due: gleam-format

test: harden UI websocket in-flight limit test
  test/control_remote_ui_websocket_client_test.gleam
Due: gleam-format

LIV-941: implement Remove publish-change alias with migration diagnostics (#525)
  .scherzo/README.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  nix/scherzo.nix
  schemas/scherzo.workflow.v1.schema.json
  scripts/scherzo-workflow-portability
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/commit_stack_publication_preflight.gleam
  src/scherzo/config/types.gleam
  src/scherzo/config/workspace_driver_config.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workspace_driver_discovery.gleam
  src/scherzo/workspace_profile.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_publication_runtime_test.gleam
  test/config_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  test/orchestrator_config_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_dag_test.gleam
Due: gleam-format, nix-format

Implement LIV-1159: Add per-workflow task update completion state overrides
  docs/architecture/daemon-boundary.md
  docs/runbooks/linear-completion-states.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/linear_contract.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/dispatch_recovery.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workflow_completion_policy.gleam
  test/config_test.gleam
  test/handoff_test.gleam
  test/linear_contract_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/public_yaml_schema_test.gleam
  test/runtime_bundle_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
  test/workflow_completion_policy_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1161-daemon-workitem-read-query-contract.md
  docs/plans/LIV-1161-daemon-workitem-read-query-contract.md
Due: none

Implement LIV-1160: Make graceful daemon startup the primary Scherzo command
  README.md
  docs/GETTING_STARTED.md
  docs/ffi.md
  flake.nix
  nix/scherzo.nix
  scripts/scherzo-launcher
  scripts/scherzo-start-runner
  src/scherzo/main.gleam
  test/main_test.gleam
  test/scherzo_launcher_test.gleam
  test/scherzo_test.gleam
Due: gleam-format, nix-format

Implement LIV-1159: Add per-workflow task update completion state overrides (#527)
  docs/architecture/daemon-boundary.md
  docs/runbooks/linear-completion-states.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/linear_contract.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/dispatch_recovery.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workflow_completion_policy.gleam
  test/config_test.gleam
  test/handoff_test.gleam
  test/linear_contract_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/public_yaml_schema_test.gleam
  test/runtime_bundle_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
  test/workflow_completion_policy_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1161-daemon-workitem-read-query-contract.md (#528)
  docs/plans/LIV-1161-daemon-workitem-read-query-contract.md
Due: none

Implement LIV-1160: Make graceful daemon startup the primary Scherzo command (#529)
  README.md
  docs/GETTING_STARTED.md
  docs/ffi.md
  flake.nix
  nix/scherzo.nix
  scripts/scherzo-launcher
  scripts/scherzo-start-runner
  src/scherzo/main.gleam
  test/main_test.gleam
  test/scherzo_launcher_test.gleam
  test/scherzo_test.gleam
Due: gleam-format, nix-format

Implement LIV-1080: Implement Linear tasks_from boolean composition
  docs/specs/TRACKER_LINEAR_TASKS_FROM.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config/linear_task_scope.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/linear.gleam
  src/scherzo/linear/contract_query.gleam
  src/scherzo/linear/task_query.gleam
  src/scherzo/linear_contract.gleam
  src/scherzo/scheduled_failure_reporter.gleam
  test/config_test.gleam
  test/linear_test.gleam
  test/public_yaml_schema_test.gleam
  test/scheduled_failure_reporter_test.gleam
  test/tracker_linear_adapter_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1165-ui-websocket-read-query-bridge.md
  docs/plans/LIV-1165-ui-websocket-read-query-bridge.md
Due: none

Implement LIV-1080: Implement Linear tasks_from boolean composition (#530)
  docs/specs/TRACKER_LINEAR_TASKS_FROM.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config/linear_task_scope.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/linear.gleam
  src/scherzo/linear/contract_query.gleam
  src/scherzo/linear/task_query.gleam
  src/scherzo/linear_contract.gleam
  src/scherzo/scheduled_failure_reporter.gleam
  test/config_test.gleam
  test/linear_test.gleam
  test/public_yaml_schema_test.gleam
  test/scheduled_failure_reporter_test.gleam
  test/tracker_linear_adapter_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1165-ui-websocket-read-query-bridge.md (#531)
  docs/plans/LIV-1165-ui-websocket-read-query-bridge.md
Due: none

ExecPlan review doc: docs/plans/LIV-1167-workitem-workflow-subtask-actions.md
  docs/plans/LIV-1167-workitem-workflow-subtask-actions.md
Due: none

Implement LIV-1081: Implement Linear tasks_from label predicates
  docs/specs/TRACKER_LINEAR_TASKS_FROM.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config/linear_task_scope.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/linear/contract_query.gleam
  src/scherzo/linear/task_query.gleam
  test/config_test.gleam
  test/linear_test.gleam
  test/public_yaml_schema_test.gleam
  test/scheduled_failure_reporter_test.gleam
Due: gleam-format

Implement LIV-1169: UI WebSocket read-query bridge for Work queries
  docs/architecture/daemon-boundary.md
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote/ui_websocket_client.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  test/control_remote_ui_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_remote_command_runtime_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1081: Implement Linear tasks_from label predicates (#533)
  docs/specs/TRACKER_LINEAR_TASKS_FROM.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config/linear_task_scope.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/linear/contract_query.gleam
  src/scherzo/linear/task_query.gleam
  test/config_test.gleam
  test/linear_test.gleam
  test/public_yaml_schema_test.gleam
  test/scheduled_failure_reporter_test.gleam
Due: gleam-format

Implement LIV-1169: UI WebSocket read-query bridge for Work queries (#534)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote/ui_websocket_client.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  test/control_remote_ui_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_remote_command_runtime_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1168: Daemon WorkItem read-query contract and task hierarchy projection
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/query/work_item_dto.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/linear/work_item_query.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/tracker/adapter.gleam
  src/scherzo/tracker/adapter_legacy.gleam
  src/scherzo/tracker/linear_adapter.gleam
  src/scherzo/work_item.gleam
  test/architecture_guardrail_test.gleam
  test/control_query_backend_test.gleam
  test/control_query_codec_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_server_test.gleam
  test/fixtures/linear_work_item/list_with_children.json
  test/fixtures/linear_work_item/show_with_truncated_children.json
  test/jj_origin_sync_test.gleam
  test/linear_work_item_query_test.gleam
  test/orchestrator_daemon_abandoned_claim_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_effect_completion_handler_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/source_guardrail_test.gleam
  test/support/fake_tracker_adapter.gleam
  test/tracker_adapter_test.gleam
  test/tracker_fake_adapter_test.gleam
  test/tracker_linear_adapter_test.gleam
  test/work_item_test.gleam
Due: gleam-format

Implement LIV-1168: Daemon WorkItem read-query contract and task hierarchy projection (#535)
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/query/work_item_dto.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/linear/work_item_query.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/tracker/adapter.gleam
  src/scherzo/tracker/adapter_legacy.gleam
  src/scherzo/tracker/linear_adapter.gleam
  src/scherzo/work_item.gleam
  test/architecture_guardrail_test.gleam
  test/control_query_backend_test.gleam
  test/control_query_codec_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_server_test.gleam
  test/fixtures/linear_work_item/list_with_children.json
  test/fixtures/linear_work_item/show_with_truncated_children.json
  test/jj_origin_sync_test.gleam
  test/linear_work_item_query_test.gleam
  test/orchestrator_daemon_abandoned_claim_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_effect_completion_handler_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/source_guardrail_test.gleam
  test/support/fake_tracker_adapter.gleam
  test/tracker_adapter_test.gleam
  test/tracker_fake_adapter_test.gleam
  test/tracker_linear_adapter_test.gleam
  test/work_item_test.gleam
Due: gleam-format

Implement LIV-1172: Use Linear issue title in ExecPlan review PR titles
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan.yaml
Due: gleam-format

Implement LIV-1172: Use Linear issue title in ExecPlan review PR titles (#536)
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan.yaml
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1167-workitem-workflow-subtask-actions.md (#537)
  docs/plans/LIV-1167-workitem-workflow-subtask-actions.md
Due: none

ExecPlan review doc: docs/plans/LIV-1171-smart-retry-dispatch-parked-failed-runs.md
  docs/plans/LIV-1171-smart-retry-dispatch-parked-failed-runs.md
Due: none

Implement LIV-1173: Prevent operator retry from reattaching stale recovery metadata
  src/scherzo/orchestrator/transitions/operator.gleam
  test/orchestrator_transition_dispatch_test.gleam
Due: gleam-format

Implement LIV-1082: Add doctor diagnostics for Linear tasks_from scopes
  docs/GETTING_STARTED.md
  docs/runbooks/simplified-yaml-migration.md
  docs/runbooks/tracker-adapters.md
  docs/runbooks/upgrades.md
  docs/specs/TRACKER_LINEAR_TASKS_FROM.md
  src/scherzo/config/linear_task_scope_diagnostics.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/doctor.gleam
  src/scherzo/orchestrator/service.gleam
  test/config_test.gleam
  test/doctor_test.gleam
  test/orchestrator_service_doctor_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1164-workitemlist-query-controls-review.md
  docs/plans/LIV-1164-workitemlist-query-controls-review.md
Due: none

Implement LIV-937: Future: write ExecPlan to retire legacy workflow artifact aliases
  docs/plans/LIV-720-legacy-alias-retirement-inventory.md
  docs/plans/LIV-720-retire-legacy-workflow-artifact-aliases.md
Due: none

Implement LIV-1175: Bug: ExecPlan revision opens duplicate review PR
  test/execplan_v2_bundle_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-1173: Prevent operator retry from reattaching stale recovery metadata (#539)
  src/scherzo/orchestrator/transitions/operator.gleam
  test/orchestrator_transition_dispatch_test.gleam
Due: gleam-format

Implement LIV-1082: Add doctor diagnostics for Linear tasks_from scopes (#540)
  docs/GETTING_STARTED.md
  docs/runbooks/simplified-yaml-migration.md
  docs/runbooks/tracker-adapters.md
  docs/runbooks/upgrades.md
  docs/specs/TRACKER_LINEAR_TASKS_FROM.md
  src/scherzo/config/linear_task_scope_diagnostics.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/doctor.gleam
  src/scherzo/orchestrator/service.gleam
  test/config_test.gleam
  test/doctor_test.gleam
  test/orchestrator_service_doctor_test.gleam
Due: gleam-format

Implement LIV-1175: Bug: ExecPlan revision opens duplicate review PR (#543)
  test/execplan_v2_bundle_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-1158: Configure merge-conflict workflow to complete without In Review
  .scherzo/scherzo.yaml
  test/runtime_bundle_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1171-smart-retry-dispatch-parked-failed-runs.md (#544)
  docs/plans/LIV-1171-smart-retry-dispatch-parked-failed-runs.md
Due: none
