Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

feat: add Claude Code hooks for auto-formatting
  .claude/settings.json
  AGENTS.md
  flake.lock
Due: none

docs: add checklist for adding new languages to AGENTS.md
  AGENTS.md
Due: none

feat: implement Phase 1 foundation
  .claude/settings.local.json
  gleam.toml
  src/scherzo.gleam
  src/scherzo/core/event.gleam
  src/scherzo/core/task.gleam
  src/scherzo/core/types.gleam
  src/scherzo/event/bus.gleam
  src/scherzo/state/store.gleam
  test/scherzo_test.gleam
Due: gleam-format

fix: update to current gleam_otp and glint APIs
  .claude/settings.local.json
  AGENTS.md
  gleam.toml
  manifest.toml
  src/scherzo.gleam
  src/scherzo/core/task.gleam
  src/scherzo/event/bus.gleam
  src/scherzo/state/store.gleam
Due: gleam-format

test: add comprehensive tests for Phase 1 components
  .claude/settings.local.json
  AGENTS.md
  test/scherzo/core/task_test.gleam
  test/scherzo/event/bus_test.gleam
  test/scherzo/state/store_test.gleam
  test/scherzo_test.gleam
Due: gleam-format

feat: implement Phase 2 - single agent E2E
  .claude/settings.local.json
  src/scherzo.gleam
  src/scherzo/agent/driver.gleam
  src/scherzo/agent/drivers/claude.gleam
  src/scherzo/agent/process.gleam
  src/scherzo/orchestrator.gleam
  src/scherzo/vcs/jj.gleam
  test/scherzo/agent/driver_test.gleam
  test/scherzo/agent/drivers/claude_test.gleam
Due: gleam-format

style: apply gleam format to all source files
  src/scherzo/core/event.gleam
  src/scherzo/core/task.gleam
  src/scherzo/core/types.gleam
  src/scherzo/event/bus.gleam
  src/scherzo/orchestrator.gleam
  src/scherzo/state/store.gleam
  test/scherzo/agent/drivers/claude_test.gleam
  test/scherzo/state/store_test.gleam
Due: gleam-format

feat: implement agent workspace isolation with jj workspaces
  src/scherzo.gleam
  src/scherzo/agent/claude_settings.gleam
  src/scherzo/agent/driver.gleam
  src/scherzo/agent/drivers/claude.gleam
  src/scherzo/agent/process.gleam
  src/scherzo/agent/workspace.gleam
  src/scherzo/vcs/jj.gleam
Due: gleam-format

chore: remove lefthook (unused with jj)
  .claude/settings.json
  CONTRIBUTING.md
  flake.nix
  lefthook.yml
Due: nix-format

docs: update documentation for workspace architecture
  AGENTS.md
  PLAN.md
Due: none

chore: add settings.local.json to gitignore
  .claude/settings.local.json
  .gitignore
Due: none

docs: move state persistence to Phase 6, mark Phase 1-2 complete
  PLAN.md
Due: none

feat: implement Phase 2.5 checkpoint and handoff system
  .claude/settings.local.json
  src/scherzo.gleam
  src/scherzo/agent/checkpoint.gleam
  src/scherzo/agent/claude_settings.gleam
  src/scherzo/agent/handoff.gleam
  src/scherzo/orchestrator.gleam
Due: gleam-format

docs: add CLAUDE.md with project instructions
  CLAUDE.md
Due: none

chore: remove redundant CLAUDE.md (AGENTS.md covers this)
  CLAUDE.md
Due: none

chore: add Phase 3 tickets for Ticket Integration
  .claude/settings.local.json
  .tickets/s-0ee1.md
  .tickets/s-1472.md
  .tickets/s-4430.md
  .tickets/s-732e.md
  .tickets/s-8a9b.md
  .tickets/s-8abf.md
  .tickets/s-af50.md
  .tickets/s-bc4d.md
Due: none

feat: implement Phase 3 foundation - TaskSource, tk wrapper, parser
  .claude/settings.local.json
  .tickets/s-1472.md
  .tickets/s-4430.md
  .tickets/s-8abf.md
  src/scherzo/task/source.gleam
  src/scherzo/task/sources/parser.gleam
  src/scherzo/task/sources/tk.gleam
Due: gleam-format

feat: implement TicketSource adapter and TaskQueue actor
  .claude/settings.local.json
  .tickets/s-1472.md
  .tickets/s-4430.md
  .tickets/s-8a9b.md
  .tickets/s-8abf.md
  .tickets/s-af50.md
  src/scherzo/task/queue.gleam
  src/scherzo/task/sources/ticket.gleam
Due: gleam-format

feat: integrate TaskSource with orchestrator and CLI
  .tickets/s-0ee1.md
  .tickets/s-8a9b.md
  .tickets/s-af50.md
  .tickets/s-bc4d.md
  src/scherzo.gleam
  src/scherzo/orchestrator.gleam
Due: gleam-format

Mark task as closed
  .tickets/s-0ee1.md
Due: none

fix: critical bug fixes from code review
  .tickets/s-732e.md
Due: none

fix: document safe result.unwrap() usages (s-470b)
  src/scherzo.gleam
  src/scherzo/agent/process.gleam
  src/scherzo/task/sources/parser.gleam
  src/scherzo/task/sources/tk.gleam
  src/scherzo/vcs/jj.gleam
Due: gleam-format

chore: add bug fix tickets for code review findings
  .tickets/s-2193.md
  .tickets/s-470b.md
  .tickets/s-732e.md
  .tickets/s-aea8.md
  .tickets/s-b2c5.md
  .tickets/s-b8cf.md
  .tickets/s-e23d.md
  .tickets/s-ea72.md
Due: none

docs: mark Phase 2.5 and Phase 3 complete in PLAN.md
  PLAN.md
Due: none

chore: add ticket for checkpoint unit tests (s-f0ee)
  .tickets/s-f0ee.md
Due: none

fix: sanitize task IDs to prevent shell injection (s-e23d)
  .tickets/s-0df2.md
  .tickets/s-19e7.md
  .tickets/s-1a63.md
  .tickets/s-3856.md
  .tickets/s-4926.md
  .tickets/s-5bfd.md
  .tickets/s-7726.md
  .tickets/s-93c7.md
  .tickets/s-a562.md
  .tickets/s-ba20.md
  .tickets/s-ca7d.md
  .tickets/s-d247.md
  .tickets/s-e23d.md
  src/scherzo/agent/claude_settings.gleam
Due: gleam-format

fix: improve jj status parser robustness (s-b8cf)
  .tickets/s-b8cf.md
  src/scherzo/agent/checkpoint.gleam
Due: gleam-format

fix: use subscriber ID for event bus unsubscribe (s-aea8)
  .tickets/s-aea8.md
  src/scherzo/event/bus.gleam
  test/scherzo/event/bus_test.gleam
Due: gleam-format

fix: replace buggy int_to_string with stdlib (s-ea72)
  .tickets/s-ea72.md
  src/scherzo/agent/handoff.gleam
Due: gleam-format

test: add unit tests for core/event.gleam (s-5bfd)
  .tickets/s-5bfd.md
  test/scherzo/core/event_test.gleam
Due: gleam-format

test: add unit tests for agent/claude_settings.gleam (s-ba20)
  .tickets/s-ba20.md
  test/scherzo/agent/claude_settings_test.gleam
Due: gleam-format

test: add unit tests for task/sources/parser.gleam (s-a562)
  .tickets/s-a562.md
  test/scherzo/task/sources/parser_test.gleam
Due: gleam-format

test: add unit tests for agent/handoff.gleam (s-0df2)
  .tickets/s-0df2.md
  test/scherzo/agent/handoff_test.gleam
Due: gleam-format

test: add unit tests for vcs/jj.gleam (s-4926)
  .tickets/s-4926.md
  test/scherzo/vcs/jj_test.gleam
Due: gleam-format

test: add unit tests for task/queue.gleam (s-ca7d)
  .tickets/s-ca7d.md
  test/scherzo/task/queue_test.gleam
Due: gleam-format

test: add unit tests for task/source.gleam (s-3856)
  .tickets/s-3856.md
  test/scherzo/task/source_test.gleam
Due: gleam-format

test: add unit tests for agent/workspace.gleam (s-93c7)
  .tickets/s-93c7.md
  test/scherzo/agent/workspace_test.gleam
Due: gleam-format

test: add unit tests for task/sources/ticket.gleam (s-1a63)
  .tickets/s-1a63.md
  test/scherzo/task/sources/ticket_test.gleam
Due: gleam-format

test: add unit tests for task/sources/tk.gleam (s-19e7)
  .tickets/s-19e7.md
  test/scherzo/task/sources/tk_test.gleam
Due: gleam-format

test: add unit tests for agent/checkpoint.gleam (s-f0ee)
  .tickets/s-f0ee.md
  test/scherzo/agent/checkpoint_test.gleam
Due: gleam-format
