Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

ExecPlan: Harden implementation workflow metadata outside tmp
  docs/plans/LIV-230-harden-implementation-workflow-metadata-outside-tmp.html
Due: none

Implement LIV-242: Package the jj workspace driver for reusable Scherzo installs
  README.md
  docs/plans/LIV-235-package-jj-workspace-driver.html
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/scherzo-packaged-jj.yaml
  nix/scherzo.nix
  scripts/scherzo-workspace-jj
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/jj_workspace_hook_test.gleam
  test/workspace_driver_docs_test.gleam
  test/workspace_driver_lifecycle_test.gleam
Due: gleam-format, nix-format

fix(jj-workspace-driver): fixed jj workspace diffs to use the current change baseline
  docs/runbooks/portable-research-workflow.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

Implement LIV-254: Harden implementation workflow metadata outside tmp
  docs/plans/LIV-230-harden-implementation-workflow-metadata-outside-tmp.html
  scripts/scherzo-implementation
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

feat(review-native): added isolated native review lane workspaces and step scoping
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/tool-contract.v1.json
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/review-native.yml
  test/review_native_workflow_test.gleam
Due: gleam-format

fix(scherzo): fixed workflow artifact paths for retained run roots
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
Due: none

docs(linear): updated Linear usage docs for default project behavior
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
  .scherzo/README.md
  AGENTS.md
Due: none

feat(linear): added default project handling to the Linear wrapper
  .envrc
  devenv.nix
  scripts/scherzo-linear-cli-wrapper
  test/linear_cli_wrapper_test.gleam
Due: gleam-format, nix-format

Implement LIV-202: Add Getting Started
  README.md
  docs/GETTING_STARTED.md
Due: none

Implement LIV-247: Fix noisy erl_child_setup line during unit tests
  src/scherzo_port_ffi.erl
  test/execplan_implementation_helper_test.gleam
  test/merge_conflict_helper_test.gleam
  test/port_test.gleam
  test/workflow_context_test_support.gleam
Due: gleam-format

ExecPlan: Make JSON Schema a first-class structured-output validator
  docs/plans/LIV-259-first-class-json-schema-structured-output-validation.html
Due: none

feat: implement liv-256
  .scherzo/README.md
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-apply-plan-completion-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-repair-validation.md
  .scherzo/workflows/prompts/execplan-review.md
  .scherzo/workflows/prompts/execplan-revision.md
  scripts/scherzo-execplan
  scripts/scherzo-execplan-revision
  scripts/scherzo-implementation
  test/execplan_html_renderer_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

fix(review): fixed artifact refs for absolute draft paths
  scripts/scherzo-review
  test/review_artifacts_test.gleam
Due: gleam-format

feat: implement liv-250
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/prompts/execplan-implementation-review.md
  docs/plans/LIV-152-agent-backed-staged-review-lanes.md
  docs/plans/LIV-160-native-staged-review-workflow.md
  docs/review-artifacts.md
  scripts/scherzo-review
  scripts/scherzo_review/agent_lane_harness.py
  test/review_artifacts_test.gleam
  test/review_native_workflow_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

ExecPlan: Render ExecPlan Review HTML from Markdown on Demand
  docs/plans/LIV-257-render-execplan-review-html-on-demand-from-markdown.md
Due: none

feat: implement liv-258
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/prompts/review-native-contract-malformed.md
  .scherzo/workflows/prompts/review-native-contract-valid.md
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
  docs/review-artifacts.md
  docs/schemas/review-lane-draft.v1.schema.json
  test/review_native_workflow_test.gleam
Due: gleam-format

ExecPlan: Recover transient pi provider transport failures with auto-retry
  docs/plans/LIV-261-recover-transient-pi-transport-failures.md
Due: none

ExecPlan: Define the capability-aware tracker adapter boundary
  docs/plans/LIV-269-capability-aware-tracker-adapter-boundary.md
Due: none

feat: implement liv-260
  docs/GETTING_STARTED.md
  docs/plans/LIV-259-first-class-json-schema-structured-output-validation.html
  docs/specs/STRUCTURED_OUTPUT_VALIDATOR_SPEC.md
  nix/scherzo.nix
  scripts/scherzo-review
  src/scherzo/json_schema_self_check.gleam
  src/scherzo/main.gleam
  src/scherzo/path.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/structured_output_json_schema.gleam
  src/scherzo/structured_output_metadata.gleam
  src/scherzo/workflow_structured_retry.gleam
  src/scherzo_config_ffi.erl
  test/fixtures/structured_output/json_schema_helper_import_failure.py
  test/fixtures/structured_output/json_schema_helper_malformed.py
  test/fixtures/structured_output/json_schema_helper_timeout.sh
  test/structured_artifact_store_test.gleam
  test/structured_output_json_schema_test.gleam
  test/structured_output_test.gleam
  test/workflow_dag_validator_parser_test.gleam
Due: gleam-format, nix-format

ExecPlan: Refresh the multi-tracker architecture around tasks, adapters, DAG workflows, and recovery
  docs/plans/LIV-266-refresh-multi-tracker-architecture.md
Due: none

feat: recover transient pi transport failures
  docs/plans/LIV-261-recover-transient-pi-transport-failures.md
  src/scherzo/agent/auto_retry.gleam
  src/scherzo/agent/pi_event.gleam
  src/scherzo/agent/turn_loop.gleam
  src/scherzo/agent/turn_update.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/pi/retry_event.gleam
  test/agent_runner_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/orchestrator_daemon_session_event_test.gleam
  test/pi_retry_event_test.gleam
Due: gleam-format

fix(startup): fixed pi probe logging and launch readiness timing
  src/scherzo/main.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo_port_ffi.erl
Due: gleam-format

feat: render execplan review UI from markdown
  docs/plans/LIV-257-render-execplan-review-html-on-demand-from-markdown.md
  docs/review-artifacts.md
  scripts/scherzo_execplan_review.py
  test/scherzo_execplan_review_test.py
Due: none

Implement LIV-267: Implement Milestone 0: freeze Linear behavior with compatibility tests
  docs/plans/LIV-266-refresh-multi-tracker-architecture.md
  test/config_test.gleam
  test/handoff_format_test.gleam
  test/legacy_ledger_fixtures.gleam
  test/linear_triage_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/scheduled_failure_reporter_test.gleam
  test/state_recovery_test.gleam
  test/template_test.gleam
Due: gleam-format

feat: implement liv-280
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/tool-contract.v1.json
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  docs/schemas/review-lane-draft.v1.schema.json
  scripts/scherzo-review
  src/scherzo/workflow_structured_retry.gleam
  test/fixtures/review-lane-draft-tool/absolute-path.arguments.json
  test/review_artifacts_test.gleam
  test/review_native_workflow_test.gleam
  test/structured_output_json_schema_test.gleam
Due: gleam-format

Implement LIV-268: Implement Milestone 1A: introduce backend-neutral task domain types
  docs/plans/LIV-266-refresh-multi-tracker-architecture.md
  src/scherzo/task.gleam
  test/task_test.gleam
Due: gleam-format

feat(review_lane_draft): added stricter review lane draft validation
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/tool-contract.v1.json
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  scripts/scherzo-review
  src/scherzo/workflow_structured_retry.gleam
  test/fixtures/review-lane-draft-tool/invalid-evidence-target-extra-fields.arguments.json
  test/fixtures/review-lane-draft-tool/invalid-review-note-category.arguments.json
Due: gleam-format

ExecPlan: Implement generic schema-enforced Pi structured outputs
  docs/plans/LIV-282-generic-schema-enforced-pi-structured-outputs.md
Due: none

ExecPlan: Configure Linear Completion States from Workflow Outcomes
  docs/plans/LIV-281-configurable-workflow-completion-states.md
Due: none

feat(tracker): define adapter capability contract
  docs/plans/LIV-266-refresh-multi-tracker-architecture.md
  src/scherzo/tracker/adapter.gleam
  test/tracker_adapter_test.gleam
Due: gleam-format

docs(plan): require configured linear completion states
  docs/plans/LIV-281-configurable-workflow-completion-states.md
Due: none

test(structured_output): added raw schema smoke coverage for startup registration
  .pi/extensions/scherzo-structured-output/index.ts
  scripts/scherzo-structured-output-raw-schema-smoke
  test/fixtures/structured_output/pi_raw_schema/smoke_provider.ts
Due: none

feat: implement liv-270
  src/scherzo/tracker/linear_adapter.gleam
  test/tracker_linear_adapter_test.gleam
Due: gleam-format

feat: implement liv-285
  docs/GETTING_STARTED.md
  docs/plans/LIV-281-configurable-workflow-completion-states.md
  docs/runbooks/linear-completion-states.md
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/handoff.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/linear.gleam
  src/scherzo/linear_contract.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo/workflow_completion_policy.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/config_test.gleam
  test/fixtures/schema/orchestrator_config_complete.yaml
  test/handoff_test.gleam
  test/linear_contract_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
  test/workflow_completion_policy_test.gleam
Due: gleam-format

fix(structured_output): added provider-compatible raw schema normalization
  .pi/extensions/scherzo-structured-output/index.ts
  scripts/scherzo-structured-output-raw-schema-smoke
  src/scherzo/structured_output_tool_spec.gleam
  test/fixtures/structured_output/pi_raw_schema/spec.correctness.json
  test/structured_output_tool_spec_test.gleam
Due: gleam-format

fix(structured_output): fixed provider schema normalization and review draft schemas
  .pi/extensions/scherzo-structured-output/index.ts
  docs/schemas/review-lane-draft.correctness.v1.schema.json
  docs/schemas/review-lane-draft.idioms-maintainability.v1.schema.json
  docs/schemas/review-lane-draft.security-performance.v1.schema.json
  docs/schemas/review-lane-draft.test-quality.v1.schema.json
  src/scherzo/structured_output_tool_spec.gleam
  test/fixtures/structured_output/pi_raw_schema/spec.correctness.json
  test/structured_output_tool_spec_test.gleam
Due: gleam-format

fix(structured_output): fixed provider schema normalization for unsupported keywords
  .pi/extensions/scherzo-structured-output/index.ts
  test/fixtures/structured_output/pi_raw_schema/smoke_provider.ts
Due: none

fix(structured_output): validate normalized tool payloads locally
  .pi/extensions/scherzo-structured-output/index.ts
  scripts/scherzo-structured-output-raw-schema-smoke
  test/fixtures/structured_output/pi_raw_schema/smoke_provider.ts
Due: none

Implement LIV-274: Implement Milestone 2B: prove fake non-Linear adapter seam
  src/scherzo/tracker/adapter.gleam
  test/support/fake_tracker_adapter.gleam
  test/tracker_adapter_test.gleam
  test/tracker_fake_adapter_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
