Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

fix(workflows): harden publish base normalization
  .scherzo/README.md
  scripts/scherzo-execplan
  scripts/scherzo-implementation
  scripts/scherzo-jj-workspace
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

chore(devenv): add Linear CLI wrappers
  AGENTS.md
  devenv.nix
Due: nix-format

feat: implement liv-46
  src/scherzo/ctl.gleam
  test/ctl_test.gleam
Due: gleam-format

feat: implement liv-44
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/json.gleam
  test/control_protocol_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/session_event_test.gleam
  test/session_hub_test.gleam
  test/terminal_render_test.gleam
Due: gleam-format

feat(handoff): added structured failure diagnostics to handoff comments
  docs/plans/LIV-42-better-failure-diagnostics-reporting.md
  src/scherzo/handoff.gleam
  src/scherzo/handoff_format.gleam
  test/handoff_test.gleam
Due: gleam-format

feat: implement liv-43
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/session/name.gleam
  src/scherzo/terminal/render.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/session_name_test.gleam
Due: gleam-format

docs(agent-pi-rpc-decomposition): refined the agent pi rpc decomposition plan
  docs/plans/agent-pi-rpc-decomposition.md
Due: none

fix(scherzo_port): fixed stdout line capture and attachment handoff settings
  .scherzo/scherzo.yaml
  src/scherzo_port_ffi.erl
  test/command_step_test.gleam
Due: gleam-format

docs(plans): updated planning docs for implementation tracking
  docs/plans/LIV-30-daemon-visible-turn-telemetry.md
  docs/plans/domain-decomposition.md
  docs/plans/hardening-05-durable-linear-command-inbox.md
  docs/plans/multi-tracker-port.md
Due: none

feat(scherzo-agent): added shared scherzo agent identity flows
  scripts/scherzo-agent-run
  scripts/scherzo-agent-whoami
Due: none

refactor(scherzo-agent): refactored scherzo agent scripts to use project wrappers
  devenv.nix
Due: nix-format

feat(scherzo-agent): added shared scherzo agent environment checks
  scripts/scherzo-agent-common.sh
  scripts/scherzo-agent-env-check
Due: none

docs(workflow-resumption): added workflow resumption umbrella and superseded pi plan
  docs/plans/hardening-04-pi-session-continuation.md
  docs/plans/workflow-resumption-umbrella.md
Due: none

docs(plan): add execplan for liv-54-durable-workflow-step-checkpoints-for-resumption
  docs/plans/LIV-54-durable-workflow-step-checkpoints-for-resumption.md
Due: none

feat: implement agent-pi-rpc-decomposition
  docs/plans/agent-pi-rpc-decomposition.md
  src/scherzo/agent/operator_control.gleam
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/agent/probe.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/agent/runner.gleam
  src/scherzo/agent/turn_loop.gleam
  src/scherzo/agent/types.gleam
  src/scherzo/handoff.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/pi/client.gleam
  src/scherzo/pi/protocol.gleam
  src/scherzo/result_artifact.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/workflow_run.gleam
  test/agent_operator_control_test.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/handoff_format_test.gleam
  test/handoff_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_event_publisher_test.gleam
  test/orchestrator_service_test.gleam
  test/pi_client_test.gleam
  test/pi_protocol_test.gleam
  test/pi_rpc_test.gleam
  test/step_artifact_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat(daemon): added Ctrl-C-friendly scherzo-start daemon wrapper
  .scherzo/README.md
  README.md
  devenv.nix
  scripts/scherzo-agent-run
  scripts/scherzo-start
  src/scherzo/main.gleam
  test/main_test.gleam
Due: gleam-format, nix-format

fix(daemon): fixed event hub shutdown and Linear blocker decoding
  src/scherzo/linear.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/session/hub.gleam
  test/linear_test.gleam
  test/orchestrator_daemon_test.gleam
Due: gleam-format

feat: implement liv-47
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_test.gleam
Due: gleam-format

chore(scripts): added test tmp cleanup before scherzo implementation checks
  scripts/scherzo-implementation
Due: none

feat: implement liv-23
  README.md
  docs/TODO.md
  docs/plans/hardening-05-durable-linear-command-inbox.md
  src/scherzo/control/linear_transport.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/state/projection.gleam
  test/linear_command_transport_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/state_projection_test.gleam
Due: gleam-format

feat: implement liv-60
  scripts/scherzo-implementation
  src/scherzo/command_step.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/terminal/render.gleam
  src/scherzo/workflow_run.gleam
  test/command_step_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/orchestrator_daemon_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-24-split-domain-types
  docs/plans/LIV-24-split-domain-types.md
Due: none

fix(jj): fixed git push to allow new bookmarks
  scripts/scherzo-execplan
  scripts/scherzo-implementation
Due: none

docs(plan): add execplan for liv-55-startup-recovery-planner-workflow-dag-progress
  docs/plans/LIV-55-startup-recovery-planner-workflow-dag-progress.md
Due: none

docs(plan): add execplan for liv-56-recovery-aware-workflow-runner-execution
  docs/plans/LIV-56-recovery-aware-workflow-runner-execution.md
Due: none

docs(plan): add execplan for liv-57-step-scoped-pi-session-continuation
  docs/plans/LIV-57-step-scoped-pi-session-continuation.md
Due: none

docs(plan): add execplan for liv-58-workflow-recovery-operator-ux-retention
  docs/plans/LIV-58-workflow-recovery-operator-ux-retention.md
Due: none

chore(agent): verify GitHub PR creation permission
  scripts/scherzo-agent-common.sh
  scripts/scherzo-agent-run
  scripts/scherzo-agent-whoami
Due: none

feat(execplan): added follow-up implementation issue creation
  .scherzo/README.md
  .scherzo/workflows/execplan.yaml
  scripts/scherzo-execplan
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

feat(nix): added flake packaging and runner wrappers
  .gitignore
  README.md
  flake.lock
  flake.nix
  nix/scherzo.nix
  scripts/scherzo-start
  scripts/scherzo-start-runner
  src/scherzo/ctl.gleam
  src/scherzo/main.gleam
  test/main_test.gleam
Due: gleam-format, nix-format

docs(plan): revise execplan from PR #24 feedback
  docs/plans/LIV-57-step-scoped-pi-session-continuation.md
Due: none

feat: implement liv-30-daemon-visible-turn-telemetry
  docs/plans/LIV-30-daemon-visible-turn-telemetry.md
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/agent/runner.gleam
  src/scherzo/agent/turn_loop.gleam
  src/scherzo/agent/types.gleam
  src/scherzo/control/client.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/json.gleam
  src/scherzo/terminal/render.gleam
  src/scherzo/turn_telemetry.gleam
  src/scherzo/workflow_run.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/control_protocol_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_event_publisher_test.gleam
  test/session_event_test.gleam
  test/session_hub_test.gleam
  test/terminal_render_test.gleam
Due: gleam-format

feat: implement liv-54-durable-workflow-step-checkpoints-for-resumption
  docs/plans/LIV-54-durable-workflow-step-checkpoints-for-resumption.md
  src/scherzo/hash.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/ledger.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_identity.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_run.gleam
  src/scherzo_artifact_store_ffi.erl
  src/scherzo_hash_ffi.erl
  test/artifact_store_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/orchestrator_service_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/state_compaction_test.gleam
  test/state_ledger_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/workflow_checkpoint_state_test.gleam
  test/workflow_run_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

feat: implement liv-58-workflow-recovery-operator-ux-retention
  README.md
  docs/plans/LIV-58-workflow-recovery-operator-ux-retention.md
  docs/runbooks/workflow-recovery.md
  scripts/scherzo-execplan
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/event_publisher.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/json.gleam
  src/scherzo/session/recovery.gleam
  src/scherzo/state/local_artifacts.gleam
  src/scherzo_state_ffi.erl
  test/control_protocol_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_event_publisher_test.gleam
  test/session_event_test.gleam
  test/session_hub_test.gleam
  test/state_local_artifacts_test.gleam
  test/state_recovery_test.gleam
  test/terminal_render_test.gleam
Due: gleam-format

feat: implement liv-73
  src/scherzo/control/server.gleam
  test/control_server_test.gleam
Due: gleam-format

feat(merge-conflict-resolution): added merge-conflict resolution workflow
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/merge-conflict-resolution.yaml
  .scherzo/workflows/prompts/resolve-merge-conflicts.md
  scripts/scherzo-merge-conflict
  test/merge_conflict_helper_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-69-implementation-workflow-base-refresh-repair-path
  docs/plans/LIV-69-implementation-workflow-base-refresh-repair-path.md
Due: none

feat(execplan): added Linear issue linking for execplan implementation publishes
  scripts/scherzo-implementation
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
