Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

ExecPlan: Harden review-lane structured JSON contracts
  docs/plans/LIV-287-harden-review-lane-json-contracts.md
Due: none

Implement LIV-290: Make execplan workflow portable for consuming repositories
  .scherzo/README.md
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-repair-validation.md
  .scherzo/workflows/prompts/execplan-review.md
  test/execplan_implementation_helper_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

ExecPlan: Design v1 workflow input and output contracts
  docs/plans/LIV-292-workflow-contracts-v1.md
Due: none

feat(scherzo): added completion-state routing for handoff workflows
  .scherzo/scherzo.yaml
Due: none

Implement LIV-295: Allow structured-output JSON schemas to resolve through repo-local symlinks
  src/scherzo/structured_output_json_schema.gleam
  test/structured_output_json_schema_test.gleam
Due: gleam-format

feat(scherzo): added bundled review artifact schemas
  .scherzo/workflows/schemas/review-artifacts.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.correctness.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.idioms-maintainability.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.security-performance.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.test-quality.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.v1.schema.json
Due: none

chore(docs): removed obsolete review schema files
  docs/schemas/review-artifacts.v1.schema.json
  docs/schemas/review-lane-draft.correctness.v1.schema.json
  docs/schemas/review-lane-draft.idioms-maintainability.v1.schema.json
  docs/schemas/review-lane-draft.security-performance.v1.schema.json
  docs/schemas/review-lane-draft.test-quality.v1.schema.json
  docs/schemas/review-lane-draft.v1.schema.json
Due: none

Implement LIV-286: Split shell-heavy contract tests out of default unit suite
  .config/selfci/ci.sh
  README.md
  devenv.nix
  docs/ARCHITECTURE.md
  scripts/scherzo-test-contract
  test/README.md
  test/scherzo_test.gleam
  test/test_suite_contract_test.gleam
Due: gleam-format, nix-format

chore(scherzo): updated polling interval in scherzo config
  .scherzo/scherzo.yaml
Due: none

feat: add durable task and remote command compatibility
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transitions/linear_commands.gleam
  src/scherzo/state/outbox.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_run.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/legacy_ledger_fixtures.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_outbox_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

feat: add jitter to Linear poll scheduling
  docs/GETTING_STARTED.md
  docs/SYMPHONY_SPEC.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/poll_jitter.gleam
  src/scherzo/orchestrator/poll_scheduler.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_poll_jitter_test.gleam
  test/orchestrator_poll_scheduler_test.gleam
Due: gleam-format

feat(review-lane-contract): added structured-output materialization support
  scripts/scherzo-review-lane-contract
  scripts/scherzo_review/review_lane_contract.py
  test/review_lane_contract_test.gleam
Due: gleam-format

feat: implement liv-294
  docs/plans/LIV-292-workflow-contracts-v1.md
  examples/workflows/research.yaml
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  test/artifact_store_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_transition_test.gleam
  test/orchestrator_workflow_reloader_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/runtime_bundle_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/step_artifact_test.gleam
  test/workflow_contract_manifest_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-271
  src/scherzo/control/linear_transport.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/commands.gleam
  src/scherzo/orchestrator/transitions/linear_commands.gleam
  src/scherzo/task.gleam
  src/scherzo/tracker/adapter.gleam
  src/scherzo/tracker/adapter_legacy.gleam
  src/scherzo/tracker/linear_adapter.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_lifecycle_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/source_guardrail_test.gleam
  test/tracker_fake_adapter_test.gleam
  test/tracker_linear_adapter_test.gleam
Due: gleam-format

test(orchestrator): removed obsolete linear test stubs
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_lifecycle_test.gleam
  test/orchestrator_transition_runner_test.gleam
Due: gleam-format

fix(jj_workspace): fixed target-branch publication to retarget tracked bookmarks
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

feat(origin-sync): added scheduled jj origin sync workflow
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/origin-sync.yaml
  scripts/scherzo-jj-origin-sync
  test/github_pr_conflict_scout_config_test.gleam
  test/jj_origin_sync_test.gleam
Due: gleam-format

perf(orchestrator): increased daemon actor initializer capacity
  src/scherzo/orchestrator/daemon.gleam
Due: gleam-format

ExecPlan: Design v2 ExecPlan Bundle Workflows
  docs/plans/LIV-313-design-v2-execplan-bundle-workflows.md
Due: none

Implement LIV-273: Implement Milestone 5A: generalize config, CLI, doctor, smoke, and contract UX
  src/scherzo/config.gleam
  src/scherzo/config/tracker_config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/doctor.gleam
  src/scherzo/handoff.gleam
  src/scherzo/linear_contract.gleam
  src/scherzo/main.gleam
  test/config_test.gleam
  test/doctor_test.gleam
  test/handoff_test.gleam
  test/main_test.gleam
  test/orchestrator_service_doctor_test.gleam
Due: gleam-format

docs(plan): revise execplan from PR #201 feedback
  docs/plans/LIV-313-design-v2-execplan-bundle-workflows.md
Due: none

chore(review-lanes): moved review lane schemas into workflow bundles
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/review-native.yml
  .scherzo/workflows/schemas/provider/review-lane-draft.correctness.v1.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.idioms-maintainability.v1.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.security-performance.v1.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.test-quality.v1.schema.json
  docs/review-artifacts.md
  scripts/scherzo_review/review_lane_contract.py
  src/scherzo/review_lane_tools.gleam
  test/review_native_workflow_test.gleam
  test/structured_output_tool_spec_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-314
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-implementation-v2.yaml
  .scherzo/workflows/execplan-revision-v2.yaml
  .scherzo/workflows/execplan-v2.yaml
  .scherzo/workflows/prompts/execplan-implementation-v2-implement.md
  .scherzo/workflows/prompts/execplan-revision-v2.md
  .scherzo/workflows/prompts/execplan-v2-draft.md
  .scherzo/workflows/prompts/execplan-v2-incorporate-review.md
  .scherzo/workflows/prompts/execplan-v2-review.md
  .scherzo/workflows/schemas/code-change-bundle.v2.schema.json
  .scherzo/workflows/schemas/exec-plan-bundle.v2.schema.json
  .scherzo/workflows/schemas/exec-plan-revision-submission.v2.schema.json
  .scherzo/workflows/schemas/implementation-pack-submission.v2.schema.json
  .scherzo/workflows/schemas/implementation-pack.v2.schema.json
  docs/plans/LIV-313-design-v2-execplan-bundle-workflows.md
  scripts/scherzo-execplan-v2
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_run.gleam
  test/execplan_v2_bundle_test.gleam
  test/fixtures/execplan_v2/artifacts/runs/run-1/outputs/exec_plan_bundle.json
  test/fixtures/execplan_v2/artifacts/runs/run-1/outputs/implementation_pack.json
  test/fixtures/execplan_v2/artifacts/runs/run-2/execplan-v2/code-change/changed-files.v1.json
  test/fixtures/execplan_v2/artifacts/runs/run-2/execplan-v2/code-change/diff.patch
  test/fixtures/execplan_v2/artifacts/runs/run-2/execplan-v2/code-change/plan-completion.json
  test/fixtures/execplan_v2/artifacts/runs/run-2/execplan-v2/code-change/review/final-review.json
  test/fixtures/execplan_v2/artifacts/runs/run-2/execplan-v2/code-change/validation/selfci.json
  test/fixtures/execplan_v2/code-change-bundle.valid.json
  test/fixtures/execplan_v2/exec-plan-bundle.absolute-path.json
  test/fixtures/execplan_v2/exec-plan-bundle.stale-pack.json
  test/fixtures/execplan_v2/exec-plan-bundle.valid.json
  test/fixtures/execplan_v2/implementation-pack.valid.json
  test/fixtures/execplan_v2/review-doc.valid.md
  test/github_pr_conflict_scout_config_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-323: Make Scherzo workflow/script symlinks portable in nested workspaces
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

fix(review-lane): tightened review note schema validation and updated tests
  .scherzo/workflows/schemas/provider/review-lane-draft.correctness.v1.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.idioms-maintainability.v1.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.security-performance.v1.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.test-quality.v1.schema.json
  test/fixtures/review-lane-contract/correctness/manifest.v1.json
  test/fixtures/review-lane-contract/idioms-maintainability/manifest.v1.json
  test/fixtures/review-lane-contract/security-performance/manifest.v1.json
  test/fixtures/review-lane-contract/test-quality/manifest.v1.json
  test/structured_output_json_schema_test.gleam
Due: gleam-format

chore(workspace): remove deprecated jj wrapper
  docs/runbooks/workspace-driver-migration.md
  scripts/scherzo-jj-workspace
  test/jj_workspace_driver_test.gleam
Due: gleam-format

Implement LIV-319: Replace broken PR conflict repair scheduled example
  docs/plans/LIV-85-native-scheduled-jobs.md
  docs/runbooks/scheduled-jobs.md
  examples/scherzo.yaml
  examples/workflows/github-pr-conflict-scout.yaml
  examples/workflows/merge-conflict-resolution.yaml
  examples/workflows/pr-conflict-repair.yaml
  examples/workflows/prompts/pr-conflict-repair.md
  examples/workflows/prompts/resolve-merge-conflicts.md
  scripts/scherzo-github-pr-conflict-scout
  test/github_pr_conflict_scout_config_test.gleam
  test/github_pr_conflict_scout_test.gleam
Due: gleam-format

feat(scherzo): added provider-facing structured output schemas
  .scherzo/workflows/schemas/provider/exec-plan-revision-submission.v2.schema.json
  .scherzo/workflows/schemas/provider/implementation-pack-submission.v2.schema.json
  .scherzo/workflows/schemas/provider/review-lane-draft.v1.schema.json
Due: none

refactor(scherzo): refactored workflows to use provider schema paths
  .scherzo/workflows/execplan-revision-v2.yaml
  .scherzo/workflows/execplan-v2.yaml
  .scherzo/workflows/prompts/execplan-revision-v2.md
  .scherzo/workflows/prompts/execplan-v2-draft.md
  .scherzo/workflows/prompts/execplan-v2-incorporate-review.md
  .scherzo/workflows/review-native-contract-spike.yml
Due: none

test(structured_output_tool_spec): added workflow schema coverage for structured outputs
  test/structured_output_tool_spec_test.gleam
Due: gleam-format

fix: bound Pi turn result buffering
  src/scherzo/agent/turn_loop.gleam
  src/scherzo/agent/turn_result_buffer.gleam
  src/scherzo/result_artifact.gleam
  test/agent_runner_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/result_artifact_test.gleam
  test/turn_result_buffer_test.gleam
Due: gleam-format

feat(scherzo-workflows): added native review gates to execplan implementation v2
  .scherzo/workflows/execplan-implementation-v2.yaml
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/prompts/execplan-implementation-v2-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-v2-apply-plan-completion-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-v2-repair-base-drift.md
  .scherzo/workflows/prompts/execplan-implementation-v2-review.md
  .scherzo/workflows/prompts/execplan-implementation-v2-verify-completion-after-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-v2-verify-completion-before-final-validation.md
  test/workflow_dag_validator_parser_test.gleam
Due: gleam-format

fix(execplan-v2): fixed run-root artifact resolution for materialize-pack
  .scherzo/workflows/execplan-revision-v2.yaml
  .scherzo/workflows/execplan-v2.yaml
  scripts/scherzo-execplan-v2
  scripts/tests/test_scherzo_execplan_v2.py
Due: none

feat(workflows): remove unrouted native review workflows
  .config/selfci/ci.sh
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/tool-contract.v1.json
  .scherzo/workflows/prompts/review-native-contract-failed.md
  .scherzo/workflows/prompts/review-native-contract-malformed.md
  .scherzo/workflows/prompts/review-native-contract-valid.md
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
  docs/review-artifacts.md
  scripts/scherzo-review
  src/scherzo/local_workflow_run.gleam
  test/fixtures/structured_output/pi_raw_schema/spec.correctness.json
  test/main_test.gleam
  test/review_artifacts_test.gleam
  test/review_lane_contract_test.gleam
  test/review_native_workflow_test.gleam
  test/structured_output_tool_spec_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-289: Write formal tracker adapter/task-provider spec
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_ADAPTER_SPEC.md
  test/tracker_adapter_docs_test.gleam
Due: gleam-format

Implement LIV-329: Fix workflow output contracts marking failed stdout-backed outputs as present zero-byte artifacts
  src/scherzo/workflow_run.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-331: Make merge-conflict repair workflow reusable across Scherzo-managed GitHub repos
  .scherzo/workflows/github-pr-conflict-scout.yaml
  .scherzo/workflows/merge-conflict-resolution.yaml
  .scherzo/workflows/prompts/resolve-merge-conflicts.md
  docs/runbooks/scheduled-jobs.md
  examples/workflows/merge-conflict-resolution.yaml
  examples/workflows/prompts/resolve-merge-conflicts.md
  scripts/scherzo-github-pr-conflict-scout
  scripts/scherzo-merge-conflict
  test/github_pr_conflict_scout_config_test.gleam
  test/github_pr_conflict_scout_test.gleam
  test/merge_conflict_helper_test.gleam
Due: gleam-format

chore(scherzo): updated repository references to scherzo-systems
  .scherzo/README.md
  .scherzo/workflows/schemas/review-artifacts.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.correctness.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.idioms-maintainability.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.security-performance.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.test-quality.v1.schema.json
  .scherzo/workflows/schemas/review-lane-draft.v1.schema.json
  devenv.nix
  docs/GETTING_STARTED.md
  docs/plans/LIV-124-implement-scheduled-github-pr-merge-conflict-scout.md
  docs/plans/LIV-193-interactive-execplan-pr-review-feedback-ui.html
  docs/plans/scherzo-agent-devenv-profile.md
  docs/review-artifacts.md
  nix/scherzo.nix
  scripts/scherzo-agent-common.sh
  scripts/scherzo-execplan-revision
  scripts/scherzo-review
  scripts/scherzo_execplan_review.py
  test/fixtures/structured_output/pi_raw_schema/spec.correctness.json
  test/github_pr_conflict_scout_config_test.gleam
  test/github_pr_conflict_scout_test.gleam
  test/merge_conflict_helper_test.gleam
Due: gleam-format, nix-format
