Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

LIV-482: add workflow step recovery foundation
  README.md
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/runtime_bundle.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_repair.gleam
  src/scherzo/workflow_scheduler.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_transition_test.gleam
  test/runtime_bundle_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/step_artifact_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_step_recovery_test.gleam
  workflows/dogfood/prompts/recover_failed_step.md
  workflows/dogfood/schemas/provider/workflow-step-recovery-result.v1.schema.json
  workflows/dogfood/schemas/workflow-step-recovery-result.v1.schema.json
Due: gleam-format

ExecPlan: LIV-492 Create ExecPlan: control command codec and remote envelope foundation
  docs/plans/LIV-492-control-command-codec-remote-envelope-foundation.md
Due: none

Implement LIV-462: Implement: LIV-241 Ticket 5 add workstream projection and operator inspection
  src/scherzo/ctl.gleam
  src/scherzo/ctl/schedule_state.gleam
  src/scherzo/ctl/workstream.gleam
  src/scherzo/workstream/projection.gleam
  src/scherzo/workstream/projection_json.gleam
  src/scherzo/workstream/projection_snapshot.gleam
  test/workstream_projection_inspection_test.gleam
Due: gleam-format

fix(retry-step): recover legacy workflow fingerprints
  src/scherzo/workflow_repair.gleam
Due: gleam-format

fix(nix): added packaged pi wiring to Scherzo wrappers
  devenv.nix
  docs/GETTING_STARTED.md
  flake.nix
  nix/scherzo.nix
  scripts/scherzo-pi
  scripts/tests/test_scherzo_pi.py
Due: nix-format

feat(execplan): added deferred manual verification handling to plan completion
  docs/runbooks/execplan-completion-preflight.md
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/prompts/execplan-review.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

fix(scripts): fixed scherzo-pi path resolution for packaged pi selection
  scripts/scherzo-pi
  scripts/tests/test_scherzo_pi.py
Due: none

fix(workflow-dag): added workflow DAG compatibility normalization
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/schedule_doctor.gleam
  src/scherzo/workflow_dag_compat.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_repair.gleam
  src/scherzo_workflow_dag_compat_ffi.erl
  test/scherzo_workflow_dag_compat_test_ffi.erl
  test/workflow_dag_compat_test.gleam
Due: gleam-format

ExecPlan: LIV-493 Create ExecPlan: daemon identity and UI/server configuration
  docs/plans/LIV-493-daemon-identity-ui-server-config.md
Due: none

Implement LIV-501: Create ExecPlan: control command codec and remote envelope foundation
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/control/remote_envelope.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/control_remote_envelope_test.gleam
Due: gleam-format

ExecPlan: LIV-499 Operator history for workflow step recovery
  docs/plans/LIV-499-operator-history-for-workflow-step-recovery.md
Due: none

ExecPlan: LIV-498 Plan: Recovered workflow outcomes and repair compatibility
  docs/plans/LIV-498-recovered-workflow-outcomes-repair-compatibility.md
Due: none

feat: implement liv-511
  docs/runbooks/execplan-completion-preflight.md
  test/execplan_v2_bundle_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

feat(review): require structured finding dispositions
  test/review_artifacts_test.gleam
  test/review_native_workflow_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/apply-feedback.md
  workflows/dogfood/prompts/code-review.md
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/schemas/provider/review-finding-dispositions.v1.schema.json
  workflows/dogfood/schemas/review-finding-disposition-input.v1.schema.json
  workflows/dogfood/scripts/scherzo-review
Due: gleam-format

Implement LIV-513: Fix false workflow drift from Scherzo-owned Linear state changes
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/state.gleam
  src/scherzo/session/recovery.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/tracker/issue.gleam
  src/scherzo/workflow_attempt.gleam
  test/orchestrator_core_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

ExecPlan: LIV-515 Make interrupted retained workflow runs retry-step viable
  docs/plans/LIV-515-interrupted-retained-runs-retry-step.md
Due: none

ExecPlan: LIV-489 Recovered workflow outcomes and repair compatibility
  docs/plans/LIV-489-recovered-workflow-outcomes-and-repair-compatibility.md
Due: none

ExecPlan: LIV-497 Plan: Runtime workflow step recovery execution
  docs/plans/LIV-497-runtime-workflow-step-recovery-execution.md
Due: none

fix(scherzo-review): fixed disposition metadata discovery for suffixed step dirs
  test/review_artifacts_test.gleam
  workflows/dogfood/scripts/scherzo-review
Due: gleam-format

Implement LIV-517: Make interrupted retained workflow runs retry-step viable
  docs/runbooks/workflow-recovery.md
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/workflow_repair.gleam
  test/ctl_test.gleam
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/workflow_repair_test.gleam
Due: gleam-format

ExecPlan: LIV-531 Plan tracker-neutral runtime migration for multi-tracker support
  docs/plans/LIV-531-tracker-neutral-runtime-migration-review.md
Due: none

Implement LIV-519: Plan: Runtime workflow step recovery execution
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/workflow_attempt.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_run_test.gleam
  test/workflow_step_recovery_test.gleam
Due: gleam-format

ExecPlan: LIV-500 Plan: Workflow step recovery negative-path hardening
  docs/plans/LIV-500-workflow-step-recovery-negative-path-hardening.md
Due: none

Implement LIV-518: Recovered workflow outcomes and repair compatibility
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_outcome.gleam
  src/scherzo/workflow_recovery_planner.gleam
  src/scherzo/workflow_repair.gleam
  src/scherzo/workflow_run.gleam
  test/orchestrator_daemon_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_outcome_test.gleam
  test/workflow_recovery_planner_test.gleam
  test/workflow_repair_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-533: Triage production lint warnings into subsystem hardening backlog
  docs/runbooks/glinter.md
Due: none

Implement LIV-490: Operator history for workflow step recovery
  docs/plans/LIV-499-operator-history-for-workflow-step-recovery.md
  docs/runbooks/workflow-recovery.md
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/ctl.gleam
  src/scherzo/ctl/workflow_recovery_history.gleam
  test/ctl_test.gleam
  test/ctl_workflow_recovery_history_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-536: Plan: Workflow step recovery negative-path hardening
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/ctl/workflow_recovery_history.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_step_recovery.gleam
  test/artifact_store_test.gleam
  test/ctl_workflow_recovery_history_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_recovery_test.gleam
  test/workflow_run_test.gleam
  test/workflow_step_recovery_test.gleam
Due: gleam-format

ExecPlan: LIV-523 Reassess daemon decomposition and define v2 extraction sequence
  docs/plans/LIV-523-daemon-decomposition-v2.md
Due: none

ExecPlan: LIV-413 Draft remote command and handoff retry conformance packs
  docs/plans/LIV-413-remote-command-handoff-retry-conformance-packs.md
Due: none

Implement LIV-551: Harden JJ workspace cleanup so finished runs do not leave dangling workspaces
  src/scherzo/workspace_driver_lifecycle.gleam
  src/scherzo/workspace_run.gleam
  test/jj_workspace_driver_test.gleam
  test/workflow_recovery_planner_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

Implement LIV-550: Draft remote command and handoff retry conformance packs
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_CONFORMANCE_PROTOCOL.md
  src/scherzo/tracker/conformance/handoff_pack.gleam
  src/scherzo/tracker/conformance/json.gleam
  src/scherzo/tracker/conformance/manifest_support.gleam
  src/scherzo/tracker/conformance/manifest_validation.gleam
  src/scherzo/tracker/conformance/operation_json.gleam
  src/scherzo/tracker/conformance/profile.gleam
  src/scherzo/tracker/conformance/profile_json.gleam
  src/scherzo/tracker/conformance/remote_command_event_validation.gleam
  src/scherzo/tracker/conformance/remote_commands_pack.gleam
  src/scherzo/tracker/conformance/runner.gleam
  src/scherzo/tracker/conformance/types.gleam
  test/fixtures/tracker_conformance/claimed-remote-handoff-not-requested.manifest.json
  test/fixtures/tracker_conformance/fake_conformance_state.sh
  test/fixtures/tracker_conformance/fake_task_source_driver.sh
  test/fixtures/tracker_conformance/handoff-cleanup-fails.manifest.json
  test/fixtures/tracker_conformance/handoff-defective.manifest.json
  test/fixtures/tracker_conformance/handoff-pass.manifest.json
  test/fixtures/tracker_conformance/handoff-probe-fails.manifest.json
  test/fixtures/tracker_conformance/handoff-retry-duplicate-visible.manifest.json
  test/fixtures/tracker_conformance/invalid-requested-handoff-without-capability.manifest.json
  test/fixtures/tracker_conformance/invalid-requested-handoff-without-probe.manifest.json
  test/fixtures/tracker_conformance/invalid-requested-handoff-without-retry-behavior.manifest.json
  test/fixtures/tracker_conformance/invalid-requested-remote-commands-without-capability.manifest.json
  test/fixtures/tracker_conformance/invalid-requested-remote-commands-without-comments.manifest.json
  test/fixtures/tracker_conformance/invalid-requested-remote-commands-without-retry-behavior.manifest.json
  test/fixtures/tracker_conformance/remote-commands-ack-defective.manifest.json
  test/fixtures/tracker_conformance/remote-commands-ack-retry-duplicate-visible.manifest.json
  test/fixtures/tracker_conformance/remote-commands-cleanup-fails.manifest.json
  test/fixtures/tracker_conformance/remote-commands-fetch-defective.manifest.json
  test/fixtures/tracker_conformance/remote-commands-oversized-body.manifest.json
  test/fixtures/tracker_conformance/remote-commands-pass.manifest.json
  test/fixtures/tracker_conformance/remote-commands-probe-fails.manifest.json
  test/fixtures/tracker_conformance/remote-commands-with-state-transitions.manifest.json
  test/tracker_conformance_cli_driver_test.gleam
  test/tracker_conformance_handoff_pack_test.gleam
  test/tracker_conformance_optional_profile_test.gleam
  test/tracker_conformance_protocol_test.gleam
  test/tracker_conformance_remote_commands_pack_test.gleam
Due: gleam-format

ExecPlan: LIV-414 Draft scheduled-failure dedupe conformance pack
  docs/plans/LIV-414-scheduled-failure-dedupe-conformance-pack.md
Due: none

ExecPlan: LIV-568 Make retry-step recover terminal failed runs with stale active steps
  docs/plans/LIV-568-retry-step-stale-active-boundaries.md
Due: none

feat: implement liv-535
  docs/specs/TRACKER_ADAPTER_SPEC.md
  src/scherzo/config.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/task.gleam
  src/scherzo/tracker/adapter.gleam
  src/scherzo/tracker/adapter_legacy.gleam
  src/scherzo/tracker/linear_adapter.gleam
  test/linear_command_config_test.gleam
  test/support/fake_tracker_adapter.gleam
  test/task_test.gleam
  test/tracker_adapter_docs_test.gleam
  test/tracker_adapter_test.gleam
  test/tracker_fake_adapter_test.gleam
  test/tracker_linear_adapter_test.gleam
  test/workspace_driver_discovery_test.gleam
Due: gleam-format

Implement LIV-563: Fix scheduled dispatch capacity self-blocking retry loop
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_test.gleam
Due: gleam-format

test(workflow): added coverage for execplan recovery prompt
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

docs(scherzo-operator): added step-level retry guidance for Scherzo operators
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
Due: none

feat(execplan): added camel-case idempotence matching for pack validation
  test/execplan_v2_bundle_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format
