Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

docs(symphony): added Symphony service specification and implementation plan
  docs/SYMPHONY_SPEC.md
  docs/plans/implement-scherzo.md
Due: none

Prove Scherzo subprocess boundary
  docs/plans/implement-scherzo.md
  src/scherzo/port.gleam
  src/scherzo_port_ffi.erl
  test/fixtures/fake_pi_rpc.sh
  test/port_test.gleam
Due: gleam-format

Add Scherzo domain and logging types
  docs/plans/implement-scherzo.md
  src/scherzo/domain.gleam
  src/scherzo/error.gleam
  src/scherzo/log.gleam
  test/domain_test.gleam
  test/log_test.gleam
Due: gleam-format

Scaffold Scherzo Gleam project
  .envrc
  .gitignore
  README.md
  devenv.lock
  devenv.nix
  docs/plans/implement-scherzo.md
  examples/WORKFLOW.md
  gleam.toml
  manifest.toml
  src/scherzo.gleam
  test/dependency_smoke_test.gleam
  test/scherzo_test.gleam
Due: gleam-format, nix-format

Load workflows and render strict prompts
  docs/plans/implement-scherzo.md
  src/scherzo/config.gleam
  src/scherzo/template.gleam
  src/scherzo/workflow.gleam
  src/scherzo_config_ffi.erl
  test/config_test.gleam
  test/template_test.gleam
  test/workflow_test.gleam
Due: gleam-format

docs(linear): added Linear command transport plan
  docs/plans/linear-command-transport.md
Due: none

Wire Scherzo CLI and orchestrator runtime
  docs/plans/implement-scherzo.md
  src/scherzo.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo_main_ffi.erl
  test/main_test.gleam
  test/orchestrator_service_test.gleam
Due: gleam-format

docs: plan Scherzo real-board readiness
  docs/plans/real-board-readiness.md
Due: none

test(orchestrator): added daemon, handoff, and smoke tests
  test/handoff_test.gleam
  test/instance_lock_test.gleam
  test/linear_http_test.gleam
  test/orchestrator_daemon_test.gleam
  test/smoke_test.gleam
Due: gleam-format

docs(attach-renderer): added terminal attach renderer plan
  docs/plans/terminal-attach-renderer.md
Due: none

Run pi RPC workers in populated workspaces
  docs/plans/implement-scherzo.md
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/agent/probe.gleam
  src/scherzo/agent/runner.gleam
  test/agent_runner_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/pi_rpc_test.gleam
Due: gleam-format

feat(time): added monotonic time FFI and fake RPC stall control
  src/scherzo_time_ffi.erl
  test/fixtures/fake_pi_rpc.sh
Due: none

docs(pi-skill): added pi operator skill plan
  docs/plans/pi-operator-skill.md
Due: none

feat(session): added session event hub and redaction support
  src/scherzo/session/event.gleam
  src/scherzo/session/hub.gleam
  src/scherzo/session/json.gleam
  src/scherzo/session/redaction.gleam
  src/scherzo_redaction_ffi.erl
Due: gleam-format

docs(operator-controls): added mutating operator controls plan
  docs/plans/mutating-operator-controls.md
Due: none

Document and validate Scherzo implementation
  README.md
  docs/TODO.md
  docs/plans/implement-scherzo.md
Due: none

Add safe populated workspace lifecycle
  docs/TODO.md
  docs/plans/implement-scherzo.md
  src/scherzo/hooks.gleam
  src/scherzo/path.gleam
  src/scherzo/workspace.gleam
  test/workspace_test.gleam
Due: gleam-format

docs(linear): added Linear session results plan
  docs/plans/linear-session-results.md
Due: none

docs(null): added daemon probe and smoke run instructions
  README.md
Due: none

docs(control-api): added local control API plan
  docs/plans/local-control-api-and-scherzoctl.md
Due: none

docs(eventhub): added session eventhub plan
  docs/plans/session-eventhub.md
Due: none

Add pure orchestrator scheduling logic
  docs/plans/implement-scherzo.md
  src/scherzo/orchestrator/core.gleam
  test/orchestrator_core_test.gleam
Due: gleam-format

Implement Linear tracker reads
  docs/TODO.md
  docs/plans/implement-scherzo.md
  src/scherzo/linear.gleam
  src/scherzo/tracker.gleam
  test/linear_test.gleam
Due: gleam-format

feat(orchestrator): added daemon orchestration and handoff flow
  src/scherzo/handoff.gleam
  src/scherzo/instance_lock.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/smoke.gleam
  src/scherzo_lock_ffi.erl
Due: gleam-format

test(session): added session event and redaction tests
  README.md
  test/orchestrator_daemon_session_event_test.gleam
  test/session_event_test.gleam
  test/session_hub_test.gleam
  test/session_redaction_test.gleam
Due: gleam-format

feat(control): added read-only daemon control API and ctl CLI
  README.md
  scripts/scherzoctl
  src/scherzo/control/client.gleam
  src/scherzo/control/file.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/control/server.gleam
  src/scherzo/ctl.gleam
  src/scherzo_control_ffi.erl
  test/control_file_test.gleam
  test/control_protocol_test.gleam
  test/control_server_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
Due: gleam-format

feat(agent): added operator commands and UI request handling
  README.md
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/agent/runner.gleam
  src/scherzo/agent/worker_command.gleam
  src/scherzo/error.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/agent_runner_test.gleam
  test/agent_worker_command_test.gleam
  test/agent_worker_control_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/handoff_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/pi_rpc_test.gleam
Due: gleam-format

feat(linear): add command comment transport
  README.md
  docs/TODO.md
  docs/plans/linear-command-transport.md
  examples/WORKFLOW.md
  src/scherzo/config.gleam
  src/scherzo/control/linear_parser.gleam
  src/scherzo/control/linear_transport.gleam
  src/scherzo/domain.gleam
  src/scherzo/linear.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/linear_command_config_test.gleam
  test/linear_command_parser_test.gleam
  test/linear_command_transport_test.gleam
  test/linear_comments_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
Due: gleam-format

feat(control): added command-aware operator control and worker loop
  README.md
  docs/plans/command-aware-worker-loop.md
  docs/plans/mutating-operator-controls.md
  scripts/scherzoctl
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/agent/runner.gleam
  src/scherzo/config.gleam
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/control/server.gleam
  src/scherzo/ctl.gleam
  src/scherzo/domain.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/agent_runner_test.gleam
  test/config_test.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/control_server_test.gleam
  test/ctl_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/pi_rpc_test.gleam
Due: gleam-format

docs(linear-command-transport): refined Linear command transport planning
  docs/TODO.md
  docs/plans/linear-command-transport.md
Due: none

docs(plans): added hardening plans for daemon recovery and lifecycle
  docs/plans/hardening-01-graceful-daemon-lifecycle.md
  docs/plans/hardening-02-local-durable-state-ledger.md
  docs/plans/hardening-03-single-instance-crash-recovery.md
  docs/plans/hardening-04-pi-session-continuation.md
  docs/plans/hardening-05-durable-linear-command-inbox.md
  docs/plans/park-release-policy.md
  docs/plans/terminal-attach-renderer.md
Due: none

feat(ctl): added linear contract checks and terminal attach rendering
  README.md
  docs/plans/linear-board-contract-check.md
  docs/plans/terminal-attach-renderer.md
  docs/plans/workflow-label-dispatch-policy.md
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/agent/runner.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/json.gleam
  src/scherzo/terminal/render.gleam
  src/scherzo/terminal/sanitize.gleam
  src/scherzo/terminal/style.gleam
  test/agent_runner_test.gleam
  test/control_protocol_test.gleam
  test/control_server_test.gleam
  test/ctl_attach_render_test.gleam
  test/ctl_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/fixtures/pi_tool_events_captured.jsonl
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/pi_rpc_test.gleam
  test/session_event_test.gleam
  test/terminal_render_test.gleam
Due: gleam-format

feat(orchestrator): added issue fingerprint-based park release policies
  README.md
  src/scherzo/domain.gleam
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/service.gleam
  test/domain_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_control_test.gleam
Due: gleam-format

fix(sig_probe): fixed sigterm probe logging behavior
  ok
Due: none

feat(service): added graceful daemon shutdown wiring
  src/scherzo/orchestrator/service.gleam
  test/orchestrator_service_lifecycle_test.gleam
Due: gleam-format

feat(signal): added SIGTERM signal installation and cleanup
  src/scherzo/signal.gleam
  src/scherzo_signal_ffi.erl
  test/signal_test.gleam
Due: gleam-format

docs(daemon): updated daemon lifecycle documentation
  README.md
  docs/plans/hardening-01-graceful-daemon-lifecycle.md
  src/scherzo/main.gleam
  test/main_test.gleam
Due: gleam-format

feat(lifecycle): added daemon stop lifecycle handling
  src/scherzo/lifecycle.gleam
  src/scherzo_lifecycle_ffi.erl
  test/lifecycle_test.gleam
Due: gleam-format

docs(linear-board-contract): updated linear board contract check plan
  docs/plans/linear-board-contract-check.md
Due: none
