Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

test: add unit tests for agent/process.gleam (s-7726)
  .tickets/s-7726.md
  test/scherzo/agent/process_test.gleam
Due: gleam-format

test: add unit tests for orchestrator.gleam (s-d247)
  .tickets/s-d247.md
  test/scherzo/orchestrator_test.gleam
Due: gleam-format

fix: log warnings for silent errors in orchestrator (s-1acf, s-245a)
  .claude/settings.local.json
  .tickets/s-1acf.md
  .tickets/s-245a.md
  .tickets/s-6a41.md
  src/scherzo/orchestrator.gleam
Due: gleam-format

fix: implement state persistence in store.gleam (s-b2c5)
  .tickets/s-1acf.md
  .tickets/s-245a.md
  .tickets/s-b2c5.md
  src/scherzo/state/store.gleam
  test/scherzo/state/store_test.gleam
Due: gleam-format

feat: add command execution timeout (s-2193)
  .tickets/s-2193.md
  .tickets/s-2eaf.md
  .tickets/s-4878.md
  .tickets/s-9881.md
  .tickets/s-b2c5.md
  .tickets/s-c825.md
  .tickets/s-cc48.md
  .tickets/s-ec9d.md
  .tickets/s-ff20.md
  .tickets/s-ff47.md
  src/scherzo/agent/process.gleam
  src/scherzo/core/types.gleam
  src/scherzo/orchestrator.gleam
  src/scherzo/state/store.gleam
  test/scherzo/agent/driver_test.gleam
  test/scherzo/agent/drivers/claude_test.gleam
  test/scherzo/agent/process_test.gleam
  test/scherzo/state/store_test.gleam
Due: gleam-format

fix: prevent path traversal in workspace sanitize_id (s-2eaf)
  .tickets/s-0849.md
  .tickets/s-0a1e.md
  .tickets/s-2193.md
  .tickets/s-2443.md
  .tickets/s-2eaf.md
  .tickets/s-5fd0.md
  .tickets/s-68cc.md
  .tickets/s-6a41.md
  .tickets/s-8e32.md
  .tickets/s-8e59.md
  .tickets/s-b2f5.md
  .tickets/s-bd22.md
  .tickets/s-e77e.md
  .tickets/s-fc9b.md
  src/scherzo/agent/workspace.gleam
  test/scherzo/agent/workspace_test.gleam
Due: gleam-format

chore: add security bug tickets from code review
  .tickets/s-13f5.md
  .tickets/s-9f73.md
  .tickets/s-a623.md
  .tickets/s-c2d8.md
Due: none

chore: add architecture/config improvement tickets
  .tickets/s-14a5.md
  .tickets/s-839d.md
Due: none

chore: add code style and naming tickets
  .tickets/s-54d4.md
  .tickets/s-56f4.md
  .tickets/s-7136.md
Due: none

chore: add documentation tickets
  .tickets/s-8eeb.md
  .tickets/s-94e8.md
Due: none

chore: add error handling improvement tickets
  .tickets/s-cae6.md
  .tickets/s-cff4.md
Due: none

fix: security hardening across codebase
  .tickets/s-0a1e.md
  .tickets/s-13f5.md
  .tickets/s-9f73.md
  .tickets/s-a623.md
  .tickets/s-c2d8.md
  .tickets/s-ff20.md
  .tickets/s-ff47.md
  src/scherzo/agent/checkpoint.gleam
  src/scherzo/agent/workspace.gleam
  src/scherzo/orchestrator.gleam
  src/scherzo/task/sources/parser.gleam
  src/scherzo/task/sources/tk.gleam
  test/scherzo/agent/claude_settings_test.gleam
  test/scherzo/agent/workspace_test.gleam
Due: gleam-format

chore: add ticket for subprocess cleanup on timeout
  .tickets/s-9903.md
Due: none

refactor: rename abbreviated parameter 't' to 'task' in orchestrator
  .tickets/s-7136.md
  src/scherzo/orchestrator.gleam
Due: gleam-format

feat: wire up workspace isolation in orchestrator
  .tickets/s-68cc.md
  src/scherzo/orchestrator.gleam
Due: gleam-format

fix: restore .claude/settings.json before workspace cleanup
  .tickets/s-68cc.md
  .tickets/s-bd22.md
  src/scherzo/agent/workspace.gleam
  src/scherzo/vcs/jj.gleam
Due: gleam-format

Handle jj description update errors in process.gleam
  src/scherzo/agent/process.gleam
Due: gleam-format

chore: add code review findings as tickets
  .tickets/s-0b7d.md
  .tickets/s-1431.md
  .tickets/s-20eb.md
  .tickets/s-2c92.md
  .tickets/s-5391.md
  .tickets/s-7388.md
  .tickets/s-8cff.md
  .tickets/s-8ee8.md
  .tickets/s-a0c9.md
  .tickets/s-eb9f.md
  .tickets/s-f824.md
  AGENTS.md
Due: none

docs: add merge queue design for Phase 5.7
  PLAN.md
  docs/merge-queue.md
Due: none

chore: untrack .claude/settings.local.json
  .claude/settings.local.json
Due: none

fix: apply gleam formatting and add pre-commit format check hook
  .claude/settings.json
  src/scherzo/agent/checkpoint.gleam
  src/scherzo/agent/claude_settings.gleam
  src/scherzo/agent/handoff.gleam
  src/scherzo/agent/process.gleam
  src/scherzo/agent/workspace.gleam
  src/scherzo/orchestrator.gleam
  src/scherzo/state/store.gleam
  src/scherzo/vcs/jj.gleam
  test/scherzo/agent/checkpoint_test.gleam
  test/scherzo/agent/claude_settings_test.gleam
  test/scherzo/agent/handoff_test.gleam
  test/scherzo/agent/process_test.gleam
  test/scherzo/agent/workspace_test.gleam
  test/scherzo/orchestrator_test.gleam
  test/scherzo/state/store_test.gleam
Due: gleam-format

chore: add Phase 4 tmux UI tickets
  .tickets/s-074f.md
  .tickets/s-2449.md
  .tickets/s-368c.md
  .tickets/s-3873.md
  .tickets/s-4c79.md
  .tickets/s-6013.md
  .tickets/s-67e6.md
  .tickets/s-8acb.md
  .tickets/s-8e87.md
  .tickets/s-9f45.md
  .tickets/s-ce48.md
  .tickets/s-d42f.md
  .tickets/s-deb3.md
  .tickets/s-f9f8.md
Due: none

feat(ui): add tmux session and pane management
  src/scherzo/ui/tmux.gleam
  test/scherzo/ui/tmux_test.gleam
Due: gleam-format

feat(ui): add control REPL skeleton with command parsing
  src/scherzo/ui/repl.gleam
  src/scherzo_io_ffi.erl
  test/scherzo/ui/repl_test.gleam
Due: gleam-format

feat(ui): add pane layout management
  src/scherzo/ui/layout.gleam
  test/scherzo/ui/layout_test.gleam
Due: gleam-format

feat(ui): add named pipe output routing for agent panes
  src/scherzo/ui/pipes.gleam
  test/scherzo/ui/pipes_test.gleam
Due: gleam-format

feat(ui): add REPL commands for status, tasks, agents, and lifecycle
  src/scherzo/ui/commands.gleam
  test/scherzo/ui/commands_test.gleam
Due: gleam-format

feat(ui): add session manager for dynamic pane management
  src/scherzo/ui/session_manager.gleam
  test/scherzo/ui/session_manager_test.gleam
Due: gleam-format

feat(ui): add runner and CLI repl command
  src/scherzo.gleam
  src/scherzo/ui/runner.gleam
Due: gleam-format

chore: close Phase 4 tmux UI tickets
  .tickets/s-074f.md
  .tickets/s-2449.md
  .tickets/s-368c.md
  .tickets/s-3873.md
  .tickets/s-4c79.md
  .tickets/s-6013.md
  .tickets/s-67e6.md
  .tickets/s-8acb.md
  .tickets/s-8e87.md
  .tickets/s-9f45.md
  .tickets/s-ce48.md
  .tickets/s-d42f.md
  .tickets/s-deb3.md
  .tickets/s-f9f8.md
Due: none

docs: update Phase 5.5 completion gates design in PLAN.md
  PLAN.md
  docs/completion-gates.md
Due: none

chore: fix all compiler warnings and add guidelines
  .tickets/s-54d4.md
  AGENTS.md
  src/scherzo/ui/commands.gleam
  src/scherzo/ui/runner.gleam
  test/scherzo/agent/checkpoint_test.gleam
  test/scherzo/orchestrator_test.gleam
  test/scherzo/task/sources/tk_test.gleam
Due: gleam-format

chore: simplify formatting hooks and fix gleam formatting
  .claude/settings.json
  src/scherzo.gleam
  src/scherzo/ui/commands.gleam
  src/scherzo/ui/layout.gleam
  src/scherzo/ui/pipes.gleam
  src/scherzo/ui/repl.gleam
  src/scherzo/ui/session_manager.gleam
  test/scherzo/ui/session_manager_test.gleam
Due: gleam-format

feat(core): add shell module with timeout support
  src/scherzo/core/shell.gleam
  src/scherzo_process_ffi.erl
Due: gleam-format

refactor(vcs): add describe_task_completion to jj module
  src/scherzo/agent/checkpoint.gleam
  src/scherzo/agent/handoff.gleam
  src/scherzo/agent/workspace.gleam
  src/scherzo/event/bus.gleam
  test/scherzo/agent/handoff_test.gleam
  test/scherzo/event/bus_test.gleam
  test/scherzo/vcs/jj_test.gleam
Due: gleam-format

chore: enable gleam LSP plugin
  .claude/settings.json
Due: none

refactor: migrate to shell module with timeout support
  src/scherzo/agent/process.gleam
  src/scherzo/orchestrator.gleam
  src/scherzo/task/sources/parser.gleam
  src/scherzo/task/sources/tk.gleam
  src/scherzo/ui/pipes.gleam
  src/scherzo/ui/tmux.gleam
  src/scherzo/vcs/jj.gleam
Due: gleam-format

chore: close completed Phase 5.5 tickets
  .tickets/s-1431.md
  .tickets/s-2c92.md
  .tickets/s-4878.md
  .tickets/s-5fd0.md
  .tickets/s-7388.md
  .tickets/s-8e59.md
  .tickets/s-9881.md
  .tickets/s-9903.md
  .tickets/s-c825.md
  .tickets/s-cc48.md
  .tickets/s-ec9d.md
  .tickets/s-f824.md
Due: none

fix(ci): add jj init and refactor CI to use scripts
  .github/scripts/ci.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat(devenv): add ticket package for git-native issue tracking
  flake.nix
  nix/pkgs/ticket.nix
Due: nix-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
