Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

Implement LIV-1348: Step recovery: verify multi-attempt budgets (attempts > 1) and operator-visible recovery history (#604)
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/ctl/workflow_recovery_history.gleam
  test/ctl_workflow_recovery_history_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-1353: Move canonical ExecPlan/implementation run artifacts out of tmp/ into run-root state (#605)
  src/scherzo/workflow_run/contract_io.gleam
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/review_artifacts_test.gleam
  test/workflow_portability_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-final-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-recover-failed-step.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/execplan-recover-failed-step.md
  workflows/dogfood/prompts/implementation-recover-failed-step.md
  workflows/dogfood/prompts/repair-base-drift.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
  workflows/dogfood/scripts/scherzo-review
Due: gleam-format

fix(scherzo-review): added location deduplication for review output
  workflows/dogfood/scripts/scherzo-review
Due: none

ExecPlan review doc: docs/plans/LIV-1371-unified-retry-planner.md
  docs/plans/LIV-1371-unified-retry-planner.md
Due: none

Implement LIV-1361: Audit native review evidence pipeline depth from retained runs before simplifying
  docs/spikes/LIV-1361-native-review-pipeline-depth-audit.md
Due: none

Implement LIV-1360: Retire semantic cue-matching prose linter in scherzo-execplan completion preflight
  docs/runbooks/execplan-completion-preflight.md
  docs/runbooks/workflow-recovery.md
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/execplan_workflow_guidance_test.gleam
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/prompts/execplan-review.md
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-1359: Remove legacy exec_plan_bundle fallback resolution (plan.ref / review_doc.path / HTML plans)
  docs/runbooks/execplan-bundle-descriptor-cutoff.md
  scripts/scherzo-ci
  scripts/scherzo_execplan_review.py
  test/execplan_brief_helper_test.gleam
  test/execplan_html_renderer_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/fixtures/execplan_v2/exec-plan-bundle.absolute-path.json
  test/fixtures/execplan_v2/exec-plan-bundle.stale-pack.json
  test/fixtures/execplan_v2/exec-plan-bundle.valid.json
  test/scherzo_execplan_review_test.py
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-final-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/schemas/exec-plan-bundle.v2.schema.json
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-execplan-brief
  workflows/dogfood/scripts/scherzo-execplan-html
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1359: Remove legacy exec_plan_bundle fallback resolution (plan.ref / review_doc.path / HTML plans) (#609)
  docs/runbooks/execplan-bundle-descriptor-cutoff.md
  scripts/scherzo-ci
  scripts/scherzo_execplan_review.py
  test/execplan_brief_helper_test.gleam
  test/execplan_html_renderer_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/fixtures/execplan_v2/exec-plan-bundle.absolute-path.json
  test/fixtures/execplan_v2/exec-plan-bundle.stale-pack.json
  test/fixtures/execplan_v2/exec-plan-bundle.valid.json
  test/scherzo_execplan_review_test.py
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-final-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/schemas/exec-plan-bundle.v2.schema.json
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-execplan-brief
  workflows/dogfood/scripts/scherzo-execplan-html
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1360: Retire semantic cue-matching prose linter in scherzo-execplan completion preflight (#608)
  docs/runbooks/execplan-completion-preflight.md
  docs/runbooks/workflow-recovery.md
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/execplan_workflow_guidance_test.gleam
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/prompts/execplan-review.md
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-1361: Audit native review evidence pipeline depth from retained runs before simplifying (#607)
  docs/spikes/LIV-1361-native-review-pipeline-depth-audit.md
Due: none

ExecPlan review doc: docs/plans/LIV-1371-unified-retry-planner.md (#606)
  docs/plans/LIV-1371-unified-retry-planner.md
Due: none

Implement LIV-1349: Plan-completion gate as structured-output command validator: workspace fingerprint stamping
  docs/runbooks/workflow-step-recovery.md
  docs/specs/STRUCTURED_OUTPUT_VALIDATOR_SPEC.md
  src/scherzo/structured_output.gleam
  src/scherzo/workflow_run/structured_output_step.gleam
  test/execplan_implementation_helper_test.gleam
  test/structured_output_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1372: Scheduled runs: first-class failure track (no empty-task tracker outbox, backoff/quarantine, retry-step support)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/schedules.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/runtime_recovery.gleam
  src/scherzo/orchestrator/schedule_core.gleam
  src/scherzo/orchestrator/scheduled_runtime.gleam
  src/scherzo/orchestrator/startup_recovery.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/projection/scheduled.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/record/scheduled.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_run.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_operator_runtime_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_recovery_test.gleam
  test/workflow_repair_test.gleam
Due: gleam-format

Implement LIV-1392: Managed launch: adopt runtime session credential exchange; exit on permanent auth rejection
  docs/architecture/daemon-boundary.md
  src/scherzo/control/remote/ui_managed_auth.gleam
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote/ui_websocket_client.gleam
  src/scherzo/lifecycle.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo_remote_websocket_ffi.erl
  test/control_remote_ui_managed_auth_test.gleam
  test/control_remote_ui_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_service_lifecycle_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1349: Plan-completion gate as structured-output command validator: workspace fingerprint stamping (#610)
  docs/runbooks/workflow-step-recovery.md
  docs/specs/STRUCTURED_OUTPUT_VALIDATOR_SPEC.md
  src/scherzo/structured_output.gleam
  src/scherzo/workflow_run/structured_output_step.gleam
  test/execplan_implementation_helper_test.gleam
  test/structured_output_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1372: Scheduled runs: first-class failure track (no empty-task tracker outbox, backoff/quarantine, retry-step support) (#612)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/schedules.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/runtime_recovery.gleam
  src/scherzo/orchestrator/schedule_core.gleam
  src/scherzo/orchestrator/scheduled_runtime.gleam
  src/scherzo/orchestrator/startup_recovery.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/projection/scheduled.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/record/scheduled.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_run.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_operator_runtime_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_recovery_test.gleam
  test/workflow_repair_test.gleam
Due: gleam-format

Implement LIV-1377: Conflict scout: replace GitHub mergeable detection with local git merge-tree preflight
  .scherzo/scherzo.yaml
  docs/runbooks/scheduled-jobs.md
  examples/scherzo.yaml
  examples/workflows/github-pr-conflict-scout.yaml
  test/fixtures/github_pr_conflict_scout_local_preflight.py
  test/github_pr_conflict_scout_config_test.gleam
  test/github_pr_conflict_scout_test.gleam
  workflows/dogfood/github-pr-conflict-scout.yaml
  workflows/dogfood/scripts/scherzo-github-pr-conflict-scout
Due: gleam-format

test: wait for startup recovery before linear operator commands
  test/orchestrator_daemon_linear_command_test.gleam
Due: gleam-format

Implement LIV-1392: Managed launch: adopt runtime session credential exchange; exit on permanent auth rejection (#613)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/remote/ui_managed_auth.gleam
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote/ui_websocket_client.gleam
  src/scherzo/lifecycle.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo_remote_websocket_ffi.erl
  test/control_remote_ui_managed_auth_test.gleam
  test/control_remote_ui_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_service_lifecycle_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

LIV-1377: implement Conflict scout: replace GitHub mergeable detection with local git merge-tree preflight (#611)
  .scherzo/scherzo.yaml
  docs/runbooks/scheduled-jobs.md
  examples/scherzo.yaml
  examples/workflows/github-pr-conflict-scout.yaml
  test/fixtures/github_pr_conflict_scout_local_preflight.py
  test/github_pr_conflict_scout_config_test.gleam
  test/github_pr_conflict_scout_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  workflows/dogfood/github-pr-conflict-scout.yaml
  workflows/dogfood/scripts/scherzo-github-pr-conflict-scout
Due: gleam-format

Implement LIV-1396: jj driver: single-pass changed-file records (drop duplicate jj diff subprocess)
  scripts/scherzo-workspace-jj
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
Due: gleam-format

Implement LIV-1395: jj driver: collapse vestigial publish-change operation parameter
  scripts/scherzo-workspace-jj
Due: none

Implement LIV-1355: Plan-completion verdict: agents submit semantics via structured output; gate stamps machine context
  test/execplan_implementation_helper_test.gleam
  test/review_native_workflow_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/schemas/plan-completion-verdict-submission.v1.schema.json
  workflows/dogfood/schemas/provider/plan-completion-verdict-submission.v1.schema.json
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1351: Collapse per-lane review pipeline fan-out into looping command steps in implementation workflows
  src/scherzo_structured_output_contract.gleam
  test/execplan_implementation_helper_test.gleam
  test/review_lane_contract_test.gleam
  test/review_native_workflow_test.gleam
  test/structured_output_contract_command_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo_review/review_lane_contract.py
  workflows/dogfood/scripts/scherzo_review/review_lane_contract_test.py
Due: gleam-format

fix(execplan): fixed legacy workspace state path handling
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1396: jj driver: single-pass changed-file records (drop duplicate jj diff subprocess) (#614)
  scripts/scherzo-workspace-jj
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
Due: gleam-format

Implement LIV-1395: jj driver: collapse vestigial publish-change operation parameter (#615)
  scripts/scherzo-workspace-jj
Due: none

Implement LIV-1351: Collapse per-lane review pipeline fan-out into looping command steps in implementation workflows (#617)
  src/scherzo_structured_output_contract.gleam
  test/execplan_implementation_helper_test.gleam
  test/review_lane_contract_test.gleam
  test/review_native_workflow_test.gleam
  test/structured_output_contract_command_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo_review/review_lane_contract.py
  workflows/dogfood/scripts/scherzo_review/review_lane_contract_test.py
Due: gleam-format

feat(workflow): added one-shot dogfood workflow and docs
  .scherzo/README.md
  .scherzo/scherzo.yaml
  workflows/dogfood/one-shot.yaml
  workflows/dogfood/prompts/one-shot-implement.md
  workflows/dogfood/prompts/one-shot-recover-failed-step.md
Due: none

Implement LIV-1355: Plan-completion verdict: agents submit semantics via structured output; gate stamps machine context (#616)
  test/execplan_implementation_helper_test.gleam
  test/review_native_workflow_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/schemas/plan-completion-verdict-submission.v1.schema.json
  workflows/dogfood/schemas/provider/plan-completion-verdict-submission.v1.schema.json
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1394: jj driver: mechanical redundancy fixes (duplicate jj root check, status retry check, dead base-candidate generality)
  scripts/scherzo-workspace-jj
  test/github_pr_conflict_scout_config_test.gleam
  test/jj_workspace_driver_test.gleam
  test/jj_workspace_hook_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

Implement LIV-1389: Unified retry planner: rewind to deepest provably-safe step, degrade to fresh run
  docs/architecture/daemon-boundary.md
  docs/plans/LIV-1371-unified-retry-planner.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/projection/workflow_runs.gleam
  src/scherzo/state/record.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_interface_snapshot.gleam
  src/scherzo/workflow_repair.gleam
  src/scherzo/workflow_retry_planner.gleam
  src/scherzo/workflow_run.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/workflow_interface_snapshot_test.gleam
  test/workflow_repair_test.gleam
  test/workflow_retry_matrix_test.gleam
  test/workflow_retry_planner_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

fix(test): restore main CI stability
  test/control_remote_ui_websocket_client_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

fix(test): restore main CI stability (#620)
  test/control_remote_ui_websocket_client_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

Implement LIV-1394: jj driver: mechanical redundancy fixes (duplicate jj root check, status retry check, dead base-candidate generality) (#618)
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
  test/jj_workspace_hook_test.gleam
Due: gleam-format

Implement LIV-1389: Unified retry planner: rewind to deepest provably-safe step, degrade to fresh run (#619)
  docs/architecture/daemon-boundary.md
  docs/plans/LIV-1371-unified-retry-planner.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/projection/workflow_runs.gleam
  src/scherzo/state/record.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_interface_snapshot.gleam
  src/scherzo/workflow_repair.gleam
  src/scherzo/workflow_retry_planner.gleam
  src/scherzo/workflow_run.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/workflow_interface_snapshot_test.gleam
  test/workflow_repair_test.gleam
  test/workflow_retry_matrix_test.gleam
  test/workflow_retry_planner_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1350-collapse-repair-loops-step-recovery.md
  docs/plans/LIV-1350-collapse-repair-loops-step-recovery.md
Due: none

Implement LIV-1397: jj driver: convert bundled drivers from sh-heredoc to plain Python with lint coverage
  devenv.nix
  scripts/scherzo-ci
  scripts/scherzo-workspace-jj
  scripts/scherzo-workspace-noop
  scripts/scherzo_execplan_review.py
  test/jj_workspace_driver_test.gleam
  test/jj_workspace_hook_test.gleam
  test/workspace_driver_contract_test.gleam
Due: gleam-format, nix-format

ExecPlan review doc: docs/plans/LIV-1350-collapse-repair-loops-step-recovery.md (#621)
  docs/plans/LIV-1350-collapse-repair-loops-step-recovery.md
Due: none

Implement LIV-1397: jj driver: convert bundled drivers from sh-heredoc to plain Python with lint coverage (#622)
  devenv.nix
  scripts/scherzo-ci
  scripts/scherzo-workspace-jj
  scripts/scherzo-workspace-noop
  scripts/scherzo_execplan_review.py
  test/jj_workspace_driver_test.gleam
  test/jj_workspace_hook_test.gleam
  test/workspace_driver_contract_test.gleam
Due: gleam-format, nix-format
