Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

fix(dogfood): fixed implementation publish timeouts and added heartbeat logging
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/scripts/scherzo-implementation
Due: none

Implement LIV-940: Refactor CLI command parsing and help around composable command specs (#485)
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/command_spec.gleam
  src/scherzo/ctl/parser.gleam
  src/scherzo/ctl/usage.gleam
  test/ctl_command_spec_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-1015: Harden worker registry and worker directory bookkeeping
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_worker_registry_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1015: Harden worker registry and worker directory bookkeeping (#487)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_worker_registry_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1020: Enforce wall-clock timeouts for command steps and a step batch deadline
  src/scherzo/command_step.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/step_worker_pool.gleam
  test/command_step_test.gleam
  test/step_worker_pool_test.gleam
Due: gleam-format

Implement LIV-1020: Enforce wall-clock timeouts for command steps and a step batch deadline (#488)
  src/scherzo/command_step.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/step_worker_pool.gleam
  test/command_step_test.gleam
  test/step_worker_pool_test.gleam
Due: gleam-format

Implement LIV-1016: Fail closed when the task lifecycle projection errors
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_transition_shell.gleam
  src/scherzo/orchestrator/read_model.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/control_query_codec_test.gleam
  test/control_query_metrics_test.gleam
  test/control_query_service_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_read_model_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
Due: gleam-format

Implement LIV-1021: Run review-lane preflight as an effect instead of inside transition.handle
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_transition_shell.gleam
  src/scherzo/orchestrator/effect_completion_handler.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/read_model.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_invariants.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/control_query_codec_test.gleam
  test/control_query_service_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_completion_handler_test.gleam
  test/orchestrator_read_model_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1023: Reset issue counters on terminal success and bound the completed-task cache
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/runtime/state.gleam
  src/scherzo/state/recovery.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_state_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

Implement LIV-1016: Fail closed when the task lifecycle projection errors (#489)
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_transition_shell.gleam
  src/scherzo/orchestrator/read_model.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/control_query_codec_test.gleam
  test/control_query_metrics_test.gleam
  test/control_query_service_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_read_model_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
Due: gleam-format

Implement LIV-1023: Reset issue counters on terminal success and bound the completed-task cache (#491)
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/runtime/state.gleam
  src/scherzo/state/recovery.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_state_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

LIV-1019: publish ExecPlan review doc
  docs/plans/LIV-1019-batch-fatal-recovery.md
Due: none

LIV-1019: publish ExecPlan review doc (#492)
  docs/plans/LIV-1019-batch-fatal-recovery.md
Due: none

Implement LIV-1021: Run review-lane preflight as an effect instead of inside transition.handle (#490)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_transition_shell.gleam
  src/scherzo/orchestrator/effect_completion_handler.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/read_model.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_invariants.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/control_query_codec_test.gleam
  test/control_query_service_test.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_completion_handler_test.gleam
  test/orchestrator_read_model_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1035: Preserve PR creation diagnostics instead of collapsing to pr_url_missing
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_test.gleam
Due: gleam-format

Implement LIV-1029: Prevent workflow reload from tearing in-flight claims
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/orchestrator/transitions/helpers.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  src/scherzo/orchestrator/workflow_snapshot.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_interpreter_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/orchestrator_worker_lifecycle_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1037: Update pinned pi fork to the latest branch head
  nix/pi.nix
Due: nix-format

fix PR 493 checks
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/pi_client_test.gleam
Due: gleam-format

Implement LIV-1042: Centralize workflow helper publication invariants
  scripts/scherzo-workspace-jj
  test/execplan_v2_bundle_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
  workflows/dogfood/scripts/scherzo-merge-conflict
  workflows/dogfood/scripts/scherzo_workflow/__init__.py
  workflows/dogfood/scripts/scherzo_workflow/commit_stack.py
Due: gleam-format

Implement LIV-1025: Eliminate synchronous full-ledger projection replays from daemon actor paths
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/startup_recovery.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/workflow_checkpoint.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/orchestrator_worker_lifecycle_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
Due: gleam-format

Implement LIV-1037: Update pinned pi fork to the latest branch head (#494)
  nix/pi.nix
Due: nix-format

Implement LIV-1035: Preserve PR creation diagnostics instead of collapsing to pr_url_missing (#495)
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
Due: gleam-format

Implement LIV-1042: Centralize workflow helper publication invariants (#497)
  scripts/scherzo-workspace-jj
  test/execplan_v2_bundle_test.gleam
  test/jj_workspace_driver_test.gleam
  test/merge_conflict_helper_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
  workflows/dogfood/scripts/scherzo-merge-conflict
  workflows/dogfood/scripts/scherzo_workflow/__init__.py
  workflows/dogfood/scripts/scherzo_workflow/commit_stack.py
Due: gleam-format

Implement LIV-1025: Eliminate synchronous full-ledger projection replays from daemon actor paths (#498)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/startup_recovery.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/workflow_checkpoint.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/orchestrator_worker_lifecycle_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
Due: gleam-format

LIV-1049: publish dispatch-time smart recovery ExecPlan
  docs/plans/LIV-1049-dispatch-time-smart-recovery.md
Due: none

LIV-1022: publish operator-command transition ownership ExecPlan
  docs/plans/LIV-1022-operator-command-transition-ownership-review.md
Due: none

LIV-1049: publish dispatch-time smart recovery ExecPlan (#499)
  docs/plans/LIV-1049-dispatch-time-smart-recovery.md
Due: none

Implement LIV-1029: Prevent workflow reload from tearing in-flight claims (#496)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/orchestrator/transitions/helpers.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  src/scherzo/orchestrator/workflow_snapshot.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_interpreter_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/orchestrator_worker_lifecycle_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1030: Monitor the control server accept loop and recover from accept failures
  docs/architecture/daemon-boundary.md
  src/scherzo/control/server.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1028: Append a terminal ledger record when issue reconciliation stops a worker
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
Due: gleam-format

Implement LIV-1018: Make PauseDispatch durable and enforce it at async dispatch boundaries
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/ledger_batch.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/record/commands.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1018: Make PauseDispatch durable and enforce it at async dispatch boundaries (#503)
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/ledger_batch.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/record/commands.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1030: Monitor the control server accept loop and recover from accept failures (#501)
  docs/architecture/daemon-boundary.md
  src/scherzo/control/server.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

LIV-1022: publish operator-command transition ownership ExecPlan (#500)
  docs/plans/LIV-1022-operator-command-transition-ownership-review.md
Due: none

Implement LIV-1034: Delete dead orchestrator policy duplicates and unreachable code
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_interpreter_test.gleam
  test/orchestrator_identity_key_test.gleam
  test/orchestrator_remote_command_runtime_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1034: Delete dead orchestrator policy duplicates and unreachable code (#504)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_interpreter_test.gleam
  test/orchestrator_identity_key_test.gleam
  test/orchestrator_remote_command_runtime_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
