Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

ExecPlan v2: LIV-328 Untitled source task
  docs/plans/LIV-328-workflow-failed-step-repair.md
Due: none

fix(workspace): accept versioned publish-change kinds
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

fix(execplan-v2): support linear create without json
  scripts/scherzo-execplan-v2
  test/execplan_v2_bundle_test.gleam
Due: gleam-format

docs(skills): document linear cli json limits
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
  test/skill_docs_test.gleam
Due: gleam-format

ExecPlan v2: LIV-334 Write ExecPlan to harden structured-output contracts
  docs/plans/LIV-334-harden-structured-output-contracts.md
Due: none

Implement LIV-339: Ignore transient SSH-agent failures in origin-sync
  scripts/scherzo-jj-origin-sync
  test/jj_origin_sync_test.gleam
Due: gleam-format

feat(execplan-v2): added final handoff issue description updates
  scripts/scherzo-execplan-v2
  test/execplan_v2_bundle_test.gleam
Due: gleam-format

ci(buildkite): added Buildkite pipeline for checks
  .buildkite/pipeline.yml
Due: none

ci(buildkite): added hcloud agent queues to buildkite pipeline steps
  .buildkite/pipeline.yml
Due: none

Draft LIV-337: workflow failed-step repair/resume
  docs/plans/LIV-328-workflow-failed-step-repair.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/linear_parser.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_repair.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/linear_command_parser_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

feat(workflow): added file-based contract outputs for execplan workflows
  .scherzo/workflows/execplan-implementation-v2.yaml
  .scherzo/workflows/execplan-revision-v2.yaml
  .scherzo/workflows/execplan-v2.yaml
  scripts/scherzo-execplan-v2
  scripts/tests/test_scherzo_execplan_v2.py
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_run.gleam
  test/source_guardrail_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

docs(plans): revised liv-241 uberplan for current workflow contract state
  docs/plans/LIV-241-composable-workstreams-uberplan.html
Due: none

feat: harden structured-output contract gates
  .config/selfci/ci.sh
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/tool-contract.v1.json
  .pi/extensions/scherzo-structured-output/index.ts
  docs/plans/LIV-334-harden-structured-output-contracts.md
  docs/review-artifacts.md
  docs/specs/STRUCTURED_OUTPUT_VALIDATOR_SPEC.md
  scripts/scherzo-review
  scripts/scherzo-structured-output-contract
  scripts/scherzo-structured-output-raw-schema-smoke
  scripts/scherzo_review/review_lane_contract.py
  src/scherzo/structured_output_contract_policy.gleam
  src/scherzo/structured_output_source.gleam
  src/scherzo/structured_output_tool_spec.gleam
  src/scherzo_structured_output_contract.gleam
  test/fixtures/review-lane-draft-tool/invalid-evidence-target-extra-fields.arguments.json
  test/fixtures/review-lane-draft-tool/invalid-review-note-category.arguments.json
  test/fixtures/review-lane-draft-tool/missing-lane.arguments.json
  test/fixtures/review-lane-draft-tool/valid-correctness.arguments.json
  test/fixtures/review-lane-draft-tool/valid-idioms-maintainability.arguments.json
  test/fixtures/review-lane-draft-tool/valid-security-performance.arguments.json
  test/fixtures/review-lane-draft-tool/valid-test-quality.arguments.json
  test/fixtures/review-lane-draft-tool/wrong-artifact-type.arguments.json
  test/fixtures/structured_output/pi_raw_schema/invalid-evidence-target-field.arguments.json
  test/fixtures/structured_output/pi_raw_schema/invalid-review-note-category.arguments.json
  test/fixtures/structured_output/pi_raw_schema/smoke_provider.ts
  test/fixtures/structured_output/pi_raw_schema/spec.correctness.json
  test/fixtures/structured_output/pi_raw_schema/valid-review-lane.arguments.json
  test/fixtures/structured_output/review_lane_draft_absolute_path.json
  test/review_lane_contract_test.gleam
  test/review_native_workflow_test.gleam
  test/structured_output_contract_command_test.gleam
  test/structured_output_json_schema_test.gleam
  test/structured_output_tool_spec_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

ExecPlan v2: LIV-244 Untitled source task
  docs/plans/LIV-244-composable-workstreams-ticket-0-foundation-alignment.md
Due: none

feat(linear): added project fallback for handoff issue creation
  .scherzo/README.md
  AGENTS.md
  devenv.nix
  scripts/scherzo-execplan-v2
  test/execplan_v2_bundle_test.gleam
  test/linear_cli_wrapper_test.gleam
Due: gleam-format, nix-format

feat(devenv): added devenv-provided pi support for validation workflows
  README.md
  devenv.lock
  devenv.nix
  devenv.yaml
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  test/test_suite_contract_test.gleam
Due: gleam-format, nix-format

Implement LIV-360: Write Ticket 0 ExecPlan for composable workstreams foundation alignment
  docs/plans/LIV-244-composable-workstreams-ticket-0-foundation-alignment.md
  src/scherzo/workstream/foundation.gleam
  test/fixtures/workstream/foundation/handoff.schema.json
  test/fixtures/workstream/foundation/handoff_invalid_missing_workstream.json
  test/fixtures/workstream/foundation/handoff_valid.json
  test/workflow_run_test.gleam
  test/workstream_foundation_test.gleam
Due: gleam-format

fix(scherzo_review): fixed provider schema validation to use pure Python checks
  scripts/scherzo_review/review_lane_contract.py
  scripts/scherzo_review/review_lane_contract_test.py
Due: none

Implement LIV-367: Fix Linux CI port spawning without /bin/bash
  nix/scherzo.nix
  src/scherzo_port_ffi.erl
  test/port_test.gleam
Due: gleam-format, nix-format

Implement LIV-368: Fix ExecPlan v2 source issue title propagation
  .scherzo/workflows/execplan-revision.yaml
  .scherzo/workflows/execplan.yaml
  scripts/scherzo-execplan
  test/execplan_v2_bundle_test.gleam
Due: gleam-format

Implement LIV-361: Write up guidelines for upgrades
  README.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/runbooks/upgrades.md
  test/support/docs_assert.gleam
  test/tracker_adapter_docs_test.gleam
  test/upgrade_runbook_docs_test.gleam
  test/workspace_driver_docs_test.gleam
Due: gleam-format

ExecPlan: LIV-369 Untitled source task
  docs/plans/LIV-369-workflow-portability-ci-gate.md
Due: none

Implement LIV-372: Remove hardcoded /bin assumptions from process helpers
  .scherzo/scherzo.yaml
  src/scherzo_port_ffi.erl
  test/port_test.gleam
  test/scherzo_test_ffi.erl
Due: gleam-format

chore(scherzo): removed Linear job labels from issue sync workflows
  .scherzo/scherzo.yaml
Due: none

Implement LIV-377: Fix Linux Nix CI building Gleam/rusty-v8 from source
  devenv.lock
  devenv.yaml
  flake.lock
  flake.nix
Due: nix-format

ci: configure Numtide cache for pi
  .buildkite/pipeline.yml
  .config/selfci/ci.sh
  flake.nix
Due: nix-format

ci: stabilize Buildkite Nix shell environment
  .buildkite/pipeline.yml
  .config/selfci/ci.sh
  devenv.nix
  scripts/scherzo-ci-nix-cache
  src/scherzo/port.gleam
  test/port_test.gleam
Due: gleam-format, nix-format

Implement LIV-380: Bug: ExecPlan revision starts from main even when prior plan only exists on review PR branch
  .scherzo/workflows/schemas/exec-plan-bundle.v2.schema.json
  scripts/scherzo-execplan
  test/execplan_v2_bundle_test.gleam
Due: gleam-format

Implement LIV-381: Improvement: Auto-discover ExecPlan revision bundle details from retained artifacts
  scripts/scherzo-execplan
  scripts/tests/test_scherzo_execplan.py
Due: none

Implement LIV-374: Plan workflow portability CI gate
  .scherzo/README.md
  docs/plans/LIV-369-workflow-portability-ci-gate.md
  flake.nix
  nix/workflow-portability.nix
  scripts/scherzo-review
  scripts/scherzo-workflow-portability
  test/structured_output_json_schema_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format, nix-format

fix(ci): make workflow portability fakes use real interpreters
  scripts/scherzo-workflow-portability
  test/workflow_portability_test.gleam
Due: gleam-format

ExecPlan: LIV-383 Make implementation workflows resilient to late plan-completion gate failures
  docs/plans/LIV-383-plan-completion-gate-recovery.md
Due: none

ExecPlan: LIV-370 Write Ticket 1 ExecPlan for composable workstream and artifact specs
  docs/plans/LIV-370-composable-workstreams-ticket-1-artifact-specs.md
Due: none

ExecPlan: LIV-382 Add artifact store abstraction seam
  docs/plans/LIV-382-artifact-store-abstraction-seam.md
Due: none

feat(execplan): added handoff issue updates after materializing revisions
  scripts/scherzo-execplan
  test/execplan_v2_bundle_test.gleam
Due: gleam-format

feat(execplan): added revision publishing for existing execplan PRs
  scripts/scherzo-execplan
  test/execplan_v2_bundle_test.gleam
Due: gleam-format

Implement LIV-385: Make implementation workflows resilient to late plan-completion gate failures
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-review.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion-after-late-repair.md
  docs/plans/LIV-383-plan-completion-gate-recovery.md
  docs/runbooks/workflow-recovery.md
  scripts/scherzo-implementation
  src/scherzo/handoff_format.gleam
  test/execplan_implementation_helper_test.gleam
  test/handoff_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-388: Add artifact store abstraction seam
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/plans/LIV-382-artifact-store-abstraction-seam.md
  docs/runbooks/artifact-store.md
  src/scherzo/agent/context_recovery_artifact.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/local_workflow_run.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_run.gleam
  test/artifact_store_test.gleam
  test/context_recovery_artifact_test.gleam
  test/source_guardrail_test.gleam
  test/step_artifact_test.gleam
  test/structured_artifact_store_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
