Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

Implement LIV-1262: Make retry-step acknowledge as a durable queued control operation
  docs/GETTING_STARTED.md
  docs/architecture/daemon-boundary.md
  docs/runbooks/workflow-recovery.md
  scripts/scherzo-ci
  src/scherzo/control/command.gleam
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote_envelope.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/control_query_backend_test.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/remote_command_router_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
Due: gleam-format

fix(command-step): capture timeout command identity
  src/scherzo/command_step.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/step_worker_pool.gleam
  test/command_step_test.gleam
  test/step_worker_pool_test.gleam
Due: gleam-format

Implement LIV-1262: Make retry-step acknowledge as a durable queued control operation (#570)
  docs/GETTING_STARTED.md
  docs/architecture/daemon-boundary.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/command.gleam
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote_envelope.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/control_query_backend_test.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/remote_command_router_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
Due: gleam-format

fix(command-step): capture timeout command identity (#571)
  src/scherzo/command_step.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/step_worker_pool.gleam
  test/command_step_test.gleam
  test/step_worker_pool_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1298-post-init-startup-recovery-review.md
  docs/plans/LIV-1298-post-init-startup-recovery-review.md
Due: none

Implement LIV-1272: Remove deprecated scherzo-start compatibility alias (breaking)
  .scherzo/README.md
  README.md
  devenv.nix
  docs/GETTING_STARTED.md
  docs/ffi.md
  flake.nix
  nix/scherzo.nix
  scripts/scherzo-agent-run
  scripts/scherzo-start
  scripts/scherzo-start-runner
  src/scherzo/main.gleam
  test/main_test.gleam
Due: gleam-format, nix-format

Implement LIV-1272: Remove deprecated scherzo-start compatibility alias (breaking) (#574)
  .scherzo/README.md
  README.md
  devenv.nix
  docs/GETTING_STARTED.md
  docs/ffi.md
  flake.nix
  nix/scherzo.nix
  scripts/scherzo-agent-run
  scripts/scherzo-start
  scripts/scherzo-start-runner
  src/scherzo/main.gleam
  test/main_test.gleam
Due: gleam-format, nix-format

Implement LIV-1269: Remove --linear-attach-comment-file mode
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_ADAPTER_SPEC.md
  src/scherzo/linear_attachment.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/service.gleam
  test/linear_attachment_test.gleam
  test/main_test.gleam
  test/orchestrator_service_test.gleam
Due: gleam-format

Implement LIV-1268: Retire --pi-probe in favor of doctor --check pi-probe
  .scherzo/README.md
  src/scherzo/doctor.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/service.gleam
  test/main_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/orchestrator_service_test.gleam
Due: gleam-format

Implement LIV-1270: Retire --tracker-smoke/--tracker-contract-check; demote tracker-conformance to hidden
  .scherzo/README.md
  docs/runbooks/tracker-adapter-author-guide.md
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_ADAPTER_SPEC.md
  docs/specs/TRACKER_CONFORMANCE_PROTOCOL.md
  scripts/scherzo-linear-conformance
  scripts/tests/test_scherzo_linear_conformance.py
  src/scherzo/doctor.gleam
  src/scherzo/main.gleam
  src/scherzo/tracker/conformance/cli.gleam
  test/doctor_test.gleam
  test/main_test.gleam
  test/tracker_conformance_cli_test.gleam
Due: gleam-format

Implement LIV-1269: Remove --linear-attach-comment-file mode (#575)
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_ADAPTER_SPEC.md
  src/scherzo/linear_attachment.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/service.gleam
  test/linear_attachment_test.gleam
  test/main_test.gleam
  test/orchestrator_service_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1298-post-init-startup-recovery-review.md (#573)
  docs/plans/LIV-1298-post-init-startup-recovery-review.md
Due: none

ExecPlan review doc: docs/plans/LIV-1271-ctl-daemon-only-top-level-offline.md
  docs/plans/LIV-1271-ctl-daemon-only-top-level-offline.md
Due: none

Implement LIV-1268: Retire --pi-probe in favor of doctor --check pi-probe (#576)
  .scherzo/README.md
  src/scherzo/doctor.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/service.gleam
  test/main_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/orchestrator_service_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1271-ctl-daemon-only-top-level-offline.md (#578)
  docs/plans/LIV-1271-ctl-daemon-only-top-level-offline.md
Due: none

Implement LIV-1270: Retire --tracker-smoke/--tracker-contract-check; demote tracker-conformance to hidden (#577)
  .scherzo/README.md
  docs/runbooks/tracker-adapter-author-guide.md
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_ADAPTER_SPEC.md
  docs/specs/TRACKER_CONFORMANCE_PROTOCOL.md
  scripts/scherzo-linear-conformance
  scripts/tests/test_scherzo_linear_conformance.py
  src/scherzo/doctor.gleam
  src/scherzo/main.gleam
  src/scherzo/tracker/conformance/cli.gleam
  test/doctor_test.gleam
  test/main_test.gleam
  test/tracker_conformance_cli_test.gleam
Due: gleam-format

Implement LIV-1267: CLI cleanup: remove deprecated aliases (workstream inspect, attach --raw --json, --linear-* hints)
  docs/plans/LIV-782-cleanup-inventory.md
  docs/runbooks/tracker-adapters.md
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/workstream.gleam
  src/scherzo/main.gleam
  test/ctl_test.gleam
  test/main_test.gleam
Due: gleam-format

Implement LIV-1301: Prevent commit_stack publication from snapshotting workspace-local artifact store
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  test/artifact_publication_executor_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/jj_workspace_driver_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-1267: CLI cleanup: remove deprecated aliases (workstream inspect, attach --raw --json, --linear-* hints) (#579)
  docs/plans/LIV-782-cleanup-inventory.md
  docs/runbooks/tracker-adapters.md
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/workstream.gleam
  src/scherzo/main.gleam
  test/ctl_test.gleam
  test/main_test.gleam
Due: gleam-format

Implement LIV-1301: Prevent commit_stack publication from snapshotting workspace-local artifact store (#580)
  scripts/scherzo-workspace-jj
  src/scherzo/artifact_publication_driver.gleam
  test/artifact_publication_executor_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/jj_workspace_driver_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-1300: ExecPlan: Move slow startup recovery side effects out of daemon actor initializer
  docs/architecture/daemon-boundary.md
  docs/plans/LIV-1298-post-init-startup-recovery-review.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/poll_scheduler.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

refactor(orchestrator): refactored remote reply handling to use typed result calls
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  test/orchestrator_daemon_remote_dispatch_test.gleam
Due: gleam-format

Implement LIV-1305: Make `scherzo ctl` daemon-only and move offline commands to top level
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/plans/LIV-1271-ctl-daemon-only-top-level-offline.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/runbooks/composable-workstreams.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/upgrades.md
  docs/runbooks/workflow-recovery.md
  nix/scherzo.nix
  scripts/scherzo-workspace-cleanup
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/main.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/main_test.gleam
  test/source_guardrail_test.gleam
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format, nix-format

Implement LIV-1264: Make artifact publication retry acknowledge as a durable queued control operation
  docs/GETTING_STARTED.md
  docs/architecture/daemon-boundary.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/artifact_publication_retry_control.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
Due: gleam-format

Implement LIV-1300: ExecPlan: Move slow startup recovery side effects out of daemon actor initializer (#581)
  docs/architecture/daemon-boundary.md
  docs/plans/LIV-1298-post-init-startup-recovery-review.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/poll_scheduler.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1305: Make `scherzo ctl` daemon-only and move offline commands to top level (#582)
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/plans/LIV-1271-ctl-daemon-only-top-level-offline.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  docs/runbooks/composable-workstreams.md
  docs/runbooks/scheduled-jobs.md
  docs/runbooks/upgrades.md
  docs/runbooks/workflow-recovery.md
  nix/scherzo.nix
  scripts/scherzo-workspace-cleanup
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/main.gleam
  test/ctl_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/main_test.gleam
  test/source_guardrail_test.gleam
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format, nix-format

Implement LIV-1254: Prevent workspace cleanup from traversing nested generated run data
  src/scherzo/cleanup/workspaces.gleam
  test/cleanup_workspaces_test.gleam
Due: gleam-format

Implement LIV-1255: Add provider-scoped cleanup and timing diagnostics
  src/scherzo/cleanup.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/command_spec.gleam
  test/cleanup_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-1266: Design bounded resumable cleanup and retained-run lifecycle policy
  docs/runbooks/workflow-recovery.md
  src/scherzo/cleanup.gleam
  src/scherzo/cleanup/cursor.gleam
  src/scherzo/cleanup/local_state.gleam
  src/scherzo/cleanup/retention_marker.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/outbox_command_spec.gleam
  src/scherzo/state/local_artifacts.gleam
  test/cleanup_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/execplan_retention_marker_helper_test.gleam
  test/scherzo_test.gleam
  test/source_guardrail_test.gleam
  test/workspace_cleanup_workflow_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format

Implement LIV-1264: Make artifact publication retry acknowledge as a durable queued control operation (#583)
  docs/GETTING_STARTED.md
  docs/architecture/daemon-boundary.md
  docs/runbooks/artifact-store.md
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/artifact_publication_retry_control.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
Due: gleam-format

Implement LIV-1254: Prevent workspace cleanup from traversing nested generated run data (#584)
  src/scherzo/cleanup/workspaces.gleam
  test/cleanup_workspaces_test.gleam
Due: gleam-format

Implement LIV-1255: Add provider-scoped cleanup and timing diagnostics (#585)
  src/scherzo/cleanup.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/command_spec.gleam
  test/cleanup_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-1256: Cache workspace cleanup context during apply
  src/scherzo/cleanup/workspaces.gleam
  test/cleanup_workspaces_test.gleam
Due: gleam-format

Implement LIV-1256: Cache workspace cleanup context during apply (#587)
  src/scherzo/cleanup/workspaces.gleam
  test/cleanup_workspaces_test.gleam
Due: gleam-format

Implement LIV-1266: Design bounded resumable cleanup and retained-run lifecycle policy (#586)
  docs/runbooks/workflow-recovery.md
  src/scherzo/cleanup.gleam
  src/scherzo/cleanup/cursor.gleam
  src/scherzo/cleanup/local_state.gleam
  src/scherzo/cleanup/retention_marker.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/outbox_command_spec.gleam
  src/scherzo/state/local_artifacts.gleam
  test/cleanup_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/execplan_retention_marker_helper_test.gleam
  test/scherzo_test.gleam
  test/source_guardrail_test.gleam
  test/workspace_cleanup_workflow_test.gleam
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format

fix(dogfood): added explicit base-drift repair assertion step
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-recover-failed-step.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

fix(workspace-cleanup): fixed scheduled cleanup to use packaged scherzo and isolate stderr
  .scherzo/README.md
  nix/scherzo.nix
  test/workspace_cleanup_workflow_test.gleam
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format, nix-format

test(workspace_cleanup): added workflow YAML parse coverage
  test/workspace_cleanup_workflow_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
