Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

feat: implement liv-148
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/orchestrator/transitions/commands.gleam
  src/scherzo/orchestrator/transitions/helpers.gleam
  src/scherzo/orchestrator/transitions/linear_commands.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
Due: gleam-format

docs(plans): added workspace driver capability umbrella plan
  docs/plans/workspace-profile-helper-capabilities-umbrella.md
Due: none

docs(plan): add execplan for liv-174-portable-research-workflow-with-workspace-drivers
  docs/plans/LIV-174-portable-research-workflow-with-workspace-drivers.md
Due: none

docs(plan): add execplan for liv-170-workspace-driver-schema-migration-diagnostics
  docs/plans/LIV-170-workspace-driver-schema-migration-diagnostics.md
Due: none

docs(plan): add execplan for liv-173-expose-workspace-driver-context
  docs/plans/LIV-173-expose-workspace-driver-context.md
Due: none

docs(plan): add execplan for liv-171-workspace-driver-command-contract-and-adapters
  docs/plans/LIV-171-workspace-driver-command-contract-and-adapters.md
Due: none

feat: implement liv-168
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/execplan-revision.yaml
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/merge-conflict-resolution.yaml
  .scherzo/workflows/research.yaml
  docs/plans/doctor-command.md
  docs/plans/workspace-profile-helper-capabilities-umbrella.md
  test/runtime_bundle_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-176-workspace-driver-docs-and-migration-guide
  docs/plans/LIV-176-workspace-driver-docs-and-migration-guide.md
Due: none

docs(plan): add execplan for liv-175-convert-dogfood-implementation-workflows-to-driver-o
  docs/plans/LIV-175-convert-dogfood-implementation-workflows-to-driver-operations.md
Due: none

feat: implement liv-150
  docs/plans/LIV-93-extract-daemon-pure-transition-kernel.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/effects/interpreter.gleam
  src/scherzo/orchestrator/effects/types.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  test/orchestrator_transition_runner_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

feat: implement liv-178
  src/scherzo/agent/turn_loop.gleam
  test/agent_worker_control_test.gleam
Due: gleam-format

feat: implement liv-141
  docs/lint/public-api-style-inventory.md
  docs/plans/LIV-140-stage-remaining-public-api-style-lint-rules.md
  test/scherzo_lint/public_api_style/inventory.gleam
  test/scherzo_lint/public_api_style/report.gleam
  test/scherzo_lint/public_api_style_inventory_test.gleam
  test/scherzo_lint_inventory.gleam
Due: gleam-format

feat: implement liv-187
  .scherzo/workflows/execplan.yaml
  scripts/scherzo-execplan
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

docs(plans): added LIV-124 scout implementation plan
  docs/plans/LIV-124-implement-scheduled-github-pr-merge-conflict-scout.md
Due: none

feat: implement liv-185
  src/scherzo/agent/turn_loop.gleam
  src/scherzo/error.gleam
  src/scherzo/pi/protocol.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/workflow_run.gleam
  test/agent_runner_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/pi_protocol_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-119
  README.md
Due: none

docs(plan): add execplan for liv-160-native-staged-review-workflow
  docs/plans/LIV-160-native-staged-review-workflow.md
Due: none

feat: implement liv-179
  .scherzo/README.md
  scripts/scherzo-execplan
  scripts/scherzo-execplan-html
  test/execplan_html_renderer_test.gleam
Due: gleam-format

feat: implement liv-126
  .scherzo/scherzo.yaml
  .scherzo/workflows/github-pr-conflict-scout.yaml
  docs/plans/LIV-124-implement-scheduled-github-pr-merge-conflict-scout.md
  scripts/scherzo-github-pr-conflict-scout
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/github_pr_conflict_scout_test.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
Due: gleam-format

feat: implement liv-181
  docs/plans/LIV-170-workspace-driver-schema-migration-diagnostics.md
  docs/runbooks/workspace-driver-migration.md
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/doctor.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_profile.gleam
  src/scherzo/workspace_run.gleam
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/orchestrator_config_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/step_artifact_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

fix: generate execplan html sources
  .scherzo/README.md
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-repair-validation.md
  .scherzo/workflows/prompts/execplan-review.md
  .scherzo/workflows/prompts/execplan-revision.md
  scripts/scherzo-execplan
  scripts/scherzo-execplan-html
  scripts/scherzo-execplan-revision
  scripts/scherzo-implementation
  test/execplan_html_renderer_test.gleam
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

feat: implement liv-189
  LICENSE
  README.md
  gleam.toml
Due: none

feat: implement liv-167
  src/scherzo/session/hub.gleam
  test/session_hub_test.gleam
Due: gleam-format

test(github_pr_conflict_scout): updated PR ref wording in conflict scout output
  scripts/scherzo-github-pr-conflict-scout
  test/github_pr_conflict_scout_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-134-reload-workflow-bundle-dependencies
  docs/plans/LIV-134-reload-workflow-bundle-dependencies.html
Due: none

feat: implement liv-190
  .scherzo/workflows/prompts/review-native-contract-failed.md
  .scherzo/workflows/prompts/review-native-contract-malformed.md
  .scherzo/workflows/prompts/review-native-contract-valid.md
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
  docs/plans/LIV-160-native-staged-review-workflow.md
  docs/schemas/review-artifacts.v1.schema.json
  scripts/scherzo-review
  scripts/scherzo_review/prompts/correctness.md
  scripts/scherzo_review/prompts/idioms_maintainability.md
  scripts/scherzo_review/prompts/security_performance.md
  scripts/scherzo_review/prompts/test_quality.md
  src/scherzo/local_workflow_run.gleam
  src/scherzo/main.gleam
  src/scherzo/runtime_bundle.gleam
  test/main_test.gleam
  test/review_artifacts_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-193-interactive-execplan-pr-review-feedback-ui
  docs/plans/LIV-193-interactive-execplan-pr-review-feedback-ui.html
Due: none

feat: implement liv-196
  scripts/scherzo-execplan-html
  test/execplan_html_renderer_test.gleam
Due: gleam-format

feat: implement liv-194
  scripts/scherzo-review
  src/scherzo/local_workflow_run.gleam
  src/scherzo/main.gleam
  test/review_artifacts_test.gleam
Due: gleam-format

feat: implement liv-197
  nix/scherzo.nix
  src/scherzo/local_workflow_run.gleam
  src/scherzo/result_artifact.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/structured_output.gleam
  src/scherzo/workflow_run.gleam
  test/handoff_format_test.gleam
  test/handoff_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/step_artifact_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format, nix-format

feat: implement liv-198
  docs/review-artifacts.md
  nix/scherzo.nix
  scripts/scherzo-review
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/local_workflow_run.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/workflow_attempt.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/source_guardrail_test.gleam
  test/step_artifact_test.gleam
  test/structured_output_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format, nix-format

feat(scherzo-implementation): added structured validation failure artifacts
  .scherzo/workflows/prompts/repair-base-drift.md
  scripts/scherzo-implementation
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-172-dogfood-workspace-driver-profile-migration
  docs/plans/LIV-172-dogfood-workspace-driver-profile-migration.md
Due: none

feat: implement liv-195
  docs/plans/LIV-193-interactive-execplan-pr-review-feedback-ui.html
  scripts/scherzo-execplan-review
  scripts/scherzo_execplan_review.py
  test/__init__.py
  test/scherzo_execplan_review_test.py
Due: none

feat: implement liv-201
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
  docs/review-artifacts.md
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_structured_retry.gleam
  test/source_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-192
  docs/plans/LIV-134-reload-workflow-bundle-dependencies.html
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/workflow_reloader.gleam
  src/scherzo/runtime_bundle.gleam
  test/orchestrator_workflow_reloader_test.gleam
  test/runtime_bundle_test.gleam
Due: gleam-format

feat: implement liv-183
  docs/plans/LIV-171-workspace-driver-command-contract-and-adapters.md
  docs/runbooks/workspace-driver-contract.md
  scripts/scherzo-workspace-jj
  scripts/scherzo-workspace-noop
  test/jj_workspace_driver_test.gleam
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/workspace_driver_contract_test.gleam
Due: gleam-format

feat: implement liv-182
  docs/plans/LIV-173-expose-workspace-driver-context.md
  docs/runbooks/workspace-driver-migration.md
  src/scherzo/config.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_driver_context.gleam
  src/scherzo/workspace_profile.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
  test/workspace_driver_context_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-204-pi-tool-enforced-review-lane-drafts
  docs/plans/LIV-204-pi-tool-enforced-review-lane-drafts.html
Due: none

feat: implement liv-203
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
  scripts/scherzo-review
  src/scherzo/structured_output.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_structured_retry.gleam
  test/source_guardrail_test.gleam
  test/structured_output_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
