Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

Implement LIV-695: Make retry-step self-repair missing workflow provenance
  docs/plans/LIV-695-retry-step-provenance-repair.md
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/path.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/record/workflow_runs.gleam
  src/scherzo/workflow_repair.gleam
  test/ctl_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/workflow_repair_test.gleam
Due: gleam-format

Implement LIV-709: Create ExecPlan: remote command routing and result streaming
  docs/GETTING_STARTED.md
  src/scherzo/control/remote/client.gleam
  src/scherzo/control/remote_command_router.gleam
  src/scherzo/control/remote_envelope.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  test/control_remote_client_test.gleam
  test/control_remote_envelope_test.gleam
  test/orchestrator_daemon_remote_client_test.gleam
  test/remote_command_router_test.gleam
  test/remote_harness_test.gleam
Due: gleam-format

Implement LIV-708: Rank 3 worker and YAML workflow lifecycle extraction
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  test/orchestrator_worker_lifecycle_test.gleam
Due: gleam-format

Implement LIV-710: Prevent retry-step recovery from leaving orphaned probing child steps
  docs/GETTING_STARTED.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/orchestrator/yaml_step_orphans.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/json.gleam
  src/scherzo/session/recovery.gleam
  test/control_protocol_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/control_responses_v1.jsonl
  test/orchestrator_control_command_handler_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/session_hub_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

fix: retry transient pi startup timeouts
  src/scherzo/pi/client.gleam
  test/pi_client_test.gleam
Due: gleam-format

Implement LIV-666: Docs: Update getting started and migration guide for simplified YAML (#351)
  README.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/runbooks/linear-completion-states.md
  docs/runbooks/simplified-yaml-migration.md
  docs/runbooks/tracker-adapters.md
  docs/runbooks/upgrades.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  test/workflow_portability_test.gleam
Due: gleam-format

Implement LIV-710: Prevent retry-step recovery from leaving orphaned probing child steps (#355)
  docs/GETTING_STARTED.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/orchestrator/yaml_step_orphans.gleam
  src/scherzo/session/event.gleam
  src/scherzo/session/json.gleam
  src/scherzo/session/recovery.gleam
  test/control_protocol_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/fixtures/schema/control_responses_v1.jsonl
  test/orchestrator_control_command_handler_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/session_hub_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-709: Create ExecPlan: remote command routing and result streaming (#353)
  docs/GETTING_STARTED.md
  src/scherzo/control/remote/client.gleam
  src/scherzo/control/remote_command_router.gleam
  src/scherzo/control/remote_envelope.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  test/control_remote_client_test.gleam
  test/control_remote_envelope_test.gleam
  test/orchestrator_daemon_remote_client_test.gleam
  test/remote_command_router_test.gleam
  test/remote_harness_test.gleam
Due: gleam-format

Implement LIV-695: Make retry-step self-repair missing workflow provenance (#352)
  docs/plans/LIV-695-retry-step-provenance-repair.md
  src/scherzo/ctl.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/path.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/record/workflow_runs.gleam
  src/scherzo/workflow_repair.gleam
  test/ctl_test.gleam
  test/fixtures/schema/ledger_records_v2.jsonl
  test/orchestrator_daemon_retry_step_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/workflow_repair_test.gleam
Due: gleam-format

ExecPlan: LIV-556 ExecPlan: LIV-523 Rank 4 operator and remote command extraction
  docs/plans/LIV-556-rank-4-operator-remote-command-runtime-extraction.md
Due: none

ExecPlan: LIV-718 Write ExecPlan: additive workflow artifact descriptor compatibility
  docs/plans/LIV-718-additive-workflow-artifact-descriptor-compatibility.md
Due: none

Implement LIV-708: Rank 3 worker and YAML workflow lifecycle extraction (#354)
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/worker_lifecycle.gleam
  src/scherzo/orchestrator/yaml_workflow_lifecycle.gleam
  test/orchestrator_worker_lifecycle_test.gleam
Due: gleam-format

ExecPlan: LIV-556 ExecPlan: LIV-523 Rank 4 operator and remote command extraction (#356)
  docs/plans/LIV-556-rank-4-operator-remote-command-runtime-extraction.md
Due: none

ExecPlan: LIV-718 Write ExecPlan: additive workflow artifact descriptor compatibility (#357)
  docs/plans/LIV-718-additive-workflow-artifact-descriptor-compatibility.md
Due: none

Implement LIV-463: Implement: LIV-241 Ticket 6 add human decision gates for artifact snapshots
  src/scherzo/ctl.gleam
  src/scherzo/ctl/workstream.gleam
  src/scherzo/workstream/artifact_values.gleam
  src/scherzo/workstream/artifacts.gleam
  src/scherzo/workstream/decision.gleam
  src/scherzo/workstream/decision_artifact.gleam
  src/scherzo/workstream/projection.gleam
  src/scherzo/workstream/projection_json.gleam
  src/scherzo/workstream/start.gleam
  src/scherzo/workstream/types.gleam
  test/fixtures/workstream/specs/decision_invalid_unknown_kind.json
  test/fixtures/workstream/specs/decision_valid_approve.json
  test/source_guardrail_test.gleam
  test/workstream_spec_test.gleam
  test/workstream_start_test.gleam
  workflows/dogfood/schemas/workstream/decision.v1.schema.json
Due: gleam-format

Implement LIV-463: Implement: LIV-241 Ticket 6 add human decision gates for artifact snapshots (#358)
  src/scherzo/ctl.gleam
  src/scherzo/ctl/workstream.gleam
  src/scherzo/workstream/artifact_values.gleam
  src/scherzo/workstream/artifacts.gleam
  src/scherzo/workstream/decision.gleam
  src/scherzo/workstream/decision_artifact.gleam
  src/scherzo/workstream/projection.gleam
  src/scherzo/workstream/projection_json.gleam
  src/scherzo/workstream/start.gleam
  src/scherzo/workstream/types.gleam
  test/fixtures/workstream/specs/decision_invalid_unknown_kind.json
  test/fixtures/workstream/specs/decision_valid_approve.json
  test/source_guardrail_test.gleam
  test/workstream_spec_test.gleam
  test/workstream_start_test.gleam
  workflows/dogfood/schemas/workstream/decision.v1.schema.json
Due: gleam-format

ExecPlan: LIV-719 Write ExecPlan: migrate workflows to generic artifact taxonomy
  docs/plans/LIV-719-migrate-workflows-to-generic-artifact-taxonomy.md
Due: none

Implement LIV-724: ExecPlan: LIV-523 Rank 4 operator and remote command extraction
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  test/control_remote_client_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_operator_runtime_test.gleam
  test/orchestrator_remote_command_runtime_test.gleam
Due: gleam-format

Implement LIV-726: Write ExecPlan: additive workflow artifact descriptor compatibility
  src/scherzo/workflow_artifact_descriptor.gleam
  src/scherzo/workflow_contract_manifest.gleam
  test/fixtures/workflow_artifacts/target_exec_plan_bundle_descriptor.json
  test/workflow_artifact_descriptor_test.gleam
  test/workflow_contract_manifest_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-724: ExecPlan: LIV-523 Rank 4 operator and remote command extraction (#360)
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/remote_command_runtime.gleam
  test/control_remote_client_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_operator_runtime_test.gleam
  test/orchestrator_remote_command_runtime_test.gleam
Due: gleam-format

Implement LIV-726: Write ExecPlan: additive workflow artifact descriptor compatibility (#361)
  src/scherzo/workflow_artifact_descriptor.gleam
  src/scherzo/workflow_contract_manifest.gleam
  test/fixtures/workflow_artifacts/target_exec_plan_bundle_descriptor.json
  test/workflow_artifact_descriptor_test.gleam
  test/workflow_contract_manifest_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

ExecPlan: LIV-719 Write ExecPlan: migrate workflows to generic artifact taxonomy (#359)
  docs/plans/LIV-719-migrate-workflows-to-generic-artifact-taxonomy.md
Due: none

docs: tighten workflow artifact taxonomy
  docs/specs/WORKFLOW_ARTIFACT_TAXONOMY.md
Due: none

ExecPlan: LIV-558 ExecPlan: LIV-523 Rank 6 daemon boundary guardrails
  docs/plans/LIV-558-rank-6-daemon-boundary-guardrails.md
Due: none

ExecPlan: LIV-557 Rank 5 transition/effect bridge extraction
  docs/plans/LIV-557-rank-5-transition-effect-bridge-extraction.md
Due: none

Implement LIV-464: Implement: LIV-241 Ticket 7 add composable workstream playbooks
  .gitignore
  .scherzo/playbooks/extended-implementation.yaml
  .scherzo/playbooks/standard-implementation.yaml
  src/scherzo/workstream/playbook.gleam
  src/scherzo/workstream/playbook_eval.gleam
  test/workstream_playbook_test.gleam
Due: gleam-format

ExecPlan: LIV-557 Rank 5 transition/effect bridge extraction (#363)
  docs/plans/LIV-557-rank-5-transition-effect-bridge-extraction.md
Due: none

ExecPlan: LIV-558 ExecPlan: LIV-523 Rank 6 daemon boundary guardrails (#362)
  docs/plans/LIV-558-rank-6-daemon-boundary-guardrails.md
Due: none

Implement LIV-464: Implement: LIV-241 Ticket 7 add composable workstream playbooks (#364)
  .gitignore
  .scherzo/playbooks/extended-implementation.yaml
  .scherzo/playbooks/standard-implementation.yaml
  src/scherzo/workstream/playbook.gleam
  src/scherzo/workstream/playbook_eval.gleam
  test/workstream_playbook_test.gleam
Due: gleam-format

docs(artifact-publication): added artifact publication PRD
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
Due: none

feat(workflow): parse descriptor contract entries
  src/scherzo/workflow_contract.gleam
  src/scherzo/workflow_contract_descriptor_compat.gleam
  test/source_guardrail_test.gleam
  test/workflow_contract_test.gleam
  test/workflow_dag_validator_parser_test.gleam
Due: gleam-format

Implement LIV-731: ExecPlan: LIV-523 Rank 6 daemon boundary guardrails
  docs/architecture/daemon-boundary.md
  test/orchestrator_daemon_boundary_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-731: ExecPlan: LIV-523 Rank 6 daemon boundary guardrails (#366)
  docs/architecture/daemon-boundary.md
  test/orchestrator_daemon_boundary_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

ExecPlan: LIV-737 Write ExecPlan: artifact publication config model
  docs/plans/artifact-publication-config-model.md
Due: none

Implement LIV-465: Implement: LIV-241 Ticket 8 dogfood composable workstreams end to end
  docs/runbooks/composable-workstreams.md
  src/scherzo/ctl.gleam
  src/scherzo/ctl/workstream.gleam
  src/scherzo/ctl/workstream_helpers.gleam
  src/scherzo/ctl/workstream_start.gleam
  src/scherzo/workstream/start.gleam
  src/scherzo/workstream/start_requirements.gleam
  test/execplan_v2_bundle_test.gleam
  test/pi_client_test.gleam
  test/workstream_ctl_test.gleam
  test/workstream_phase_metadata_test.gleam
  test/workstream_start_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

ExecPlan: LIV-737 Write ExecPlan: artifact publication config model (#367)
  docs/plans/artifact-publication-config-model.md
Due: none

ExecPlan: LIV-573 Linear Alias Retirement and Docs Helper Cleanup
  docs/plans/LIV-573-linear-alias-retirement-docs-helper-cleanup-review.md
Due: none

Implement LIV-732: Rank 5 transition/effect bridge extraction
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/daemon_transition_shell.gleam
  src/scherzo/orchestrator/effect_completion_handler.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_transition_shell_test.gleam
  test/orchestrator_effect_completion_handler_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

fix(linear-cli): fixed Linux packaging and auto-patchelf support
  nix/linear-cli.nix
Due: nix-format

ExecPlan: LIV-573 Linear Alias Retirement and Docs Helper Cleanup (#369)
  docs/plans/LIV-573-linear-alias-retirement-docs-helper-cleanup-review.md
Due: none

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
