Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

feat: implement liv-71
  scripts/scherzo-implementation
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

feat: implement liv-72
  scripts/scherzo-implementation
  src/scherzo/command_step.gleam
  src/scherzo/error.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/workflow_run.gleam
  test/command_step_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/handoff_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat(workflow): added run-scoped workflow context and workspace hook handling
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/execplan-revision.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/merge-conflict-resolution.yaml
  .scherzo/workflows/prompts/resolve-merge-conflicts.md
  scripts/scherzo-implementation
  scripts/scherzo-jj-workspace
  scripts/scherzo-merge-conflict
  src/scherzo/command_step.gleam
  src/scherzo/error.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_run.gleam
  test/command_step_test.gleam
  test/handoff_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/workflow_checkpoint_state_test.gleam
  test/workflow_jj_workspace_smoke_test.gleam
  test/workflow_run_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

fix(merge-conflict): fixed merge conflict handling and target extraction
  scripts/scherzo-merge-conflict
  test/merge_conflict_helper_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-70-linear-blocker-aware-dispatch-policy
  docs/plans/LIV-70-linear-blocker-aware-dispatch-policy.md
Due: none

feat: implement liv-63
  docs/plans/LIV-55-startup-recovery-planner-workflow-dag-progress.md
  src/scherzo/workflow_recovery_planner.gleam
  test/workflow_recovery_planner_test.gleam
Due: gleam-format

fix(scherzo): fixed validation env leakage and sanitized handoff comments
  nix/scherzo.nix
  scripts/scherzo-implementation
  src/scherzo/handoff_format.gleam
  test/execplan_implementation_helper_test.gleam
  test/handoff_test.gleam
Due: gleam-format, nix-format

feat: implement liv-74
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/prompts/repair-base-drift.md
  docs/plans/LIV-69-implementation-workflow-base-refresh-repair-path.md
  scripts/scherzo-implementation
  src/scherzo/step_artifact.gleam
  test/execplan_implementation_helper_test.gleam
  test/step_artifact_test.gleam
Due: gleam-format

feat: implement liv-64
  docs/plans/LIV-56-recovery-aware-workflow-runner-execution.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/yaml_step_session.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/state/workflow_checkpoint.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_scheduler.gleam
  src/scherzo/workspace_run.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/state_workflow_checkpoint_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
  test/workflow_scheduler_test.gleam
  test/workspace_run_test.gleam
  test/yaml_step_session_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-48-routine-pruning-for-scherzo-directory
  docs/plans/LIV-48-routine-pruning-for-scherzo-directory.md
Due: none

feat: implement liv-77
  docs/plans/LIV-70-linear-blocker-aware-dispatch-policy.md
  src/scherzo/linear.gleam
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo/orchestrator/state.gleam
  src/scherzo/tracker/issue.gleam
  src/scherzo/workspace_run.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/fixtures/linear/blocked_issue_candidate_response.json
  test/handoff_format_test.gleam
  test/handoff_test.gleam
  test/linear_http_test.gleam
  test/linear_test.gleam
  test/linear_triage_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/orchestrator_service_test.gleam
  test/orchestrator_state_test.gleam
  test/orchestrator_worker_registry_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/runtime_bundle_test.gleam
  test/smoke_test.gleam
  test/state_recovery_test.gleam
  test/template_test.gleam
  test/tracker_issue_test.gleam
  test/workflow_jj_workspace_smoke_test.gleam
  test/workflow_policy_test.gleam
  test/workflow_run_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

feat: implement liv-66
  README.md
  docs/plans/LIV-57-step-scoped-pi-session-continuation.md
  examples/scherzo.yaml
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/model_config.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/pi/client.gleam
  src/scherzo/pi/command.gleam
  src/scherzo/pi/protocol.gleam
  src/scherzo/port.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_attempt.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo_port_ffi.erl
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/model_config_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/pi_client_test.gleam
  test/real_pi_session_validation_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/scherzo_test_ffi.erl
  test/state_recovery_test.gleam
  test/workflow_checkpoint_state_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-79
  .config/selfci/ci.sh
  .config/selfci/ci.yaml
  devenv.lock
  devenv.nix
  devenv.yaml
  flake.lock
  flake.nix
Due: nix-format

fix(research): fixed research workflow cleanup for jujutsu workspaces
  .scherzo/workflows/research.yaml
Due: none

fix(nix): update gleam dependency hash
  nix/scherzo.nix
Due: nix-format

fix(linear): raise project label query limit
  src/scherzo/linear.gleam
  test/linear_test.gleam
Due: gleam-format

fix(agent): capture final response from completed pi messages
  src/scherzo/pi/protocol.gleam
  src/scherzo/result_artifact.gleam
  test/agent_runner_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/pi_protocol_test.gleam
  test/result_artifact_test.gleam
  test/step_artifact_test.gleam
Due: gleam-format

feat: implement liv-80
  .scherzo/workflows/prompts/final-report.md
  .scherzo/workflows/prompts/repair-base-drift.md
  README.md
  scripts/scherzo-implementation
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

feat: implement liv-82
  scripts/scherzo-count-leaked-test-processes
  src/scherzo/pi/client.gleam
  src/scherzo_port_ffi.erl
  test/fixtures/fake_pi_rpc.sh
  test/pi_client_test.gleam
  test/port_test.gleam
  test/scherzo_test_ffi.erl
Due: gleam-format

feat: implement liv-84
  README.md
  flake.nix
  nix/scherzo.nix
  src/scherzo/main.gleam
  src/scherzo/version.gleam
  test/main_test.gleam
  test/version_test.gleam
Due: gleam-format, nix-format

feat(handoff): report parked issues to Linear
  README.md
  examples/scherzo.yaml
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/handoff.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/config_test.gleam
  test/handoff_format_test.gleam
  test/handoff_test.gleam
  test/linear_contract_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-85-native-scheduled-jobs
  docs/plans/LIV-85-native-scheduled-jobs.md
Due: none

feat: implement liv-87
  test/dependency_smoke_test.gleam
  test/scherzo_test.gleam
  test/workflow_policy_test.gleam
Due: gleam-format

feat: implement liv-91
  test/linear_test.gleam
  test/smoke_test.gleam
Due: gleam-format

feat: implement liv-88
  .config/selfci/ci.sh
  README.md
  devenv.nix
  scripts/scherzo-test-local-integration
  scripts/scherzo-test-real-pi-validation
  scripts/scherzo-test-unit
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/real_pi_validation/real_pi_session_validation_test.gleam
  test/scherzo_test.gleam
  test/test_suite_contract_test.gleam
Due: gleam-format, nix-format

build(linear-cli): packaged linear-cli and updated devenv wrappers
  AGENTS.md
  devenv.nix
  flake.nix
  nix/linear-cli.nix
Due: nix-format

feat: implement liv-98
  docs/plans/remove-legacy-markdown-workflows.md
  src/scherzo/workflow_dag.gleam
Due: gleam-format

docs(plan): add execplan for liv-96-harden-erlang-ffi-boundary-and-contracts
  docs/plans/LIV-96-harden-erlang-ffi-boundary-and-contracts.md
Due: none

feat: implement liv-97
  README.md
  docs/ARCHITECTURE.md
Due: none

feat: implement liv-99
  src/scherzo/command_step.gleam
  src/scherzo/config.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/linear_parser.gleam
  src/scherzo/control/linear_transport.gleam
  src/scherzo/doctor.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/hooks.gleam
  src/scherzo/linear.gleam
  src/scherzo/linear_attachment.gleam
  src/scherzo/linear_body_data.gleam
  src/scherzo/model_config.gleam
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/pi/command.gleam
  src/scherzo/pi/protocol.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/record.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/terminal/render.gleam
  src/scherzo/version.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace.gleam
  src/scherzo/workspace_run.gleam
Due: gleam-format

docs(plan): add execplan for liv-105-repo-root-workspace-mode-sync-main
  docs/plans/LIV-105-repo-root-workspace-mode-sync-main.md
Due: none

docs(plan): add execplan for liv-93-extract-daemon-pure-transition-kernel
  docs/plans/LIV-93-extract-daemon-pure-transition-kernel.md
Due: none

feat: implement liv-89
  test/orchestrator_daemon_test.gleam
  test/orchestrator_effect_runner_test.gleam
  test/scherzo_expected_crash_ffi.erl
  test/support/expected_crash.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-92
  AGENTS.md
  test/README.md
  test/agent_runner_test.gleam
  test/handoff_test.gleam
  test/lifecycle_test.gleam
  test/linear_attachment_test.gleam
  test/linear_triage_test.gleam
  test/orchestrator_control_command_handler_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_daemon_linear_command_test.gleam
  test/orchestrator_daemon_session_event_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_retry_scheduler_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/orchestrator_service_lifecycle_test.gleam
  test/orchestrator_service_test.gleam
  test/signal_test.gleam
  test/smoke_test.gleam
  test/test_async.gleam
  test/test_async_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

fix(scherzo-merge-conflict): fixed validation to clear SCHERZO_RUN_ROOT for nested tests
  scripts/scherzo-merge-conflict
Due: none

feat: implement liv-90
  test/orchestrator_daemon_linear_command_test.gleam
  test/recovery_workflow_checkpoint_test.gleam
Due: gleam-format

feat: implement liv-104
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
  test/skill_docs_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-117-workflow-level-workspace-hook-profiles
  docs/plans/LIV-117-workflow-level-workspace-hook-profiles.md
Due: none

feat: implement liv-95
  .config/selfci/ci.sh
  AGENTS.md
  README.md
  gleam.toml
  manifest.toml
  src/scherzo/signal.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_recovery_planner.gleam
  src/scherzo/workflow_run.gleam
Due: gleam-format

feat: implement liv-86
  docs/plans/LIV-85-native-scheduled-jobs.md
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/error.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/schedule_core.gleam
  src/scherzo/orchestrator/worker_registry.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/template.gleam
  src/scherzo/workspace_run.gleam
  test/config_test.gleam
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/orchestrator_schedule_core_test.gleam
  test/orchestrator_worker_registry_test.gleam
  test/runtime_bundle_test.gleam
  test/state_projection_test.gleam
  test/state_record_test.gleam
  test/template_test.gleam
  test/workflow_run_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
