Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

scherzo publication execplan/execplan_review_doc 7900d5d6b487c215659d66c43557626584e2a20a0624033d8664b8ca7c148fcc (#446)
  docs/plans/LIV-913-same-repo-commit-stack-publication-specs.md
Due: none

feat: implement liv-889
  src/scherzo/orchestrator/transition_invariants.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_invariant_helpers.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-893: Unify retry policy semantics across daemon retry paths
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/schedule_core.gleam
  src/scherzo/orchestrator/scheduled_runtime.gleam
  src/scherzo/retry_policy.gleam
  src/scherzo/runtime/recovery_policy.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/structured_output_step.gleam
  src/scherzo/workflow_structured_retry.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
  test/orchestrator_daemon_test.gleam
  test/retry_policy_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-922: Revise same-repo commit stack publication specs
  docs/plans/commit-stack-artifact-publication.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
Due: none

feat: implement liv-889 (#448)
  src/scherzo/orchestrator/transition_invariants.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_invariant_helpers.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_runner_test.gleam
  test/orchestrator_transition_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-893: Unify retry policy semantics across daemon retry paths (#449)
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/schedule_core.gleam
  src/scherzo/orchestrator/scheduled_runtime.gleam
  src/scherzo/retry_policy.gleam
  src/scherzo/runtime/recovery_policy.gleam
  src/scherzo/workflow_contract_manifest.gleam
  src/scherzo/workflow_run/structured_output_step.gleam
  src/scherzo/workflow_structured_retry.gleam
  test/orchestrator_daemon_fake_adapter_test.gleam
  test/orchestrator_daemon_test.gleam
  test/retry_policy_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-922: Revise same-repo commit stack publication specs (#450)
  docs/plans/commit-stack-artifact-publication.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
Due: none

Implement LIV-915: Add doctor validation for driver-backed commit_stack publication
  docs/plans/commit-stack-artifact-publication.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/commit_stack_publication_preflight.gleam
  src/scherzo/config/types.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workspace_profile.gleam
  test/runtime_bundle_test.gleam
Due: gleam-format

Implement LIV-915: Add doctor validation for driver-backed commit_stack publication (#452)
  docs/plans/commit-stack-artifact-publication.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/commit_stack_publication_preflight.gleam
  src/scherzo/config/types.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workspace_profile.gleam
  test/runtime_bundle_test.gleam
Due: gleam-format

Implement LIV-914: Add same-repo commit_stack contract and publication config
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  examples/workflows/commit-stack-publication.yaml
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/command_step.gleam
  test/public_yaml_schema_test.gleam
  test/workflow_dag_test.gleam
Due: gleam-format

Implement LIV-914: Add same-repo commit_stack contract and publication config (#451)
  docs/specs/ARTIFACT_PUBLICATION_PRD.md
  examples/workflows/commit-stack-publication.yaml
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/command_step.gleam
  test/public_yaml_schema_test.gleam
  test/workflow_dag_test.gleam
Due: gleam-format

scherzo publication execplan/execplan_review_doc a42f9763d73218e84186d8f5304e624f7a1d866744bed646c090564dc87aba81
  docs/plans/LIV-920-hot-ui-server-activation.md
Due: none

Implement LIV-919: Support friendly daemon names during UI server pairing
  .scherzo/scherzo.yaml
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/runbooks/ui-server-pairing.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/connect.gleam
  src/scherzo/control/remote/config_validation.gleam
  src/scherzo/control/remote/daemon_label.gleam
  src/scherzo/control/remote/pairing_client.gleam
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote/ui_websocket_client.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/config_test.gleam
  test/control_remote_pairing_client_test.gleam
  test/control_remote_ui_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/ctl_connect_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_remote_client_test.gleam
  test/public_yaml_schema_test.gleam
  test/remote_daemon_registration_integration_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

Implement LIV-919: Support friendly daemon names during UI server pairing (#454)
  .scherzo/scherzo.yaml
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/runbooks/ui-server-pairing.md
  docs/specs/SCHERZO_YAML_SIMPLIFIED_V1.md
  schemas/scherzo.config.v1.schema.json
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/connect.gleam
  src/scherzo/control/remote/config_validation.gleam
  src/scherzo/control/remote/daemon_label.gleam
  src/scherzo/control/remote/pairing_client.gleam
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote/ui_websocket_client.gleam
  src/scherzo/main.gleam
  src/scherzo/orchestrator/daemon_remote_client.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/config_test.gleam
  test/control_remote_pairing_client_test.gleam
  test/control_remote_ui_protocol_test.gleam
  test/control_remote_ui_websocket_client_test.gleam
  test/ctl_connect_test.gleam
  test/orchestrator_core_test.gleam
  test/orchestrator_daemon_remote_client_test.gleam
  test/public_yaml_schema_test.gleam
  test/remote_daemon_registration_integration_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

Implement LIV-916: Publish same-repo commit_stack routes through workspace drivers
  src/scherzo/artifact_publication_attempts.gleam
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_runtime.gleam
  src/scherzo/artifact_repository/command_runner.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-907
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/retry_scheduler.gleam
  src/scherzo/orchestrator/task_lifecycle.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-916: Publish same-repo commit_stack routes through workspace drivers (#455)
  src/scherzo/artifact_publication_attempts.gleam
  src/scherzo/artifact_publication_driver.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_runtime.gleam
  src/scherzo/artifact_repository/command_runner.gleam
  src/scherzo/artifact_repository/github_cli.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/terminal_policy.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-907 (#456)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/effect_runner.gleam
  src/scherzo/orchestrator/retry_scheduler.gleam
  src/scherzo/orchestrator/task_lifecycle.gleam
  src/scherzo/orchestrator/task_lifecycle_legacy.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_task_lifecycle_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/orchestrator_transition_edge_order_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

scherzo publication execplan/execplan_review_doc a42f9763d73218e84186d8f5304e624f7a1d866744bed646c090564dc87aba81 (#453)
  docs/plans/LIV-920-hot-ui-server-activation.md
Due: none

test(execplan-implementation): updated recovery coverage for final repair phases
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

feat(execplan-implementation): added bounded final plan-completion repair flow
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-apply-final-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/scripts/scherzo-implementation
Due: none

Implement LIV-909: Harden managed artifact publication checkout recovery
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_repository/checkout_lock.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/ctl/artifact_publication.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-905: Create ExecPlan for robust cleanup ownership and delegation
  docs/runbooks/scheduled-jobs.md
  scripts/scherzo-workspace-cleanup
  src/scherzo/cleanup.gleam
  src/scherzo/cleanup/local_state.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/usage.gleam
  src/scherzo/workspace_manifest.gleam
  test/cleanup_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/state_local_artifacts_test.gleam
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format

Implement LIV-905: Create ExecPlan for robust cleanup ownership and delegation (#459)
  docs/runbooks/scheduled-jobs.md
  scripts/scherzo-workspace-cleanup
  src/scherzo/cleanup.gleam
  src/scherzo/cleanup/local_state.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/usage.gleam
  src/scherzo/workspace_manifest.gleam
  test/cleanup_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
  test/state_local_artifacts_test.gleam
  workflows/dogfood/workspace-cleanup.yaml
Due: gleam-format

Implement LIV-909: Harden managed artifact publication checkout recovery (#458)
  docs/runbooks/artifact-publication.md
  docs/runbooks/artifact-store.md
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_repository/checkout_lock.gleam
  src/scherzo/artifact_repository/github.gleam
  src/scherzo/ctl/artifact_publication.gleam
  test/artifact_publication_executor_test.gleam
  test/artifact_repository_github_adapter_test.gleam
  test/ctl_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

fix(orchestrator): fixed daemon actor initialiser timeout
  src/scherzo/orchestrator/daemon.gleam
Due: gleam-format

Implement LIV-924: Prevent orphaned tracker claims when claim-start ledger append fails
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/runtime/reason.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_test.gleam
Due: gleam-format

Implement LIV-923: Activate UI server pairing without daemon restart
  docs/architecture/daemon-boundary.md
  docs/runbooks/ui-server-pairing.md
  src/scherzo/connect.gleam
  src/scherzo/control/client.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/read_model.gleam
  test/ctl_connect_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/remote_daemon_registration_integration_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-917: Retain unpublished commit_stack workspaces until publish or abandon
  src/scherzo/artifact_publication_attempts.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_publication_runtime.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/ctl/artifact_publication_abandon.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  src/scherzo/ctl/usage.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/artifact_publication_runtime_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-917: Retain unpublished commit_stack workspaces until publish or abandon (#462)
  src/scherzo/artifact_publication_attempts.gleam
  src/scherzo/artifact_publication_executor.gleam
  src/scherzo/artifact_publication_manifest.gleam
  src/scherzo/artifact_publication_recording.gleam
  src/scherzo/artifact_publication_runtime.gleam
  src/scherzo/cleanup/workspaces.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/ctl/artifact_publication_abandon.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  src/scherzo/ctl/usage.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/artifact_publication_runtime_test.gleam
  test/cleanup_workspaces_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-923: Activate UI server pairing without daemon restart (#461)
  docs/architecture/daemon-boundary.md
  docs/runbooks/ui-server-pairing.md
  src/scherzo/connect.gleam
  src/scherzo/control/client.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/read_model.gleam
  test/ctl_connect_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/remote_daemon_registration_integration_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-924: Prevent orphaned tracker claims when claim-start ledger append fails (#460)
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  src/scherzo/runtime/reason.gleam
  test/orchestrator_startup_recovery_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_ledger_test.gleam
  test/orchestrator_transition_test.gleam
Due: gleam-format

LIV-925: add ExecPlan review document
  docs/plans/LIV-925-crash-safe-retry-scheduling-dispatch-boundaries.md
Due: none

LIV-925: add ExecPlan review document (#463)
  docs/plans/LIV-925-crash-safe-retry-scheduling-dispatch-boundaries.md
Due: none

Implement LIV-861: Upgrade Gleam to 1.17.0
  devenv.nix
  devenv.yaml
  flake.nix
  nix/gleam-bin.nix
Due: nix-format

scherzo publication execplan/execplan_review_doc d553f158e500d031c856eda092f83d8a224105bddccc622321e951238b7eb926
  docs/plans/LIV-910-execplan-publication-workspace-driver-commit-stack.md
Due: none

Implement LIV-894: Add operator command for ledger compaction
  src/scherzo/ctl.gleam
  src/scherzo/ctl/state_handlers.gleam
  src/scherzo/ctl/usage.gleam
  src/scherzo/state/ledger.gleam
  test/ctl_state_compact_test.gleam
  test/ctl_test.gleam
Due: gleam-format

Implement LIV-918: Migrate implementation workflows to declarative commit_stack publication
  .scherzo/scherzo.yaml
  schemas/scherzo.workflow.v1.schema.json
  src/scherzo/artifact_publication_config.gleam
  src/scherzo/artifact_publication_planner.gleam
  src/scherzo/workflow_run.gleam
  test/artifact_publication_planner_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/review_native_workflow_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/implementation-publication-pr-body.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
