Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

Implement LIV-386: Write Ticket 1 ExecPlan for composable workstream and artifact specs
  .scherzo/workflows/schemas/workstream/assignment.v1.schema.json
  .scherzo/workflows/schemas/workstream/decision.v1.schema.json
  .scherzo/workflows/schemas/workstream/handoff.v1.schema.json
  .scherzo/workflows/schemas/workstream/input-bundle.v1.schema.json
  .scherzo/workflows/schemas/workstream/next-action.v1.schema.json
  .scherzo/workflows/schemas/workstream/workstream.v1.schema.json
  docs/plans/LIV-370-composable-workstreams-ticket-1-artifact-specs.md
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workstream/artifact_values.gleam
  src/scherzo/workstream/artifacts.gleam
  src/scherzo/workstream/phase_metadata.gleam
  src/scherzo/workstream/types.gleam
  test/fixtures/workstream/specs/assignment_invalid_missing_workstream_id.json
  test/fixtures/workstream/specs/assignment_valid.json
  test/fixtures/workstream/specs/decision_invalid_unknown_kind.json
  test/fixtures/workstream/specs/decision_valid_approve.json
  test/fixtures/workstream/specs/handoff_invalid_absolute_original_path.json
  test/fixtures/workstream/specs/handoff_invalid_missing_artifact_type.json
  test/fixtures/workstream/specs/handoff_invalid_missing_schema_version.json
  test/fixtures/workstream/specs/handoff_invalid_output_missing_ref.json
  test/fixtures/workstream/specs/handoff_invalid_parent_original_path.json
  test/fixtures/workstream/specs/handoff_valid.json
  test/fixtures/workstream/specs/input_bundle_invalid_missing_source_handoff_ref.json
  test/fixtures/workstream/specs/input_bundle_valid.json
  test/fixtures/workstream/specs/next_action_invalid_unknown_state.json
  test/fixtures/workstream/specs/next_action_valid.json
  test/fixtures/workstream/specs/workstream_invalid_missing_artifact_type.json
  test/fixtures/workstream/specs/workstream_invalid_missing_schema_version.json
  test/fixtures/workstream/specs/workstream_valid.json
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
  test/step_artifact_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workstream_phase_metadata_test.gleam
  test/workstream_spec_test.gleam
Due: gleam-format

ExecPlan: LIV-393 Write Ticket 2 ExecPlan for minimal workstream ledger and artifact snapshot store
  docs/plans/LIV-393-composable-workstreams-ticket-2-minimal-ledger-snapshot-store.md
Due: none

Implement LIV-400: Write Ticket 2 ExecPlan for minimal workstream ledger and artifact snapshot store
  docs/plans/LIV-393-composable-workstreams-ticket-2-minimal-ledger-snapshot-store.md
  src/scherzo/hash.gleam
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/ledger.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/state/record.gleam
  src/scherzo/workstream/artifact_store.gleam
  src/scherzo/workstream/id.gleam
  src/scherzo/workstream/ledger.gleam
  src/scherzo_artifact_store_ffi.erl
  test/fixtures/schema/ledger_records_v2.jsonl
  test/fixtures/schema/projection_snapshot_v2.json
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
  test/state_projection_test.gleam
  test/workstream_artifact_store_test.gleam
  test/workstream_ledger_test.gleam
Due: gleam-format

ExecPlan: LIV-365 Create ExecPlan for black-box tracker adapter conformance suite
  docs/plans/LIV-365-black-box-tracker-adapter-conformance-suite.md
Due: none

ExecPlan: LIV-409 ExecPlan: Package dogfood workflows as reusable Nix bundle
  docs/plans/LIV-409-dogfood-workflow-nix-bundle.md
Due: none

docs(plan): resolve dogfood bundle extension packaging question
  docs/plans/LIV-409-dogfood-workflow-nix-bundle.md
Due: none

Implement LIV-419: Repair workstream snapshot store to use artifact-store seam
  docs/runbooks/artifact-store.md
  src/scherzo/state/artifact_store.gleam
  src/scherzo/workstream/artifact_store.gleam
  test/artifact_store_test.gleam
  test/context_recovery_artifact_test.gleam
  test/workflow_run_test.gleam
  test/workstream_artifact_store_test.gleam
Due: gleam-format

Implement LIV-407: Fix retry-step output manifest collision after repaired workflow outputs
  src/scherzo/state/artifact_store.gleam
  src/scherzo/state/projection.gleam
  src/scherzo/workflow_checkpoint.gleam
  test/workflow_checkpoint_repair_manifest_test.gleam
Due: gleam-format

feat(scherzo): added workspace cleanup scheduling and wrapper resolution
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/workspace-cleanup.yaml
  scripts/scherzoctl
  test/github_pr_conflict_scout_config_test.gleam
  test/scherzoctl_wrapper_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

Fix workspace changed-file parsing for renamed dogfood bundle paths
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

feat(workspace-cleanup): added scheduled workspace cleanup support
  scripts/scherzo-workspace-cleanup
  test/scherzo_test.gleam
  test/test_suite_contract_test.gleam
  test/workspace_cleanup_helper_test.gleam
Due: gleam-format

test(tracker-conformance): avoid fixture PATH dependencies
  test/fixtures/tracker_conformance/fake_driver_long_stderr.sh
  test/fixtures/tracker_conformance/fake_task_source_driver.sh
  test/tracker_conformance_cli_driver_test.gleam
Due: gleam-format

ExecPlan: LIV-405 Write Ticket 3 ExecPlan for workflow handoff artifacts and recommended next actions
  docs/plans/LIV-405-composable-workstreams-ticket-3-handoff-artifacts.md
Due: none

ExecPlan: LIV-411 Draft ExecPlan: HTTP driver transport for tracker conformance
  docs/plans/LIV-411-http-driver-transport-for-tracker-conformance.md
Due: none

Implement LIV-437: Fix undefined bundle_dir in ExecPlan implementation review validation
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/merge-conflict-resolution.yaml
Due: gleam-format

feat(control): added longer timeouts for operator commands
  src/scherzo/control/client.gleam
  src/scherzo/control/server.gleam
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_control_test.gleam
Due: gleam-format

Implement LIV-435: Clarify ExecPlan source vs implementation handoff metadata
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

feat(dogfood): added concurrent native review lane execution to dogfood workflow
  docs/review-artifacts.md
  workflows/dogfood/execplan-implementation.yaml
Due: none

feat(workspace): make PR draft status configurable
  .scherzo/README.md
  README.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/scherzo-packaged-jj.yaml
  scripts/scherzo-workspace-jj
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/workspace_driver_docs_test.gleam
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-447: Allow ExecPlan requests to specify output path
  .scherzo/README.md
  docs/review-artifacts.md
  scripts/scherzo_execplan_review.py
  test/execplan_v2_bundle_test.gleam
  test/scherzo_execplan_review_test.py
  workflows/dogfood/execplan.yaml
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

ExecPlan: LIV-440 ExecPlan implementation: populate validation evidence before native review
  docs/plans/LIV-440-validation-evidence-before-native-review.md
Due: none

Implement LIV-436: Write Ticket 3 ExecPlan for workflow handoff artifacts and recommended next actions
  docs/plans/LIV-405-composable-workstreams-ticket-3-handoff-artifacts.md
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workstream/handoff_emitter.gleam
  src/scherzo/workstream/phase_metadata.gleam
  test/source_guardrail_test.gleam
  test/workflow_checkpoint_workstream_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
  test/workstream_handoff_emitter_test.gleam
  test/workstream_phase_metadata_test.gleam
  workflows/dogfood/execplan.yaml
Due: gleam-format

Implement LIV-448: Fix native review lane retry artifact resolution
  test/review_lane_contract_test.gleam
  test/review_native_workflow_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo-review-lane-contract
  workflows/dogfood/scripts/scherzo_review/review_lane_contract.py
Due: gleam-format

Implement LIV-441: ExecPlan review: catch common plan-completion failures earlier
  docs/runbooks/execplan-completion-preflight.md
  docs/runbooks/workflow-recovery.md
  test/execplan_v2_bundle_test.gleam
  workflows/dogfood/prompts/execplan-draft.md
  workflows/dogfood/prompts/execplan-incorporate-review.md
  workflows/dogfood/prompts/execplan-review.md
  workflows/dogfood/scripts/scherzo-execplan
Due: gleam-format

Implement LIV-456: canonical ExecPlan bundle plan artifacts
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/workflow_dag_validator_parser_test.gleam
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/schemas/exec-plan-bundle.v2.schema.json
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

ExecPlan: LIV-442 Require final finding disposition evidence
  docs/plans/LIV-442-require-final-finding-disposition-evidence.md
Due: none

feat(tracker): add HTTP conformance manifest support
  docs/plans/LIV-411-http-driver-transport-for-tracker-conformance.md
  src/scherzo/tracker/conformance/driver.gleam
  src/scherzo/tracker/conformance/http_manifest.gleam
  src/scherzo/tracker/conformance/json.gleam
  src/scherzo/tracker/conformance/types.gleam
  test/fixtures/tracker_conformance/invalid-http-header-env.manifest.json
  test/fixtures/tracker_conformance/invalid-http-header-name.manifest.json
  test/fixtures/tracker_conformance/invalid-http-retry.manifest.json
  test/fixtures/tracker_conformance/invalid-http-url-fragment.manifest.json
  test/fixtures/tracker_conformance/invalid-http-url-scheme.manifest.json
  test/fixtures/tracker_conformance/invalid-http-url-userinfo.manifest.json
  test/fixtures/tracker_conformance/minimal-http-task-source.manifest.json
  test/source_guardrail_test.gleam
  test/tracker_conformance_cli_driver_test.gleam
  test/tracker_conformance_protocol_test.gleam
  workflows/dogfood/schemas/tracker-conformance-manifest.v1.schema.json
Due: gleam-format

Implement LIV-449: populate validation evidence before native review
  docs/review-artifacts.md
  test/review_artifacts_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/review-native-correctness.md
  workflows/dogfood/prompts/review-native-idioms-maintainability.md
  workflows/dogfood/prompts/review-native-security-performance.md
  workflows/dogfood/prompts/review-native-test-quality.md
  workflows/dogfood/scripts/scherzo-review
Due: gleam-format

feat(execplan): added ExecPlan artifact restore and verdict checkpointing
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

fix(scripts): fixed scherezo-pi RPC message updates handling
  scripts/scherzo-pi
Due: none

feat(pi): added pinned pi package with rpc message update suppression
  devenv.lock
  devenv.nix
  devenv.yaml
  docs/GETTING_STARTED.md
  examples/scherzo-packaged-jj.yaml
  examples/scherzo-packaged-noop.yaml
  examples/scherzo.yaml
  flake.nix
  nix/pi.nix
  scripts/scherzo-ci-nix-cache
  src/scherzo/config.gleam
  test/config_test.gleam
  test/config_types_test.gleam
  test/fixtures/schema/orchestrator_config_complete.yaml
  test/schema_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format, nix-format

Implement LIV-470: Require final finding disposition evidence
  test/execplan_implementation_helper_test.gleam
  test/execplan_v2_bundle_test.gleam
  test/review_artifacts_test.gleam
  test/review_native_workflow_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/apply-feedback.md
  workflows/dogfood/prompts/code-review.md
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/schemas/review-artifacts.v1.schema.json
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-review
Due: gleam-format

ExecPlan: LIV-412 Draft ExecPlan: comments, state transitions, and routing conformance packs
  docs/plans/LIV-412-comments-state-transitions-routing-conformance-packs.md
Due: none

ExecPlan: LIV-410 Harden tracker conformance fixtures, probes, and reports
  docs/plans/LIV-410-tracker-conformance-fixtures-probes-reports.md
Due: none

Implement LIV-461: Implement: LIV-241 Ticket 4 start workflows from workstream handoffs
  src/scherzo/state/ledger.gleam
  src/scherzo/workflow_checkpoint.gleam
  src/scherzo/workstream/artifact_store.gleam
  src/scherzo/workstream/artifact_values.gleam
  src/scherzo/workstream/artifacts.gleam
  src/scherzo/workstream/start.gleam
  src/scherzo/workstream/start_key.gleam
  src/scherzo/workstream/start_manual.gleam
  src/scherzo/workstream/types.gleam
  test/workstream_spec_test.gleam
  test/workstream_start_test.gleam
Due: gleam-format

Implement LIV-475: Harden tracker conformance fixtures, probes, and reports
  docs/runbooks/tracker-adapters.md
  docs/specs/TRACKER_CONFORMANCE_PROTOCOL.md
  src/scherzo/tracker/conformance/driver.gleam
  src/scherzo/tracker/conformance/fixture_manifest.gleam
  src/scherzo/tracker/conformance/fixtures.gleam
  src/scherzo/tracker/conformance/json.gleam
  src/scherzo/tracker/conformance/probes.gleam
  src/scherzo/tracker/conformance/process_capture.gleam
  src/scherzo/tracker/conformance/report.gleam
  src/scherzo/tracker/conformance/task_source_pack.gleam
  src/scherzo/tracker/conformance/types.gleam
  test/fixtures/tracker_conformance/explicit-fixture-tasks.manifest.json
  test/fixtures/tracker_conformance/fake_task_source_driver.sh
  test/fixtures/tracker_conformance/invalid-fixture-task-duplicate-name.manifest.json
  test/fixtures/tracker_conformance/invalid-fixture-task-empty-operator-ref.manifest.json
  test/fixtures/tracker_conformance/invalid-fixture-task-empty-remote-id.manifest.json
  test/fixtures/tracker_conformance/invalid-hook-operation-in-adapter-pack.manifest.json
  test/fixtures/tracker_conformance/invalid-probe-operation-in-adapter-pack.manifest.json
  test/fixtures/tracker_conformance/report-failure.expected.json
  test/fixtures/tracker_conformance/report-pass.expected.json
  test/fixtures/tracker_conformance/task-source-empty-fixtures.manifest.json
  test/fixtures/tracker_conformance/task-source-empty.response.json
  test/fixtures/tracker_conformance/task-source-explicit-fixtures.manifest.json
  test/fixtures/tracker_conformance/task-source-secret-transcripts.manifest.json
  test/fixtures/tracker_conformance/task-source-two-tasks.response.json
  test/source_guardrail_test.gleam
  test/tracker_conformance_cli_driver_test.gleam
  test/tracker_conformance_protocol_test.gleam
  test/tracker_conformance_report_test.gleam
  test/tracker_conformance_task_source_test.gleam
Due: gleam-format

ExecPlan: LIV-481 Add self-healing workflow step recovery
  docs/plans/LIV-481-self-healing-workflow-step-recovery.md
Due: none

ExecPlan: LIV-325 Create ExecPlan for centralized UI daemon/server control plane
  docs/plans/LIV-325-centralized-ui-daemon-control-plane.md
Due: none
