Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gleam-format:
      glob: "*.gleam"
      run: gleam format --check src test
      fail_text: "Gleam formatting check failed. Run: gleam format src test"

    nix-format:
      glob: "*.nix"
      run: nixfmt --check {staged_files}
      fail_text: "Nix formatting check failed. Run: nixfmt {files}"

pre-push:
  parallel: true
  commands:
    gleam-test:
      run: gleam test
      fail_text: "Tests failed"

    gleam-build:
      run: gleam build
      fail_text: "Build failed"

refactor(dogfood): refactored dogfood apply-feedback prompt output fields
  workflows/dogfood/prompts/apply-feedback.md
Due: none

Implement LIV-1373: Restart-time interruptions: rewind and continue local-side-effect steps instead of park+inspect
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_recovery_planner.gleam
  test/recovery_workflow_checkpoint_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_recovery_planner_test.gleam
Due: gleam-format

Implement LIV-1398: jj driver: consolidate subprocess wrappers, duplicated validation, and error-channel constants
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

refactor(dogfood-prompts): refactored dogfood prompts to use lane finalization output
  workflows/dogfood/prompts/code-review.md
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-review.md
Due: none

Implement LIV-1398: jj driver: consolidate subprocess wrappers, duplicated validation, and error-channel constants (#624)
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1366-prompt-template-include-partials.md
  docs/plans/LIV-1366-prompt-template-include-partials.md
Due: none

Implement LIV-1407: Recovery completion must verify publication, not just materialization (LIV-1389 post-mortem)
  docs/architecture/daemon-boundary.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/artifact_publication.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/doctor.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/retained_publication_doctor.gleam
  src/scherzo/orchestrator/run_finalize_control.gleam
  src/scherzo/orchestrator/service.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/ctl_test.gleam
  test/doctor_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_operator_runtime_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/run_finalize_control_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1354: Delete restore-execplan-artifacts scaffolding once canonical state leaves tmp/
  test/execplan_implementation_helper_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1352: Remove defensive shell boilerplate from dogfood workflow command steps
  .scherzo/README.md
  docs/runbooks/scheduled-jobs.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/workflows/github-pr-conflict-scout.yaml
  examples/workflows/merge-conflict-resolution.yaml
  src/scherzo/local_workflow_run.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/step_context.gleam
  src/scherzo/workspace_driver_env.gleam
  test/fixtures/fake_pi_rpc.sh
  test/github_pr_conflict_scout_config_test.gleam
  test/workflow_context_test_support.gleam
  test/workflow_portability_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/github-pr-conflict-scout.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/merge-conflict-resolution.yaml
  workflows/dogfood/one-shot.yaml
  workflows/dogfood/origin-sync.yaml
  workflows/dogfood/prompts/code-review.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1414: Collapse implementation repair loops onto step recovery
  docs/plans/LIV-1350-collapse-repair-loops-step-recovery.md
  docs/runbooks/workflow-recovery.md
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/handoff_format.gleam
  test/execplan_implementation_helper_test.gleam
  test/execplan_workflow_guidance_test.gleam
  test/handoff_test.gleam
  test/review_native_workflow_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/prompts/apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-final-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-late-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-apply-plan-completion-feedback.md
  workflows/dogfood/prompts/execplan-implementation-recover-failed-step.md
  workflows/dogfood/prompts/execplan-implementation-recover-plan-completion.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/execplan-implementation-review.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-feedback.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-final-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-after-late-repair.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion-before-final-validation.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/repair-base-drift.md
  workflows/dogfood/scripts/scherzo-implementation
Due: gleam-format

Implement LIV-1352: Remove defensive shell boilerplate from dogfood workflow command steps (#628)
  .scherzo/README.md
  docs/runbooks/scheduled-jobs.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/workflows/github-pr-conflict-scout.yaml
  examples/workflows/merge-conflict-resolution.yaml
  src/scherzo/local_workflow_run.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_run/step_context.gleam
  src/scherzo/workspace_driver_env.gleam
  test/fixtures/fake_pi_rpc.sh
  test/github_pr_conflict_scout_config_test.gleam
  test/workflow_context_test_support.gleam
  test/workflow_portability_test.gleam
  test/workflow_run_test.gleam
  workflows/dogfood/execplan-implementation.yaml
  workflows/dogfood/execplan-revision.yaml
  workflows/dogfood/execplan.yaml
  workflows/dogfood/github-pr-conflict-scout.yaml
  workflows/dogfood/implementation.yaml
  workflows/dogfood/merge-conflict-resolution.yaml
  workflows/dogfood/one-shot.yaml
  workflows/dogfood/origin-sync.yaml
  workflows/dogfood/prompts/code-review.md
Due: gleam-format

ExecPlan review doc: docs/plans/LIV-1366-prompt-template-include-partials.md (#625)
  docs/plans/LIV-1366-prompt-template-include-partials.md
Due: none

Implement LIV-1400: jj driver: harden repo-root inference, conflict listing, and refresh-base failure payloads
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

Implement LIV-1399: jj driver: restructure PR-URL adoption cascade in publish-commit-stack
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

Implement LIV-1358: Extract tested scherzo_workflow package from workflow bundle script monoliths
  .buildkite/pipeline.yml
  devenv.nix
  nix/scherzo-dogfood-workflows.nix
  scripts/scherzo-ci
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
  workflows/dogfood/scripts/scherzo-merge-conflict
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo-review-lane-contract
  workflows/dogfood/scripts/scherzo_workflow/__init__.py
  workflows/dogfood/scripts/scherzo_workflow/commit_stack.py
  workflows/dogfood/scripts/scherzo_workflow/errors.py
  workflows/dogfood/scripts/scherzo_workflow/errors_test.py
  workflows/dogfood/scripts/scherzo_workflow/json_io.py
  workflows/dogfood/scripts/scherzo_workflow/json_io_test.py
  workflows/dogfood/scripts/scherzo_workflow/paths.py
  workflows/dogfood/scripts/scherzo_workflow/paths_test.py
  workflows/dogfood/scripts/scherzo_workflow/process.py
  workflows/dogfood/scripts/scherzo_workflow/process_test.py
  workflows/dogfood/scripts/scherzo_workflow/schema.py
  workflows/dogfood/scripts/scherzo_workflow/schema_test.py
  workflows/dogfood/scripts/scherzo_workflow/workspace_driver.py
  workflows/dogfood/scripts/scherzo_workflow/workspace_driver_test.py
Due: nix-format

Implement LIV-1399: jj driver: restructure PR-URL adoption cascade in publish-commit-stack (#631)
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

Implement LIV-1400: jj driver: harden repo-root inference, conflict listing, and refresh-base failure payloads (#630)
  scripts/scherzo-workspace-jj
  test/jj_workspace_driver_test.gleam
Due: gleam-format

Implement LIV-1358: Extract tested scherzo_workflow package from workflow bundle script monoliths (#632)
  .buildkite/pipeline.yml
  devenv.nix
  nix/scherzo-dogfood-workflows.nix
  scripts/scherzo-ci
  workflows/dogfood/scripts/scherzo-execplan
  workflows/dogfood/scripts/scherzo-implementation
  workflows/dogfood/scripts/scherzo-merge-conflict
  workflows/dogfood/scripts/scherzo-review
  workflows/dogfood/scripts/scherzo-review-lane-contract
  workflows/dogfood/scripts/scherzo_workflow/__init__.py
  workflows/dogfood/scripts/scherzo_workflow/commit_stack.py
  workflows/dogfood/scripts/scherzo_workflow/errors.py
  workflows/dogfood/scripts/scherzo_workflow/errors_test.py
  workflows/dogfood/scripts/scherzo_workflow/json_io.py
  workflows/dogfood/scripts/scherzo_workflow/json_io_test.py
  workflows/dogfood/scripts/scherzo_workflow/paths.py
  workflows/dogfood/scripts/scherzo_workflow/paths_test.py
  workflows/dogfood/scripts/scherzo_workflow/process.py
  workflows/dogfood/scripts/scherzo_workflow/process_test.py
  workflows/dogfood/scripts/scherzo_workflow/schema.py
  workflows/dogfood/scripts/scherzo_workflow/schema_test.py
  workflows/dogfood/scripts/scherzo_workflow/workspace_driver.py
  workflows/dogfood/scripts/scherzo_workflow/workspace_driver_test.py
Due: nix-format

fix(orchestrator-daemon): fixed recovered workspace bundle dirs
  src/scherzo/orchestrator/daemon.gleam
  test/orchestrator_daemon_retry_step_test.gleam
Due: gleam-format

Implement LIV-1406: Dispatch publication recovery: route drift through retry-planner lattice; rejected recovery must not park
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/dispatch_recovery.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1406: Dispatch publication recovery: route drift through retry-planner lattice; rejected recovery must not park (#633)
  docs/architecture/daemon-boundary.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/dispatch_recovery.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1362: Workflow bundle hygiene: delete orphaned prompts, add orphan/twin-drift lint, update author skill
  .pi/skills/scherzo-workflow-author/SKILL.md
  .scherzo/README.md
  nix/scherzo-dogfood-workflows.nix
  scripts/scherzo-workflow-portability
  test/workflow_lint_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/apply-visual-feedback.md
  workflows/dogfood/prompts/code-review.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/final-report.md
  workflows/dogfood/prompts/implement-ui-design.md
  workflows/dogfood/prompts/recover_failed_step.md
  workflows/dogfood/prompts/ui-design-code-review.md
  workflows/dogfood/prompts/ui-design-publication-pr-body.md
  workflows/dogfood/prompts/visual-review.md
  workflows/dogfood/scripts/scherzo-workflow-lint
Due: gleam-format, nix-format

Implement LIV-1374: Operator UX: consolidate retry verbs, universal next-command rejections, retry --dry-run, runbook updates
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
  docs/architecture/daemon-boundary.md
  docs/runbooks/workflow-recovery.md
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/orchestrator/artifact_publication_retry_control.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/recollect_outputs_control.gleam
  src/scherzo/orchestrator/retry_step_operation.gleam
  src/scherzo/orchestrator/run_finalize_control.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/workflow_repair.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1430: Daemon workflow query: structured detail DTO for UI workflow viewer (trigger, contract, steps, publications) alongside raw YAML
  src/scherzo/control/query/types.gleam
  src/scherzo/control/query/workflow.gleam
  src/scherzo/control/query/workflow_dto.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/schedule_doctor.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_interface_snapshot.gleam
  src/scherzo/workflow_run/recovery_execution.gleam
  src/scherzo/workflow_run/step_execution.gleam
  src/scherzo_structured_output_contract.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/control_remote_envelope_test.gleam
  test/github_pr_conflict_scout_config_test.gleam
  test/orchestrator_workflow_reloader_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1362: Workflow bundle hygiene: delete orphaned prompts, add orphan/twin-drift lint, update author skill (#634)
  .pi/skills/scherzo-workflow-author/SKILL.md
  .scherzo/README.md
  nix/scherzo-dogfood-workflows.nix
  scripts/scherzo-workflow-portability
  test/workflow_lint_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/apply-visual-feedback.md
  workflows/dogfood/prompts/code-review.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/final-report.md
  workflows/dogfood/prompts/implement-ui-design.md
  workflows/dogfood/prompts/recover_failed_step.md
  workflows/dogfood/prompts/ui-design-code-review.md
  workflows/dogfood/prompts/ui-design-publication-pr-body.md
  workflows/dogfood/prompts/visual-review.md
  workflows/dogfood/scripts/scherzo-workflow-lint
Due: gleam-format, nix-format

Implement LIV-1374: Operator UX: consolidate retry verbs, universal next-command rejections, retry --dry-run, runbook updates (#635)
  .pi/skills/scherzo-operator/SKILL.md
  .pi/skills/scherzo-operator/references/commands.md
  docs/architecture/daemon-boundary.md
  docs/runbooks/workflow-recovery.md
  docs/runbooks/workflow-step-recovery.md
  src/scherzo/control/client.gleam
  src/scherzo/control/command.gleam
  src/scherzo/control/protocol.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/orchestrator/artifact_publication_retry_control.gleam
  src/scherzo/orchestrator/control_command_handler.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/operator_runtime.gleam
  src/scherzo/orchestrator/recollect_outputs_control.gleam
  src/scherzo/orchestrator/retry_step_operation.gleam
  src/scherzo/orchestrator/run_finalize_control.gleam
  src/scherzo/orchestrator/transitions/operator.gleam
  src/scherzo/workflow_repair.gleam
  test/control_command_test.gleam
  test/control_protocol_test.gleam
  test/ctl_test.gleam
  test/fixtures/schema/control_requests_v1.jsonl
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_recollect_outputs_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_transition_dispatch_test.gleam
  test/schema_guardrail_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1376: Conflict scout: SHA-aware dedupe to stop duplicate resolver runs
  test/github_pr_conflict_scout_test.gleam
  workflows/dogfood/scripts/scherzo-github-pr-conflict-scout
Due: gleam-format

Implement LIV-1376: Conflict scout: SHA-aware dedupe to stop duplicate resolver runs (#637)
  test/github_pr_conflict_scout_test.gleam
  workflows/dogfood/scripts/scherzo-github-pr-conflict-scout
Due: gleam-format

Implement LIV-1418: Prompt template engine: {% include %} partials for shared prompt fragments
  .pi/skills/scherzo-workflow-author/SKILL.md
  docs/GETTING_STARTED.md
  docs/SYMPHONY_SPEC.md
  docs/plans/LIV-1366-prompt-template-include-partials.md
  src/scherzo/orchestrator/workflow_reloader.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/runtime_bundle_prompt_loader.gleam
  src/scherzo/template.gleam
  test/execplan_implementation_helper_test.gleam
  test/orchestrator_workflow_reloader_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/template_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_lint_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/fragments/execplan-identity-model.md
  workflows/dogfood/prompts/fragments/execplan-verification-contract.md
  workflows/dogfood/scripts/scherzo-workflow-lint
Due: gleam-format

Implement LIV-1420: Fix run finalize publication discovery for already-finalized retained runs
  docs/architecture/daemon-boundary.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/artifact_publication_retry_targets.gleam
  src/scherzo/artifact_publication_route_discovery.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  src/scherzo/orchestrator/artifact_publication_retry_control.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/retained_publication_doctor.gleam
  src/scherzo/orchestrator/run_finalize_control.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1418: Prompt template engine: {% include %} partials for shared prompt fragments (#638)
  .pi/skills/scherzo-workflow-author/SKILL.md
  docs/GETTING_STARTED.md
  docs/SYMPHONY_SPEC.md
  docs/plans/LIV-1366-prompt-template-include-partials.md
  src/scherzo/orchestrator/workflow_reloader.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/runtime_bundle_prompt_loader.gleam
  src/scherzo/template.gleam
  test/execplan_implementation_helper_test.gleam
  test/orchestrator_workflow_reloader_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/template_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_lint_test.gleam
  test/workflow_portability_test.gleam
  workflows/dogfood/prompts/execplan-implementation-apply-feedback.md
  workflows/dogfood/prompts/execplan-implementation-implement.md
  workflows/dogfood/prompts/execplan-implementation-repair-base-drift.md
  workflows/dogfood/prompts/execplan-implementation-verify-completion.md
  workflows/dogfood/prompts/fragments/execplan-identity-model.md
  workflows/dogfood/prompts/fragments/execplan-verification-contract.md
  workflows/dogfood/scripts/scherzo-workflow-lint
Due: gleam-format

Implement LIV-1420: Fix run finalize publication discovery for already-finalized retained runs (#639)
  docs/architecture/daemon-boundary.md
  docs/runbooks/artifact-publication.md
  docs/runbooks/workflow-recovery.md
  src/scherzo/artifact_publication_retry_targets.gleam
  src/scherzo/artifact_publication_route_discovery.gleam
  src/scherzo/ctl/artifact_publication_retry.gleam
  src/scherzo/orchestrator/artifact_publication_retry_control.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/retained_publication_doctor.gleam
  src/scherzo/orchestrator/run_finalize_control.gleam
  test/ctl_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_retry_step_test.gleam
  test/orchestrator_service_doctor_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1434: Expose rich daemon activity labels for active task rows
  docs/ARCHITECTURE.md
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote_envelope.gleam
  src/scherzo/control/remote_harness.gleam
  test/control_remote_client_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_remote_ui_protocol_test.gleam
  test/jj_workspace_driver_test.gleam
  test/remote_harness_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1434: Expose rich daemon activity labels for active task rows (#640)
  docs/ARCHITECTURE.md
  src/scherzo/control/remote/ui_protocol.gleam
  src/scherzo/control/remote_envelope.gleam
  src/scherzo/control/remote_harness.gleam
  test/control_remote_client_test.gleam
  test/control_remote_envelope_test.gleam
  test/control_remote_ui_protocol_test.gleam
  test/jj_workspace_driver_test.gleam
  test/remote_harness_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format

Implement LIV-1408: Daemon degraded during recovery: read-query/outbox timeouts and phantom active-claims after failed retries
  docs/architecture/daemon-boundary.md
  src/scherzo/control/query/backend.gleam
  src/scherzo/control/query/codec.gleam
  src/scherzo/control/query/dto.gleam
  src/scherzo/control/query/types.gleam
  src/scherzo/control/remote_harness.gleam
  src/scherzo/ctl.gleam
  src/scherzo/ctl/command_registry.gleam
  src/scherzo/ctl/renderers.gleam
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/query_runtime.gleam
  src/scherzo/orchestrator/query_snapshot_cache.gleam
  src/scherzo/orchestrator/transition_types.gleam
  src/scherzo/orchestrator/transitions/claims.gleam
  test/control_query_codec_test.gleam
  test/control_query_workflow_test.gleam
  test/orchestrator_daemon_boundary_test.gleam
  test/orchestrator_daemon_control_test.gleam
  test/orchestrator_transition_invariants_test.gleam
  test/orchestrator_transition_test.gleam
  test/source_guardrail_test.gleam
Due: gleam-format
