Repository bromanko/scherzo: changes, and which lefthook commands are due for each by the changed paths.
All: gleam-format, nix-format

gleam-format:
  run: gleam format --check src test
  fail_text: 'Gleam formatting check failed. Run: gleam format src test'

nix-format:
  run: nixfmt --check {staged_files}
  fail_text: 'Nix formatting check failed. Run: nixfmt {files}'

fix(state-projection): fixed blank issue ids from being tracked in projections
  src/scherzo/state/projection.gleam
  test/state_projection_test.gleam
Due: gleam-format

feat: implement liv-207
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/package.json
  .pi/extensions/scherzo-review-lane-draft/review_lane_draft_schema.ts
  .pi/extensions/scherzo-review-lane-draft/test.js
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  .scherzo/workflows/review-native.yml
  docs/plans/LIV-204-pi-tool-enforced-review-lane-drafts.html
  scripts/scherzo-review
  src/scherzo/local_workflow_run.gleam
  src/scherzo/result_artifact.gleam
  src/scherzo/review_lane_draft_validator.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/schedule_doctor.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/tool_submission.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_recovery_planner.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_structured_retry.gleam
  test/fixtures/review_lane_draft/invalid-duplicate-finding-id.json
  test/fixtures/review_lane_draft/invalid-missing-evidence-link.json
  test/fixtures/review_lane_draft/invalid-remote-mutations.json
  test/fixtures/review_lane_draft/invalid-unsafe-path.json
  test/fixtures/review_lane_draft/valid-minimal.json
  test/orchestrator_daemon_test.gleam
  test/orchestrator_service_test.gleam
  test/orchestrator_workflow_reloader_test.gleam
  test/runtime_bundle_test.gleam
  test/schema_guardrail_test.gleam
  test/scherzo_review_lane_draft_test.py
  test/source_guardrail_test.gleam
  test/step_artifact_test.gleam
  test/tool_submission_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

feat: implement liv-184
  .scherzo/README.md
  .scherzo/scherzo.yaml
  docs/plans/LIV-172-dogfood-workspace-driver-profile-migration.md
  src/scherzo/workspace_driver_lifecycle.gleam
  src/scherzo/workspace_profile.gleam
  src/scherzo/workspace_run.gleam
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/orchestrator_config_test.gleam
  test/runtime_bundle_test.gleam
  test/source_guardrail_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

feat: implement liv-180
  docs/plans/LIV-174-portable-research-workflow-with-workspace-drivers.md
  docs/runbooks/portable-research-workflow.md
  examples/scherzo.yaml
  examples/workflows/prompts/research.md
  examples/workflows/research.yaml
  test/portable_research_workflow_test.gleam
Due: gleam-format

feat: implement liv-212
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-apply-plan-completion-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-implementation-review.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion-after-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion-before-final-validation.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion.md
  .scherzo/workflows/prompts/repair-base-drift.md
  test/execplan_implementation_helper_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-213-token-efficient-execplan-briefs-and-html-extraction
  docs/plans/LIV-213-token-efficient-execplan-briefs-and-html-extraction.html
Due: none

feat: implement liv-215
  test/agent_worker_control_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/orchestrator_daemon_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-210-handle-context-window-exhaustion
  docs/plans/LIV-210-handle-context-window-exhaustion.html
Due: none

feat: implement liv-217
  src/scherzo/local_workflow_run.gleam
  src/scherzo/pi/protocol.gleam
  src/scherzo/result_artifact.gleam
  src/scherzo/step_artifact.gleam
  src/scherzo/structured_output.gleam
  src/scherzo/structured_output_source.gleam
  src/scherzo/workflow_dag.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workflow_structured_retry.gleam
  test/pi_protocol_test.gleam
  test/source_guardrail_test.gleam
  test/step_artifact_test.gleam
  test/structured_output_test.gleam
  test/workflow_dag_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

Implement LIV-186: Convert dogfood implementation workflows to workspace driver operations
  .scherzo/README.md
  .scherzo/scherzo.yaml
  .scherzo/workflows/execplan-implementation.yaml
  .scherzo/workflows/execplan-revision.yaml
  .scherzo/workflows/execplan.yaml
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/merge-conflict-resolution.yaml
  .scherzo/workflows/prompts/apply-feedback.md
  .scherzo/workflows/prompts/code-review.md
  .scherzo/workflows/prompts/execplan-draft.md
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-apply-plan-completion-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-implementation-review.md
  .scherzo/workflows/prompts/execplan-incorporate-review.md
  .scherzo/workflows/prompts/execplan-repair-validation.md
  .scherzo/workflows/prompts/execplan-review.md
  .scherzo/workflows/prompts/execplan-revision.md
  .scherzo/workflows/prompts/implement.md
  .scherzo/workflows/prompts/repair-base-drift.md
  .scherzo/workflows/prompts/resolve-merge-conflicts.md
  docs/plans/LIV-175-convert-dogfood-implementation-workflows-to-driver-operations.md
  scripts/scherzo-execplan
  scripts/scherzo-execplan-revision
  scripts/scherzo-implementation
  scripts/scherzo-merge-conflict
  scripts/scherzo-review
  scripts/scherzo-workspace-jj
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

feat: implement liv-188
  .scherzo/README.md
  README.md
  docs/ARCHITECTURE.md
  docs/plans/LIV-176-workspace-driver-docs-and-migration-guide.md
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/workspace-driver-contract.md
  docs/runbooks/workspace-driver-migration.md
  examples/scherzo.yaml
  examples/workflows/research.yaml
  src/scherzo/main.gleam
  test/main_test.gleam
  test/portable_research_workflow_test.gleam
  test/workspace_driver_docs_test.gleam
Due: gleam-format

feat: recover workflow agent context exhaustion
  docs/plans/LIV-210-handle-context-window-exhaustion.html
  src/scherzo/agent/context_exhaustion.gleam
  src/scherzo/agent/context_recovery_artifact.gleam
  src/scherzo/agent/context_recovery_prompt.gleam
  src/scherzo/agent/pi_event.gleam
  src/scherzo/agent/pi_rpc.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/agent/turn_loop.gleam
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/error.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/pi/client.gleam
  src/scherzo/pi/protocol.gleam
  src/scherzo/state/artifact_store.gleam
  test/agent_runner_test.gleam
  test/agent_worker_control_test.gleam
  test/config_test.gleam
  test/context_exhaustion_test.gleam
  test/context_recovery_artifact_test.gleam
  test/context_recovery_prompt_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/fixtures/pi/context-length-exceeded-current-protocol.jsonl
  test/fixtures/pi/non-context-rate-limit.jsonl
  test/orchestrator_core_test.gleam
  test/pi_client_test.gleam
  test/pi_protocol_context_exhaustion_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

fix: normalize workspace driver invocation
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/hooks.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_driver_command.gleam
  src/scherzo/workspace_driver_context.gleam
  src/scherzo/workspace_driver_lifecycle.gleam
  src/scherzo/workspace_profile.gleam
  test/orchestrator_config_test.gleam
  test/workflow_run_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

fix: pass workspace driver env to agent steps
  src/scherzo/config/types.gleam
  src/scherzo/workflow_run.gleam
  test/fixtures/fake_pi_rpc.sh
  test/workflow_run_test.gleam
Due: gleam-format

fix: validate workspace capabilities on execution
  docs/runbooks/workspace-driver-migration.md
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_profile.gleam
  test/workflow_run_test.gleam
Due: gleam-format

cleanup: remove obsolete workspace driver gate
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workspace_profile.gleam
Due: gleam-format

Implement LIV-209: Cleanup and refine workspace driver implementation after migration
  docs/runbooks/workspace-driver-contract.md
  scripts/scherzo-implementation
  scripts/scherzo-workspace-noop
  test/workspace_driver_contract_test.gleam
Due: gleam-format

Implement LIV-219: Fix scheduled jobs after daemon restart with monotonic timebase
  docs/ARCHITECTURE.md
  docs/ffi.md
  src/scherzo/orchestrator/daemon.gleam
  src/scherzo/orchestrator/schedule_core.gleam
  src/scherzo/orchestrator/service.gleam
  src/scherzo_time_ffi.erl
  test/ffi_stable_test.gleam
  test/orchestrator_daemon_test.gleam
  test/orchestrator_schedule_core_test.gleam
Due: gleam-format

ExecPlan: Rework native review lane draft submission around generic Pi tool-call structured output
  docs/plans/LIV-218-rework-review-lane-pi-tool-submissions-generic-primitives.html
Due: none

fix(merge-conflict): hardened validation env scrubbing for nested helper runs
  scripts/scherzo-merge-conflict
  test/merge_conflict_helper_test.gleam
Due: gleam-format

docs(plan): add execplan for liv-206-driver-auto-discover-capabilities
  docs/plans/LIV-206-driver-auto-discover-capabilities.html
Due: none

docs(plan): revise execplan from PR #145 feedback
  docs/plans/LIV-218-rework-review-lane-pi-tool-submissions-generic-primitives.html
Due: none

feat: implement liv-216
  .scherzo/workflows/prompts/execplan-implementation-apply-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-apply-plan-completion-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-implement.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion-after-feedback.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion-before-final-validation.md
  .scherzo/workflows/prompts/execplan-implementation-verify-completion.md
  .scherzo/workflows/prompts/execplan-revision.md
  docs/plans/LIV-213-token-efficient-execplan-briefs-and-html-extraction.html
  scripts/scherzo-execplan-html
  scripts/scherzo-implementation
  test/execplan_html_renderer_test.gleam
  test/execplan_implementation_helper_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

Implement LIV-226: Make workspace drivers self-describe capabilities
  .scherzo/README.md
  .scherzo/scherzo.yaml
  README.md
  docs/plans/LIV-206-driver-auto-discover-capabilities.html
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-contract.md
  docs/runbooks/workspace-driver-migration.md
  examples/scherzo.yaml
  scripts/scherzo-workspace-jj
  scripts/scherzo-workspace-noop
  src/scherzo/config.gleam
  src/scherzo/runtime_bundle.gleam
  src/scherzo/workspace_driver_discovery.gleam
  test/jj_workspace_driver_test.gleam
  test/orchestrator_config_test.gleam
  test/portable_research_workflow_test.gleam
  test/runtime_bundle_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
  test/workspace_driver_contract_test.gleam
  test/workspace_driver_discovery_test.gleam
  test/workspace_driver_docs_test.gleam
  test/workspace_run_test.gleam
Due: gleam-format

Implement LIV-231: Implement: Publish workspace driver specification under docs/specs
  .scherzo/README.md
  README.md
  docs/ARCHITECTURE.md
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-contract.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  test/workspace_driver_docs_test.gleam
Due: gleam-format

ExecPlan: Package the no-op workspace driver for reusable distribution
  docs/plans/LIV-232-package-noop-workspace-driver-for-reusable-distribution.html
Due: none

Implement LIV-224: Rework native review lane draft submission around generic Pi tool-call structured output
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .pi/extensions/scherzo-review-lane-draft/tool-contract.v1.json
  .scherzo/workflows/prompts/review-native-contract-failed.md
  .scherzo/workflows/prompts/review-native-contract-malformed.md
  .scherzo/workflows/prompts/review-native-contract-valid.md
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  .scherzo/workflows/review-native-contract-spike.yml
  .scherzo/workflows/review-native.yml
  docs/plans/LIV-218-rework-review-lane-pi-tool-submissions-generic-primitives.html
  scripts/scherzo-review
  src/scherzo/local_workflow_run.gleam
  test/fixtures/review-lane-draft-tool/absolute-path.arguments.json
  test/fixtures/review-lane-draft-tool/missing-lane.arguments.json
  test/fixtures/review-lane-draft-tool/valid-correctness.arguments.json
  test/fixtures/review-lane-draft-tool/valid-idioms-maintainability.arguments.json
  test/fixtures/review-lane-draft-tool/valid-security-performance.arguments.json
  test/fixtures/review-lane-draft-tool/valid-test-quality.arguments.json
  test/fixtures/review-lane-draft-tool/wrong-artifact-type.arguments.json
  test/review_native_workflow_test.gleam
Due: gleam-format

Implement LIV-234: Fold legacy jj workspace helper into jj driver
  .pi/skills/scherzo-operator/references/commands.md
  docs/runbooks/workspace-driver-migration.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  scripts/scherzo-jj-workspace
  scripts/scherzo-workspace-jj
  test/execplan_implementation_helper_test.gleam
  test/jj_workspace_driver_test.gleam
  test/jj_workspace_hook_test.gleam
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/skill_docs_test.gleam
Due: gleam-format

Implement LIV-233: Package the no-op workspace driver for reusable distribution
  README.md
  docs/plans/LIV-232-package-noop-workspace-driver-for-reusable-distribution.html
  docs/runbooks/portable-research-workflow.md
  docs/runbooks/workspace-driver-capabilities.md
  docs/runbooks/workspace-driver-migration.md
  examples/scherzo-packaged-noop.yaml
  nix/scherzo.nix
  test/scherzo_test_ffi.erl
  test/workflow_run_test.gleam
  test/workspace_driver_contract_test.gleam
  test/workspace_driver_docs_test.gleam
Due: gleam-format, nix-format

ExecPlan: Add profile-local workspace driver environment
  docs/plans/LIV-236-add-profile-local-workspace-driver-env.html
Due: none

ExecPlan: Package the jj workspace driver for reusable Scherzo installs
  docs/plans/LIV-235-package-jj-workspace-driver.html
Due: none

ExecPlan: Generalize structured-output validators for workflow artifacts
  docs/plans/LIV-238-general-structured-output-validators.html
Due: none

Implement LIV-237: Add profile-local workspace driver environment
  README.md
  docs/plans/LIV-236-add-profile-local-workspace-driver-env.html
  docs/runbooks/workspace-driver-migration.md
  docs/specs/WORKSPACE_DRIVER_SPEC.md
  examples/scherzo.yaml
  src/scherzo/agent/types.gleam
  src/scherzo/command_step.gleam
  src/scherzo/config.gleam
  src/scherzo/config/types.gleam
  src/scherzo/hooks.gleam
  src/scherzo/workflow_fingerprint.gleam
  src/scherzo/workflow_run.gleam
  src/scherzo/workspace_driver_context.gleam
  src/scherzo/workspace_driver_discovery.gleam
  src/scherzo/workspace_driver_env.gleam
  src/scherzo/workspace_driver_lifecycle.gleam
  src/scherzo/workspace_profile.gleam
  test/config_test.gleam
  test/config_types_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/local_integration/workflow_jj_workspace_smoke_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_fingerprint_test.gleam
  test/workflow_run_test.gleam
  test/workspace_driver_context_test.gleam
  test/workspace_driver_discovery_test.gleam
  test/workspace_driver_docs_test.gleam
  test/workspace_driver_env_test.gleam
  test/workspace_driver_lifecycle_test.gleam
Due: gleam-format

Implement LIV-239: Specify structured-output validator contract and reconcile ExecPlan
  docs/plans/LIV-238-general-structured-output-validators.html
  docs/plans/LIV-238-general-structured-output-validators.md
  docs/specs/STRUCTURED_OUTPUT_VALIDATOR_SPEC.md
Due: none

ExecPlan: Design composable Scherzo workstreams without a mandatory giant workflow
  docs/plans/LIV-241-composable-workstreams-uberplan.html
Due: none

Implement LIV-245: Investigate Pi RPC compaction fallback during context-exhaustion recovery
  src/scherzo/agent/context_recovery_artifact.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/pi/client.gleam
  test/agent_runner_test.gleam
  test/context_recovery_artifact_test.gleam
  test/fixtures/fake_pi_rpc.sh
  test/pi_client_test.gleam
Due: gleam-format

Implement LIV-246: Make context-recovery diagnostics mark exhausted recovery unambiguously
  src/scherzo/agent/context_recovery_artifact.gleam
  src/scherzo/agent/run_attempt.gleam
  src/scherzo/error.gleam
  src/scherzo/handoff_format.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/workflow_run.gleam
  test/agent_runner_test.gleam
  test/source_guardrail_test.gleam
  test/workflow_run_test.gleam
Due: gleam-format

fix(orchestrator): fixed retry cancellation and review artifact validation
  .pi/extensions/scherzo-review-lane-draft/index.ts
  .scherzo/workflows/prompts/review-native-correctness.md
  .scherzo/workflows/prompts/review-native-idioms-maintainability.md
  .scherzo/workflows/prompts/review-native-security-performance.md
  .scherzo/workflows/prompts/review-native-test-quality.md
  src/scherzo/orchestrator/core.gleam
  src/scherzo/orchestrator/transition.gleam
  src/scherzo/result_artifact.gleam
  src/scherzo/state/recovery.gleam
  src/scherzo/workflow_structured_retry.gleam
  src/scherzo_port_ffi.erl
  test/orchestrator_core_test.gleam
  test/port_test.gleam
  test/result_artifact_test.gleam
  test/source_guardrail_test.gleam
  test/state_recovery_test.gleam
Due: gleam-format

Implement LIV-248: Implement: Cut implementation review over to native staged review
  .scherzo/workflows/implementation.yaml
  .scherzo/workflows/prompts/code-review.md
  .scherzo/workflows/review-native.yml
  docs/review-artifacts.md
  scripts/scherzo-review
  test/review_artifacts_test.gleam
  test/review_native_workflow_test.gleam
  test/workflow_portability_test.gleam
Due: gleam-format

Path conditions:
  gleam-format: any of: *.gleam
  nix-format: any of: *.nix
